[2013-10-14 02:05] oldratlee opened #1 "包名修改成com.alibaba.mtc"

[2013-10-14 02:06] oldratlee opened #2 "Agent方式时，Executor的submit、execute方法禁止重写"
这样可以避免 Agent插入的`MtContext`逻辑不被丢掉

[2013-10-14 02:14] oldratlee opened #3 "去slf4j & log4j的依赖"
Agent的使用方式，Jar要加到Boot ClassPath上（`-Xbootclasspath/a:`）
所以依赖一定要精简。

改成JDK的Log：`java.util.logging.Logger`

[2013-10-14 05:34] #1 closed, assigned to oldratlee

[2013-10-14 09:07] oldratlee opened #4 "在文档中添加使用场景的说明"
https://github.com/alibaba/transmittable-thread-local/blob/master/docs/requirement-scenario.md

[2013-10-14 09:33] oldratlee opened #5 "给出用户自己的Agent嵌入MTC Agent的文档&示例"
如果用户也有Agent，这样可以减少Java参数上Agent参数的个数，简化Agent匹配。

[2013-10-14 13:02] #3 closed, assigned to oldratlee

[2013-10-14 14:47] oldratlee opened #6 "加上逻辑线程检查逻辑，保证MtContext的方法调整只能发生在它所属的线程，避免误用"

[2013-10-15 00:35] oldratlee opened #7 "支持Timer"
- 提供TimerTask的MtContext的Wrapper
- Agent方式修改TimerTask类

以解决MTC可能失效的问题

[2013-10-15 01:36] oldratlee opened #8 "在传递时，支持对象拷贝，不是引用拷贝"

[2013-10-15 02:47] #8 closed, assigned to oldratlee

[2013-10-16 02:51] oldratlee opened #9 "文档说明，Agent使用方式，什么情况下会让mtc失效"
如
- 使用Timer
- 继承ThredPool，覆盖了execute方法

[2013-10-17 06:07] oldratlee opened #10 "发布到Maven中央库中"
New Project on sonatype:
https://issues.sonatype.org/browse/OSSRH-7596

Position in maven repo:
http://central.maven.org/maven2/com/alibaba/multithread.context

release console:
https://oss.sonatype.org/index.html

PS:
- [Sonatype OSS Maven Repository Usage Guide](https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide)
- [Github项目发布到Maven Central](http://patch.1kapp

[2013-10-17 10:38] #9 closed, assigned to oldratlee

[2013-10-20 05:25] oldratlee opened #11 "用户代码如果有ThreadPool的子类且覆盖了execute、submit等方法，则在覆盖方法中补上插入MTC的逻辑"
以解决MTC可能失效的问题

[2013-10-21 14:05] #5 closed, assigned to oldratlee

[2013-10-21 14:57] #4 closed, assigned to oldratlee

[2013-10-21 15:00] oldratlee opened #12 "改用低版本的javassist 3.9.0.GA"
避免与再有应用的兼容性问题

commit: 6888411dd2dfe95f0e634fabd73675d8eac1e00f

[2013-10-21 15:01] #12 closed, assigned to oldratlee

[2013-10-21 15:09] oldratlee opened #13 "文档中说明，Agent方式失效Case的权衡策略"

[2013-10-22 11:57] oldratlee opened #14 "提供英文的README"

[2013-10-23 02:42] oldratlee opened #15 "Clean pom for release to sona"
POM requirements: [Central Sync Requirement](https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide#SonatypeOSSMavenRepositoryUsageGuide-6.CentralSyncRequirement)

[2013-10-23 02:44] #15 closed, assigned to oldratlee

[2013-10-23 03:33] #10 closed, assigned to oldratlee

[2013-10-23 06:03] oldratlee opened #16 "javassist依赖的scope改成provided"
0.9.2修改依赖时，误改了。

[2013-10-24 02:28] oldratlee opened #17 "API调整成ThreadLocal风格"
使用方式由：

[code]

改成：

[code]

这样API的好处：
- 不需要接管对象的创建，这样不需要提供Copyable接口。更友好。
- 不需要检查调用线程，只能是当前线程 #6 。更安全。

[2013-10-31 12:06] #16 closed, assigned to oldratlee

[2013-10-31 12:24] #13 closed, assigned to oldratlee

[2013-12-07 08:01] #17 closed, assigned to oldratlee

[2013-12-07 08:02] #6 closed, assigned to oldratlee

[2013-12-07 09:24] oldratlee opened #18 "保证MtContextThreadLocal本身的引用不会被持有，避免Memory Leak问题"
通过com.alibaba.mtc.MtContextThreadLocal#mtContextThreadLocalHolder（ThreadLocal类型）来持有MtContextThreadLocal，是通过WeakReference来持有的。

[2013-12-07 09:26] #18 closed, assigned to oldratlee

[2013-12-07 10:05] oldratlee opened #19 "性能测试"
- 压力测试
- 内存溢出
- TPS

[2013-12-07 10:08] oldratlee opened #20 "更新文档，说明ThreadLocal的使用方式"

[2013-12-07 11:29] #20 closed, assigned to oldratlee

[2013-12-08 08:26] oldratlee opened #21 "设计/使用/思考文档整理"
设计/使用 的 思考分享。

# User Guide

- [x] #128   ❤️
- [ ] API风格调整成 ThreadLocal使用方式 的设计原因（`v0.10.0`做的调整） ❤️
- [ ] ThreadLocal的内存泄漏安全&线程安全分析 ❤️
- [ ] #40
- [x] #55
- [x] #64
- [x] #22
- [x] #4  ❤️
    - [x] #57

# Dev Guide

- cancelled #93
- [x] #42 ❤️
- [x] #61
- [x] #24
- [x] #41 ❤️
- `Agent`
    - [x] #37
    - [x] #5
    - [x] #9
    - [x] #13  ❤️

# And...

- [ ] #58 🔥

[2013-12-08 16:38] oldratlee opened #22 "README中加一个时序图，用于辅助说明使用"
主要是清晰地说明MTC使用方式，图比文字更直观：

把 任务提交给线程池时的上下文传递到 任务执行时。

[2013-12-10 01:04] oldratlee opened #23 "添加ut，验证线程池的不同使用方式"

[2013-12-25 13:25] #23 closed, assigned to oldratlee

[2013-12-25 16:54] oldratlee opened #24 "在文档中添加：性能测试数据"
与ThreadLocal对比：
- TPS
- 内存泄漏情况说明

[2013-12-27 13:02] #24 closed, assigned to oldratlee

[2013-12-27 13:02] #19 closed, assigned to oldratlee

[2013-12-28 13:38] oldratlee opened #25 "优化addMtContextThreadLocal和removeMtContextThreadLocal方法"
`com.alibaba.mtc.MtContextThreadLocal#addMtContextThreadLocal`和`com.alibaba.mtc.MtContextThreadLocal#removeMtContextThreadLocal`方法，目前的时间复杂度是`O(n)`，`n`是MtContextThreadLocal的实例个数。

[2013-12-28 13:40] oldratlee opened #26 "MtContextRunnable和MtContextCallable支持调用后释放马上释放MtContextThreadLocal，避免内存泄漏"

[2013-12-28 14:05] #26 closed, assigned to oldratlee

[2013-12-28 15:34] #14 closed, assigned to oldratlee

[2013-12-28 15:39] oldratlee opened #27 "add LICENSE file"

[2013-12-28 15:39] #27 closed, assigned to oldratlee

[2013-12-29 07:47] #22 closed, assigned to oldratlee

[2013-12-29 15:01] oldratlee opened #28 "MtContextThreadLocal.holder改成WeakHashMap"

[2013-12-29 15:29] #28 closed, assigned to oldratlee

[2013-12-29 15:30] #25 closed, assigned to oldratlee

[2013-12-31 16:39] oldratlee opened #29 "重做性能测试"

[2014-01-06 06:34] #29 closed, assigned to oldratlee

[2014-01-09 08:59] oldratlee opened #30 "把代码编译级别设置java 1.5，方便大家使用"

[2014-01-12 13:03] #30 closed, assigned to oldratlee

[2014-01-19 11:02] oldratlee opened #31 "com.alibaba.mtc.MtContextThreadLocal#copyValue(T)改名copy"

[2014-01-19 11:03] #31 closed, assigned to oldratlee

[2014-01-28 08:29] oldratlee opened #32 "Java agent实现上Attach的使用方式"

[2014-01-29 18:01] oldratlee opened #33 "在GitHub上放上API的JavaDoc文档页"
用Github pages即可

[2014-02-03 17:32] oldratlee opened #34 "为MTC申请一个邮件列表"
@ http://mtc.59504.x6.nabble.com

[2014-02-03 17:32] #34 closed, assigned to oldratlee

[2014-03-12 09:33] #33 closed, assigned to oldratlee

[2014-03-20 17:36] oldratlee opened #35 "添加持续集成 https://travis-ci.org"

[2014-03-21 15:43] #35 closed, assigned to oldratlee

[2014-03-26 06:49] oldratlee opened #36 "com.alibaba.mtc.MtContextRunnable#get、com.alibaba.mtc.MtContextCallable#get方法不应该幂等"
调用`com.alibaba.mtc.MtContextRunnable#get`、`com.alibaba.mtc.MtContextCallable#get`方法的意图是保存的是方法调用时的线程上下文。

这样方法如果幂等，则实际效果是之前生成的`MtContextRunnable`、`MtContextCallable`时所保存的上下文。即抓取的上下文是错的。

如果传入的MtContextRunnable、MtContextCallable应该 **FastFail**！实现上可以抛出`IllegalStateException`异常。

[2014-04-07 17:03] oldratlee opened #37 "文档中添加agent使用方式的示例代码"

[2014-04-12 10:56] #37 closed, assigned to oldratlee

[2014-04-13 10:07] oldratlee opened #38 "MtContext的设置和恢复时没有处理子中多余Key的情况"
1. 恢复子时没有处理子中多余Key的情况，结果是：
   子比父多的MtContext被保留在留在子中。
2. 设置子时没有处理子中多余Key的情况，结果是：
   在运行子时，有比父多多的Context！

上面2点合起来，结果是：
在子运行中多出来的Key，被一直保留了。

这打破了MtContext执行时独立的上下文的效果。

[2014-04-13 10:55] #38 closed, assigned to oldratlee

[2014-04-13 10:57] oldratlee opened #39 "Agent的测试方式的测试加到travis-ci中"

[2014-04-13 11:27] #39 closed, assigned to oldratlee

[2014-04-13 13:15] #36 closed, assigned to oldratlee

[2014-04-13 16:48] oldratlee opened #40 "梳理：在agent修饰jdk线程池中，TTL的修饰执行情况"
在agent修饰jdk线程池中，TTL的修饰执行情况，要看的是

对于线程池不同的使用方式，有没有多次冗余的TTL的修饰。

[2014-04-13 16:58] oldratlee opened #41 "文档说明在bootstrap classloader添加jar可能的影响和规避方法"
添加了javassist的jar到bootstrapt classloader中，会让应用的javassist的依赖不能生效。

可以通过repackage javassist来规避

[2014-04-20 09:25] oldratlee opened #42 "文档添加：Developer Guide、MTC使用的整体构架"

[2014-04-20 09:25] #42 closed, assigned to oldratlee

[2014-04-20 10:58] oldratlee opened #43 "添加Repackage Javassist的脚本，在CI上运行Repackage后的测试"

[2014-04-20 10:59] #43 closed, assigned to oldratlee

[2014-04-20 13:02] #41 closed, assigned to oldratlee

[2014-04-20 13:47] oldratlee opened #44 "提供包含repackage过的javassist依赖的Maven依赖版本"
方便用户直接引用以规避bootstrap classpath上的依赖冲突问题。

可以使用maven的sharding插件完成依赖生成

[2014-04-22 07:09] #44 closed, assigned to oldratlee

[2014-04-23 11:58] oldratlee opened #45 "确认javassist的repackage操作的影响"
看了javassist的代码有用类名反射的代码，而repackage改变了类名

[2014-05-03 03:33] oldratlee opened #46 "添加Coveralls，显示测试覆盖率"
https://coveralls.io/r/alibaba/multi-thread-context

[2014-05-03 12:24] #46 closed, assigned to oldratlee

[2014-05-14 12:12] oldratlee opened #47 "提高单元测试覆盖率，覆盖agent功能"

[2014-12-18 07:10] oldratlee opened #48 "add .gitignore file"

[2014-12-26 11:10] #48 closed, assigned to oldratlee

[2015-06-15 01:56] bwzhang2011 opened #49 "能否提供与LOG4J(2)中的MDC集成（或增强）"
Hi～

注意到`multiple-thread-context`提供了上下文线程变量的传递，并提供了针对`Runnable`及`Callable`的支持。由于上述场景中有一部分是用在日志中，当前`log4j(2)`提供了`MDC`的支持。

想问的是，能否提供一个针对其的增强支持，以`log4j2`为例已经提供了入口操作的类`ThreadContext`，若在`Executor`中传递则需要 使用 该类中的 `getContext()` and `cloneStack()` 方法。

此外，框架是否考虑了如何清除这些线程安全变量（以`WEB`为例大多数是在`filter`里面使用`PUT`然后 执行完毕后 `POP` 或 `CLEAR`）——是否有好的建议（以`multi-thread-context`的使用为例）。

[2015-06-15 03:15] oldratlee commented on #49
`LOG4J(2)`的集成 想法不错，我理解和思考一下你说的实现过程。

另外，在`MDC`的需求说明中，关于日志场景的说明还是比较模糊的，你能给一下更明确实际些的场景说明不？  @bwzhang2011

[2015-06-15 06:35] bwzhang2011 commented on #49
@oldratlee, 感谢回复。使用MDC是用来记录跟应用上下文环境中需要保存的一些数据，比如请求类提取的、跟执行有关的跟踪信息还有当异常发生的时候提取的，这些可以在appender中的layout来指定这些信息（比如%X{key1}: %X{key2}等）。一般场景可以是：
1. filter类中写入parent thread的内容（MDC.put）——带有一traceId或其余标记信息（用户）
2. 业务类中写入业务类的信息（MDC.put）——可提取跟traceId或标记有关的信息（提取），并保存其余的消息（跟本线程有关的）并进行保存保存
3. 清空filter的线程变量，finally {ThreadContext.clearAll(}

[2015-06-16 14:56] oldratlee commented on #49
`MtContextThreadLocal`提供了新方法：

[code]

[MtContextThreadLocal.java](https://github.com/alibaba/multi-thread-context/blob/listener/src/main/java/com/alibaba/mtc/MtContextThreadLocal.java#L35-39)

可以覆盖这个方法 来完成 `log4j2`的设置，达到`filter`的效果。

[code]

完成示例：[Log4j2ContextFilter.java](https://github.com/alibaba/multi-thread-context/blob/listener/src/test/java/log4j2/Log4j2ContextFilter.java#L24-35)
\# [log4j

[2015-06-17 12:43] oldratlee opened #50 "add callback method beforeExecute/afterExecute for MtContextThreadLocal"
User can override callback method when need prepare biz something before/after task object execute.

See #49

[2015-06-17 13:35] #50 closed

[2015-06-17 14:02] oldratlee commented on #47
测试覆盖率中排除了`com.alibaba.mtc.threadpool.agent`包，因为在`.travis.yml`配置了：

[code]

包含了`agent`的测试。 :smile_cat:

[2015-06-17 14:02] #47 closed

[2015-06-17 15:32] #49 closed

[2015-06-17 16:53] oldratlee commented on #49
[v1.2.0](https://github.com/alibaba/multi-thread-context/releases/tag/v1.2.0) 已发布。 @bwzhang2011

[2015-06-18 01:12] bwzhang2011 commented on #49
@oldratlee, 我再仔细看一下，看是否能合到工程中。T.K.S

[2015-06-18 15:59] bwzhang2011 commented on #49
@oldratlee, SL4J中MDC类依赖于MDCAdapter，个人感觉如果集成则需要提供一个针对其的实现。这样我仍然只需要操作MDC即可。

[2015-06-19 05:33] oldratlee commented on #49
相关的 `SL4J`的`MDC` 和 `multiple-thread-context`的集成，涉及如果设置业务的`Log Context`如`trace-id`，这个需要业务来完成， `multiple-thread-context`提供能力就好了。

你说能一下 『针对其的实现』如何做，给一下示例代码？

如果你比较清楚了，能直接实现一下，给个`PullRequest`吗？ @bwzhang2011

[2015-06-23 02:28] bwzhang2011 opened #51 "slf4j MDCAdapter with multi-thread-context 支持"
@oldratlee, 能否进一步提供`multi-thread-context`针对`slf4j MDCAdapter`的集成支持。`MDCAdapter`是`slf4j spi`的定义， `logback`以及`log4j2`等均提供了实现。

但个人感觉里面的跨线程上下文传递应该没有`multi-thread-context`考虑得那么完备（也能否帮忙看一下`LOG4J2`内部的实现能否满足`multi-thread-context`实现的那样），鉴于日志场景中许多事基于`slf4j`的（不想`MDC`的地方调用了一次，然后又调用一次`multi-thread-context`中`threadLocal`方式），看能否提供一个这样的替代实现（或者通过`java instrument api`替代掉原有的`MDCAdapter`实现--可由`multi-thread-context`实

[2015-06-23 02:41] bwzhang2011 commented on #51
@oldratlee，是否考虑对multi-thread-context的一些使用增强一下。类似于sl4j的MDC类，大部分类似于MAP的操作，不需要关心threadLocal的操作(如创建、初始化等，这个操作由MdcAdapter来完成)。

[2015-06-23 04:35] oldratlee commented on #51
你说的`sl4j`是指[`slf4j`](http://www.slf4j.org/) 是吧？

从『`MDC`的地方调用了一次，然后又调用一次`multi-thread-context`中`threadLocal`』的方式 到 提供 `MDCAdapter SPI`的实现，是把前一种方式中『两次设置』的逻辑 在`MDCAdapter SPI`中实现。

提供一个`MDCAdapter SPI`实现。

思路OK的。

你了解一下如何开发`MDCAdapter SPI`，然后给个实现一个不？求贡献代码，如何？ :smile_cat:

PS： 最近比较没有没有时间去看 `MDCAdapter SPI`的用法。

[2015-06-23 04:51] bwzhang2011 commented on #51
@oldratlee, sorry，那是笔误。就使用而言，
//省略
ThreadContext.put(TRACE_ID, TRACE_ID_VALUE);
 mtc.get().put(TRACE_ID, TRACE_ID_VALUE);

上述需要你写两步，一步是调用ThreadContext下一步是使用mtc，但都是同样上下文变量的处理。所以这样的集成实际价值不大（也就是要么以MDC的处理方式为主，要么以MTC为主）

MDC中也集成了threadlocal的使用，但不清楚是否达到了MTC的效果。MTC对于跨现场的处理中有restore这样的方式（但貌似MDC的实现，即MDCAdapter关联的部分又没有，就不确定是否能达到等同的传递线程变量的效果了）

[2015-06-23 05:06] oldratlee commented on #51
`ThreadLocal`不能解决到Thread Pool线程的Context，MTC解决这个问题，本身就是继承`ThreadLocal`实现的。

另外，看了一下，`slf4j`的[`MDC`实现类](http://grepcode.com/file_/repo1.maven.org/maven2/org.slf4j/slf4j-api/1.7.12/org/slf4j/MDC.java/?v=source)：

[code]

`slf4j`加载具体实现`StaticMDCBinder`类，是通过静态类名加载的，如 `Log4j`提供的`StaticMDCBinder`类如下：

[code]

写了要加载的`Log4jMDCAdapter`类，所以不能换`Log4jMDCAdapter`的实现。

[2015-06-23 05:23] oldratlee commented on #51
要加强`slf4j`的设计，以支持 自动定义`MDCAdapter`，这个估计，比较慢，并且需要和`slf4j`的同学聊。

如果跨`ThreadPool`线程传递LogContext，你现在有需要，推荐先按之前 可以Run方案做了，后面再跟进`slf4j`的问题吧。

[2015-06-23 05:43] bwzhang2011 commented on #51
@oldratlee, 的确。对了，鼎哥能否确定一个时期。就是log4j2的threadContext也有类似的提示：
However, as discussed in the Executors class and in other cases where thread pooling is utilized, the ThreadContext may not always be automatically passed to worker threads. In those cases the pooling mechanism should provide a means for doing so. The getContext() and cloneStack() methods can be used to obtain copies of the Map and Stack

[2015-06-23 06:12] bwzhang2011 commented on #51
@oldratlee, 我使用log4j2对应的MDCAdapter实现。感觉跨线程（包括executorService）也是可以的，但不清楚什么时候是无效的，譬如上述文档中的may not be always be passed to worker thread. 作为建议还是希望工程自身提供一个近似MDC的帮助类，这样我可以不去管mtc的创建，只需要与其进行操作即可。

[2015-06-23 06:27] oldratlee commented on #51
无效时候，应该就是`MTC`要解决的问题对应的情况。

PS： 这是不停地给我派活啊。。。

[2015-06-23 07:54] bwzhang2011 commented on #51
@oldratlee，这不是我的本意啊，不过你也是大牛了。俗话说得好送佛送到西，我刚才表述的想必你也能理解了。如果能进一步的话，至少 MTC可以作为MTC的非官方的缺省实现，既可以满足日志需求也可以满足上下文传递所需要的其他场景。之所以要用MDC的日志，是因为我们的平台有做日志归集的需求，需要通过类似syslog appender这样的流将本地的日志上传到远端比如FLUME。而改动应用最小的又能现有结合比较好的就只有日志LOGGER（而slf4j则当前用得比较广泛）。以MDC来比较MTC的一些测试类，当然MDC更直观（里面是一些静态方法，直接操作就OK了），想必这也是MTC可以进一步可便利化的地方，拜托了。

[2015-06-23 12:57] oldratlee commented on #51
客气了~

目前`slf4j`目前不能指定`MDCAdapter`的实现，一个做法把`slf4j-impl`中的`MDCAdapter`实现改了，加上`multi-thread-context`的逻辑。

这样的解法，使用者需要使用改写了的`slf4j-impl`。

另外，从你的说明来看，传递`multi-thread-context`对应用代码是透明的（不期望应用代码使用`MtContextRunnable`或是`MtContextCallable`），在Java的启动参数加上：

- `-Xbootclasspath/a:/path/to/multithread.context-1.1.0.jar`
- `-javaagent:/path/to/multithread.context-1.1.0.jar`

[2015-06-23 13:56] oldratlee commented on #51
slf4j-log4j12实现中的MDCAdapter实现修改了，支持`MTC` https://github.com/oldratlee/log4j-slf4j-impl-patch-mtc  @bwzhang2011

[2015-06-23 23:15] bwzhang2011 commented on #51
@oldratlee, 非常感谢持续的改进和推动。如有问题或其他建议，再在那个patch上跟进和沟通。

[2015-06-23 23:15] #51 closed

[2015-06-26 04:22] oldratlee commented on #51
@bwzhang2011 用起来了？可以反馈一下问题解决的如何 :)

[2015-06-27 04:03] bwzhang2011 commented on #51
@oldratlee, 可以用起来。感觉跟直接用MDC差不不大，能否直接替代掉ThreadContext中的ThreadContextMap的实现。

[2015-06-27 04:23] oldratlee commented on #51
整个过程用起来还是有些麻烦，给力！:+1:

给给一下期望使用方式的代码吗？方便我感觉一下 :smile:

[2015-06-28 14:57] bwzhang2011 commented on #51
@oldratlee, 抱歉昨天忘记看回复了。是的，诚如你说的。如果能在实现中替代掉应该是比较直接的方式，可否增加mtc-extension的工程，如果可如此替代的话。以log4j2中依赖https://github.com/apache/logging-log4j2/blob/master/log4j-api/src/main/java/org/apache/logging/log4j/spi/DefaultThreadContextMap.java，可否通过agent方式替代掉这个。

[2015-06-28 15:15] bwzhang2011 commented on #51
@oldratlee, 不知道上述想法是否可行，还是会存在问题。如果adapter中实现的部分均是靠threadContextMap的threadLocal关联的map来操作，若替代成MTC的threadlocal是否能解决问题。可避免新的工程，不知是否可行。

[2015-06-29 02:29] bwzhang2011 commented on #51
@oldratlee, 我再仔细REVIEW了LOG4J2中的ThreaContext代码。其中初始化的部分：
final String threadContextMapName = managerProps.getStringProperty(THREAD_CONTEXT_KEY);
        final ClassLoader cl = ProviderUtil.findClassLoader();
        if (threadContextMapName != null) {
            try {
                final Class<?> clazz = cl.loadClass(threadContextMapName);
                if (ThreadContextMap.class.isAssignableF

[2015-06-29 02:32] bwzhang2011 commented on #51
@oldratlee，我到那个patch上提一个issue了。看能否提供一个你的官方实现。

[2015-07-10 18:36] oldratlee commented on #51
按你的这个方案，实现了 https://github.com/oldratlee/log4j2-mtc-thread-context-map

把这个依赖放到项目中，即开启 `Log4j2`用`MtcThreadContextMap`。

[2015-07-31 07:50] wuwen5 opened #52 "tomcat中启动报错"
[code]

是否是我使用的不对呢？
[code]

[2015-07-31 07:57] oldratlee commented on #52
应该是`tomcat`的Bug：
http://stackoverflow.com/questions/25279729/tomcat-7-annotation-scanner-and-jdk-8-with-parameters-compiler-flag-exceptions

你试试

[2015-07-31 08:23] wuwen5 commented on #52
非常感谢！这个问题ok了 现在有其他错误了，我先看看.

[2015-07-31 08:23] #52 closed

[2015-07-31 16:53] wuwen5 commented on #52
看了下，是javassist-3.19.0-GA版本中https://github.com/jboss-javassist/javassist/commit/c499faf6a8579cdfd266a22c2d5ef491d3bea6cb
增加了编译器参数-parameters
[code]
这个是java8才有的新特性，虽然target是1.6，但是增加了编译参数，编译出来的class字节码增加了元数据,导致tomcat bug暴露出来，tomcat 7.0.56修复了对MethodParameters的支持，但tomcat7最新版本中彻底去掉了swallowMethodParameters的处理。

感觉javassist-3.19.0 用了1.8的特性编译出来的major version: 50版本 不知道在jdk7以下版本会不会有其他兼容性问题。

[2015-08-01 03:48] oldratlee commented on #52
由java8新功能引起来问题，Tomcat又对症下药了，应该问题不大。

[2015-11-29 08:55] wyzssw opened #53 "分布式追踪系统场景下，如何使用MTC"
子线程无法修改父线程 threadlocal，不知道设计时是否支持该功能

[code]

打印出

[code]

[2015-11-29 09:13] oldratlee commented on #53
你好，MTC 本身是 `ThreadLocal`（继承关系），不同的线程各自有一份，即是独立的。

和`ThreadLocal`一样，往往是`static`，全局一份，通过`MtContextThreadLocal`变量查看/修改的自己线程的哪个拷贝。

[code]

[2015-11-29 09:35] oldratlee commented on #53
可以先说说你的需求/要解决的问题。再看看合适的解决方案。

[2015-11-30 10:24] wyzssw commented on #53
我现在做一套分布式追踪系统，比如一次rpc调用，client-A调用server-B，server-B要多线程并行调用server-C和server-D获取结果，server-B聚合结果返回给client-A。
框架里面要对这次调用链记录traceId和spanId(类似淘宝鹰眼的rpcId),在上述例子中，client-A 到 server-B的调用标识(spanId)为1,server-B 到server-C的调用标识(spanId)为1.1，server-B到server-D的调用标识(spanId)为1.2。
      在同一trace调用链中，每个spanId是唯一的，server-B将接收到由client-A生成的spanId放到MtContextThreadLocal<String>变量名 spanIdLocal，还有一个变量MtContextThreadLocal<Atm

[2015-11-30 17:54] oldratlee commented on #53
明白你的场景了，分布式追踪系统是个赞组件 :+1:

把你说的Server调用，展开画个示意图：

[code]

[2015-12-01 18:04] wyzssw commented on #53
多谢回复

是的，和你的思路是一样的，traceId 的多线程传递我用的就是MTC，唯一一点侵入就是需要业务代码中使用MtContextExecutors修饰下线程池。

[2015-12-03 06:51] oldratlee commented on #53
关于『用全局的ConcurrentMap实现 TraceId对应的 当前Server一级的SpanId的使用记录』，调用完成时，需要清除Map中的 TraceId 的条目，避免内存泄漏，TraceId随着时间推移会有很多。

你是如何做的？

[2015-12-04 03:30] wyzssw commented on #53
你到提醒了我，我之前没有考虑oneway方法的rpc请求，只考虑了父线程会等到所有子线程的结果，每次都是server receive时put操作，server send时remove操作，我再想下好的方案，或者大牛你有好的方案还请不吝赐教。

jvm参数加agent，业务方估计会比较排斥，因为不知道agent修改了哪些类，会担心影响性能和安全

[2015-12-04 06:48] oldratlee commented on #53
关于『jvm参数加agent，业务方估计会比较排斥，因为不知道agent修改了哪些类，会担心影响性能和安全』：

- 关于『性能』，可以自己再测试一下。
- 关于『安全』，所有的代码是开源白盒的，确定实现机制和修改内容即可。

上面的事情是一次性的，比起业务不透明，让使用方代码保证，投入个人感觉是值得的。当然，前提是『你可以接管容器的运行方式』 :smile:

[2015-12-04 08:57] wyzssw commented on #53
现在我们后端服务没有使用tomcat，只有api层使用了tomcat，后端各个服务都是一个单独的thrift-server，如果要添加agent需要事先将multithread.context-1.1.0-SNAPSHOT.jar部署到线上服务器上，或者放在工程lib目录里，对发布部署迁移升级带来些额外工作量。

[2015-12-04 09:43] oldratlee commented on #53
我想到的解法是对『traceId』的Map做引用计数。

具体参见 [DistributedTracerUseDemo](https://github.com/alibaba/multi-thread-context/blob/distributed-tracer-support/src/test/java/com/alibaba/mtc/DistributedTracerUseDemo.java#L108)。

运行结果：

[code]

PS： 没有时间细说，看代码吧～

[2015-12-04 12:28] oldratlee commented on #53
当然简单主的话，跨线程池时，让用户自己传递一下Context。

[code]

这样 让用户麻烦一些，但完全避开MTC及Context的持有和计数的问题。

[2015-12-04 15:34] wyzssw commented on #53
太赞了，借助的MTC submit 的前置和后置方法 进行引用计数操作完美解决了这个问题。不过我使用的1.2.0版本没法成功执行 DistributedTracerUseDemo.java，子线程runnable对象退出未执行下列方法
[code]
我clone了distributed-tracer-support分支是运行成功了，可否将新版本发布到maven仓库中？

我在`thrift-rpc`框架中添加了`tracerFilter`可以在client端或者service端执行`invokeBefore` 和`invokeBefore` 方法，添加增减计数操作，但是如果父线程执行比较快，还未来得及执行子线程，父线程退出，计数操作为0就清空了计数器，使用MTC在submit前执行计数加1，完美解决了这个问题。

我的`trace`框架只开放给使用方`TraceIdContext.getT

[2015-12-05 02:05] oldratlee commented on #53
是的，distributed-tracer-support分支有修复这个问题的提交。尽量今天会合到`master`，并发布。

『trace框架只开放给使用方TraceIdContext.getTraceId()方法』赞成！

推荐建议：

- `TraceIdContext.getTraceId()` 类名改成 `TraceContext.getTraceId()` ，概念范围上比较自然些，也方便把其它信息放到 `TraceContext`中。
- 如果让用户帮助触发做引用计数，方法名推荐『borrow/return』。这样可以体现要配套调用且不能多次调用 的契约。

:+1:
`Dapper`之前了解过，论文还一直没有去读

[2015-12-05 02:55] wyzssw commented on #53
:+1:  多谢大牛的指点，我会在代码里改正，又学到不少东西，之前你写的show-busy-java-threads.sh我一直在用 :smile:

[2015-12-06 07:18] oldratlee opened #54 "没有 afterExecute 的回调"

[2015-12-06 09:20] #54 closed

[2015-12-06 09:50] oldratlee commented on #53
Fix了 『没有 afterExecute 的回调 #54 』

[1.2.1 release](https://github.com/alibaba/multi-thread-context/releases/tag/v1.2.1)了，已经发到了Maven中央库了。

关于前面说的『引用计数』解法，在`Java`里因为有`GC`，复杂了，使用`WeakReference`来解更合适。

详见Demo [DistributedTracerUseDemo_WeakReferenceInsteadOfRefCounter.java](https://github.com/alibaba/multi-thread-context/blob/master/src/test/java/com/alibaba/mtc/demo/distributed_tracer/DistributedTracerU

[2015-12-06 18:59] wyzssw commented on #53
多谢发布，之前考虑过用guava weakvalue，但是无法达到需求，我看新demo也有这个问题 ，父线程退出，子线程还没来得及执行，会出现强引用退出，只剩下cache中弱引用触发remove。
我在127行和135行分别打了断点会出现LeafSpanIdInfo is NOT present, Bug情况
[code]

[2015-12-07 14:12] oldratlee commented on #53
问题Fix了，见上面的提交。

MtContextThreadLocal 的持有是安全的，线程退出时，会被释放，不影响GC。

结果如下：

[code]

[2015-12-07 14:27] oldratlee commented on #53
『让 MtContextThreadLocal 持有 LeafSpanIdInfo』的做法应该是 正解！

再看了一下代码，这样做了之后，不再需要`CacheBuilder`，实现 简单直接了不少！

详见 提交 798eff8e7cf80098db212f1498c3b8bbb3c86d64

[2015-12-07 18:13] wyzssw commented on #53
经过你这么一说，我也明白了，MTC在传递给子线程时并不是深拷贝，用版本1.2.0也可以，只不过要改下类型
[code]

输出
[code]
 『为了让性能测试 更容易发现问题，在测试时，让MtContextThreadLocal多持有一个测试用时Dummy大对象即可』,:+1: 新技能get√，多谢指点 :smile:

[2015-12-07 18:27] oldratlee commented on #53
缺省是浅拷贝，可以通过覆盖`copy`方法自定义。这个行为 1.2.0 和 1.2.1 是一样的。1.2.1只修复了afterExecute回调有的bug。

整个过程应该无需Optional的。

[2015-12-07 18:48] wyzssw commented on #53
嘿嘿，果然，去除Optional也行:+1:

[2015-12-07 18:54] oldratlee commented on #53
多谢反馈，发现了bug，也一起深入梳理了 分布式追踪 场景mtc的使用方式。:+1:

close了

[2015-12-07 18:54] #53 closed

[2015-12-08 01:58] wuwen5 commented on #52
@oldratlee javassist 已经fix了这个问题:blush:
https://github.com/jboss-javassist/javassist/commit/0e40ca2a33a9f01dd9ca813ef4b5dea60267fd09

之前给javassist提了个pr，已经合入主干了，javassist-3.19.0-GA版本 担心有兼容性问题，比如上次引发的tomcat bug。

[2015-12-08 02:57] wyzssw commented on #53
嗯，和牛人交流，收获很多，以后多多交流:clap:

[2015-12-08 04:23] oldratlee commented on #52
牛B！！  :cow2:  :+1:

[2015-12-08 06:29] wuwen5 commented on #52
还没release， 从readme上看 应该计划在3.21版本中发布。
对应JASSIST-245

[code]

[2015-12-11 16:08] oldratlee commented on #53
通过`finalize`方法，重新输出`GC`操作日志。

可以确认到100%回收了`DtTransferInfo`对象。

[2015-12-13 09:09] oldratlee opened #55 "文档中说明关键方法/回调方法，在什么时候调用/有什么作用，方便用户了解MTC整体流程"
关键方法/回调方法 包含：

1. `java.lang.ThreadLocal#initialValue`
1. `java.lang.InheritableThreadLocal#childValue`
1. `com.alibaba.mtc.MtContextThreadLocal#copy`
1. `com.alibaba.mtc.MtContextThreadLocal#beforeExecute`
1. `com.alibaba.mtc.MtContextThreadLocal#afterExecute`

可以在时序图中，直接补充说明，是设计的一部分 #21 。

[2015-12-21 06:00] oldratlee opened #57 "更加系统的说明场景：应用容器或上层框架跨与下层SDK的Context、日志Context、分布式追踪系统Context"

[2015-12-29 01:35] bwzhang2011 commented on #57
+1

[2016-01-28 15:17] oldratlee opened #58 "英文文档和中文同等详细"

[2016-01-28 15:19] oldratlee opened #59 "重命名项目成 Transmittable ThreadLocal"
这样这个名字 直白地表达了项目的适用场景和用途，就是 加强ThreadLocal，解决ThreadLocal在有线程池组件的问题

[2016-01-28 15:20] oldratlee opened #60 "相关站点上 契合场景的问题上，说明上这个项目并给出相应的解法说明"
- [Java - creating logging context for multiple threads - stackoverflow](http://stackoverflow.com/questions/10167446/java-creating-logging-context-for-multiple-threads)
- [InheritableThreadLocal and thread pools - stackoverflow](http://stackoverflow.com/questions/7296623/inheritablethreadlocal-and-thread-pools)

依赖 项目更国际化：

- #58
- #59

[2016-01-28 15:25] oldratlee commented on #58
丰富ThreadLocal的讨论资料：

[待整理 ThreadLocal](http://wuaner.iteye.com/blog/435947) 这里的内容挺多，还不错，再收集条理一些。。。

[2016-02-14 17:21] #59 closed

[2016-02-15 10:51] #55 closed

[2016-02-15 10:53] oldratlee commented on #55
更新了 时序图，配合 JavaAPI Doc的说明 ， 可以有完整的说明。

更好的话，可以在文档中说明各个方法的功能，省得用户去查看JavaAPI Doc。

[2016-02-15 12:19] #57 closed

[2016-02-15 12:21] oldratlee commented on #57
参见 https://github.com/alibaba/transmittable-thread-local/blob/master/docs/requirement-scenario.md

[2016-02-15 14:49] oldratlee opened #61 "说明 TTL 2.x 版本 和 MTC 1.x 之间并存关系"
1. TTL（v2.x）  和 MTC（v1.x）2个版本使用不同的包名，不会互相影响
2. TTL（v2.x）  包含 MTC（v1.x），推荐 升级到 v2.x，并只使用 v2.x

[2016-02-18 04:47] oldratlee opened #64 "文档中『上下文』用词调整，只用在场景中说明中"

[2016-03-07 11:36] oldratlee opened #66 "clean duplicate code in TtlRunnable and TtlCallable"

[2016-03-07 11:43] #66 closed

[2016-05-02 14:31] #64 closed

[2016-05-25 10:52] edwinmin commented on #53
你好，backupAndSet和restore里面对于holder的迭代操作细节有点不太清楚，能大概解释下主要是什么目的吗？

[2016-05-25 11:13] edwinmin opened #67 "backupAndSet和restore里面对于holder的迭代操作"
请问`Transmittablethreadlocal` 中`backupAndSet`和`restore`方法对`holder`的迭代操作的主要目的是什么

[2016-05-25 11:27] oldratlee commented on #67
就着代码加上注释来解释吧

[code]

[2016-05-26 03:08] edwinmin commented on #67
多谢@oldratlee的解答
task线程即使设置ThreadLocal: B C 也是在backAndSet后执行，下面是TtlRunnable中的代码
Map< TransmittableThreadLocal <?>, Object> backup = TransmittableThreadLocal.backupAndSet(copied);
        try {
            runnable.run();
        } finally {
            TransmittableThreadLocal.restore(backup);
        }
backAndSet中holder.get()是肯定取不到的，也就是说只要在子线程中执行backAndSet里面的holder.get()都是拿不到值的，理论上这段迭代复制操作在新的子线程中运

[2016-05-26 05:27] oldratlee commented on #67
是的。`backAndSet` 和 `store` 是保证 运行时任务是copied ThreadLocal的值，运行完成后，执行任务的线程的ThreadLocal值不变。

对于使用线程池的场景，提交任务和运行任务的线程之间没有父子线程关系，所以需要主动copy，保证功能是正确的。

[2016-05-28 06:46] #67 closed

[2016-11-13 05:59] aftersss opened #70 "嵌入Thread调用的bug"
运行以下代码：
[code]

输出：

[code]

第二行不应该为null，改成使用`InheritableThreadLocal`是正常的。

[2016-11-14 13:54] oldratlee commented on #70
@aftersss 收到，我看看

[2016-11-14 15:53] oldratlee commented on #70
正确修复在进行中。

如果你急着解决，@aftersss 先给你一下bypass的方法：

[code]

[2016-11-14 17:27] oldratlee commented on #70
@aftersss 问题已经修复，参见 提交  c5ed61a 、87a02ab

发布了版本 `2.1.0`

[code]

[2016-11-14 17:27] #70 closed

[2016-11-15 10:47] aftersss commented on #70
OK,谢谢

[2016-11-15 11:04] oldratlee commented on #70
问一下你在在什么场景/需求下使用ttl，哪个公司/项目。收集了解一下用户 :P

[2017-02-07 03:20] wychenlong opened #71 "DistributedTracerUseDemo 空指针异常"
rpcInvokeIn 发起了两个线程异步执行任务调用，任务没有执行完成之前就执行了上下文清理

[2017-02-08 16:36] oldratlee commented on #71
@wychenlong 麻烦给一下信息，如 异常栈，方便我确定问题

[2017-02-11 02:11] wychenlong commented on #71
DEBUG: Increase reference counter(1) for traceId traceId_XXXYYY in thread main
Do Rpc invocation to server server 1 with {traceId=traceId_XXXYYY, spanId=1.1.1}
DEBUG: Decrease reference counter(0) for traceId traceId_XXXYYY in thread main
DEBUG: Clear traceId2LeafSpanIdInfo for traceId traceId_XXXYYY in thread main
java.lang.NullPointerException
	at com.jdjr.study.sgm.sgm.DistributedTracerUseDemo.

[2017-02-11 02:17] wychenlong commented on #71
increaseSpanIdRefCounter();

        ////////////////////////////////////////////////
        // Biz Code
        ////////////////////////////////////////////////
        syncMethod();

        ////////////////////////////////////////////////
        // DistributedTracer Framework Code
        ////////////////////////////////////////////////
        decreaseSpanIdRefCounter();

 syncMethod();异步执行的

[2017-05-10 07:17] YoleYu opened #72 "基于什么license啊？"
想copy了在公司用，不敢用。求个宽泛的license，懒的动手写了 — —

[2017-05-10 07:30] oldratlee commented on #72
@YoleYu Apache 2的license已经很宽了。

另外，推荐直接依赖，一是管理简单，二是方便升级。

问一下，有什么问题影响你直接使用了吗？ 😄

[2017-05-10 07:35] oldratlee opened #73 "【用户反馈收集】说一下您的使用场景、使用项目、公司，感谢！"
说一下您的公司、使用场景、使用项目、开始使用时间、使用方式等信息
\# 如有敏感的信息，说个大概就好了

1. 方便大家了解项目实际使用的情况
2. 方便给大家反馈和支持

谢谢！

[2017-05-11 02:28] wuwen5 commented on #73
公司:[欧飞网](http://www.ofpay.com)
项目: 所有java项目
使用场景: logback日志uuid跟踪，支持跨线程池的uuid传递.
开始使用时间: 2015年

使用方式: [logback-mdc-ttl](https://github.com/ofpay/logback-mdc-ttl)

dubbo接口通过```filter```在```RpcContext```中传递,http接口在请求头中统一传递和接收.

[2017-05-16 09:28] #72 closed

[2017-05-16 11:49] YoleYu commented on #72
有这个需求（thread pool 里面缓存的thread传值的问题），本来想自己写，然后搜到这个项目了。
还没有开始用，所以没有问题和建议。

[2017-06-07 04:27] oldratlee commented on #71
从你的日志

[code]

这个你的改过的`Demo`代码`com.jdjr.study.sgm.sgm.DistributedTracerUseDemo.increaseSpanIdRefCounter`/`com.jdjr.study.sgm.sgm.DistributedTracerUseDemo$2.beforeExecute`，可能是你Demo的实现问题。

要具体排查需要你给出你的`Demo`的完整代码。

@wychenlong 建议你把你的整体工程提交到`GitHub`上，这样方便复现问题且有相应的信息来解决。

[2017-06-07 04:27] #71 closed

[2017-06-15 05:45] zavakid commented on #53
:+1: cool

[2017-06-21 12:37] heroboy0923 opened #74 "支持 jdk1.7 ForkJoinPool 和 jdk1.8 parallel stream"
分布式场景下，需要全链路传递一些参数（`trace`信息等）,普通的线程池已经支持了，是否可以考虑 支持`jdk 1.7`  `ForkJoinPool`和`jdk1.8` `parallel stream`等新特性

--------------

（Added by @oldratlee ）

subtasks:

- [x]  #76 support ForkJoinPool of jdk 7
- [x] #77  support parallel stream of jdk 8
- [x]  Update Javadoc link to jdk 8, see f0441779082eff534b9b0013932979b32fec7d8a
- [x] Use jdk 8 build javadoc(more pretty javadoc). release 2.2.0 use jd

[2017-06-21 13:22] oldratlee commented on #74
👍

很自然的需求，要支持！

[2017-06-23 04:57] oldratlee opened #75 "ThreadPoolExecutor#remove not take effect when use agent"

[2017-06-23 06:41] #75 closed

[2017-06-23 06:49] oldratlee opened #76 "support ForkJoinPool of jdk 7"
#74

# 可能涉及的编译管理  ☑️

- 需要解决：使用Java 6编译、运行和测试时，不能去涉及使用了Java 7才有的Fork/Join框架的类，即在Java 6下需要条件编译
  - Maven: excluding java files in compilation https://stackoverflow.com/questions/17920920

因为`2.3.0+`升级到`Java 8`不再需要 条件编译复杂的方式 了。 ☑️

# 一些相关资料

- Java 并发编程笔记：如何使用 ForkJoinPool 以及原理 http://blog.dyngr.com/blog/2016/09/15/java-forkjoinpool-internals/

------------------

- Fork/Join框架（一）引言 http://ifeve.com

[2017-06-23 06:50] oldratlee opened #77 "support parallel stream of jdk 8"
#74

[2017-06-23 07:03] oldratlee commented on #74
Task

- [ ]  #76
- [ ] #77
- [ ]  Update Javadoc link to jdk 8
- [ ] use jdk 8 build javadoc

[2017-06-27 09:10] kaybinwong opened #78 "好像不支持Slf4j的MDC？"
我们使用logback+slf4j收集日志，但是目前2.1.0版本不支持向MDC传递数据？

[2017-06-27 10:25] wuwen5 commented on #78
仅供参考，我们生产上是这么整合使用的。https://github.com/ofpay/logback-mdc-ttl

[2017-06-27 15:09] oldratlee commented on #78
https://github.com/oldratlee/log4j2-ttl-thread-context-map

这个是log4j 2.6.2 的  集成

[2017-07-04 06:08] oldratlee commented on #78
@kaybinwong `TTL`提供的是`ThreadLocal`的传递，和日志`MDC` 是要从日志来 **_集成_** `TTL`的。

即 从职责或是系统依赖上来说，日志 依赖 `TTL`，不是反过来。

[2017-07-04 12:32] wuwen5 commented on #78
```slf4j```没想好怎么去集成， 未发布版的```slf4j-1.8.0```版本支持```spi```的方式加载```logger```实现。

但是没想好怎么去替换```MDCAdapter```实现中的```context```，我的想法是需要保留日志框架自己的```MDCAdapter```实现方式的基础上去解决```context```的问题.

[2017-07-20 05:33] shipengyan commented on #78
简单的验证了下 slf4j+logback的mdc，在多线程下是可以用的，

[https://github.com/ofpay/logback-mdc-ttl/issues/1](https://github.com/ofpay/logback-mdc-ttl/issues/1)

[2017-07-21 03:38] oldratlee commented on #78
@shipengyan COOL~

我把 https://github.com/ofpay/logback-mdc-ttl 加到这个项目的文档中，方便大家了解&使用。
 @wuwen5  @shipengyan

[2017-07-21 03:38] #78 closed

[2017-07-28 03:55] oldratlee commented on #78
已经 加到 https://github.com/alibaba/transmittable-thread-local/blob/master/docs/requirement-scenario.md 上了。

![image](https://user-images.githubusercontent.com/1063891/28701861-b6274888-738b-11e7-82ed-0bdac0ed1a60.png)

[2017-09-06 04:42] oldratlee opened #79 "support jdk 9"

[2017-09-06 04:42] oldratlee commented on #79
see 39d1ca24bc9169d3d8a9688967796459ce508220

[2017-09-06 04:42] #79 closed

[2017-09-06 04:43] oldratlee opened #80 "add jdk ci"
#79

[2017-09-06 04:43] oldratlee commented on #80
see 6597e185b92833b6252eb8fbe831c6d610cddf18

[2017-09-06 04:43] #80 closed

[2017-09-13 14:51] Qsimple commented on #73
最新的Logback1.2.3似乎不支持MDC线程继承了，贵公司现在是怎样的日志追踪方案

[2017-09-13 15:31] oldratlee commented on #73
@Qsimple 这个问题开一个专门的Issue吧。 方便  @wuwen5 看看，大家跟进。

[2017-09-13 15:32] oldratlee opened #81 "最新的Logback1.2.3似乎不支持MDC线程继承了，现在要怎样的日志追踪方案"
最新的Logback1.2.3似乎不支持MDC线程继承了，贵公司现在是怎样的日志追踪方案 @wuwen5
(Question From @Qsimple see https://github.com/alibaba/transmittable-thread-local/issues/73#issuecomment-329192927 )

[2017-09-13 15:33] oldratlee commented on #81
@wuwen5 的[logback-mdc-ttl](https://github.com/ofpay/logback-mdc-ttl)  做的logback的集成。

@wuwen5 可以帮忙看看 :)

[2017-09-14 01:24] wuwen5 commented on #81
```logback-mdc-ttl```本身就是使用```TransmittableThreadLocal ```替换了原来的```*ThreadLocal```实现。 和Logback这次版本的修改没有关系， 我们是通过```logback-mdc-ttl```整合[transmittable-thread-local](https://github.com/alibaba/transmittable-thread-local/)解决的
之前我在https://github.com/ofpay/logback-mdc-ttl/issues/1 的回复中也提到过.

[2017-09-14 05:53] #81 closed

[2017-09-14 06:06] oldratlee commented on #81
@wuwen5 多谢解答！

ps： 是否有兴趣成为项目的维护者？ 😸

可以来搞一下 #77 #76 ，自己一直没把这2个feature 做了 😖

[2017-09-14 07:27] wuwen5 commented on #81
@oldratlee 这两个feature 我不确定是否是重复的？java8的parallel stream 本身就是使用的共享```ForkJoinPool```

有兴趣参与和维护，很希望能为开源做点事情:blush: 这个feature我再研究研究。

[2017-09-14 08:58] oldratlee commented on #81
好，期待啊

[2017-09-18 03:53] wuwen5 commented on #76
补充一点相关资料
http://mail.openjdk.java.net/pipermail/core-libs-dev/2013-December/024044.html

目前主要围绕```ForkJoinPool```这个方法分析.
[code]

- 1.```ForkJoinTask.exec() ```是抽象类方法，不好包装.
- 2.```ForkJoinWorkerThread.afterTopLevelExec()``` 限制包内访问，而且```runTask()```没有类似```beforeTopLevelExec()```的方法和执行点。
以上是我分析过程的思路和遇到的问题记录下.

[2017-10-14 07:42] Qsimple commented on #11
【以解决MTC可能失效的问题】对于这个issue我有些不太明白，我看了看代码，[ExecutorTtlWrapper.java](https://github.com/alibaba/transmittable-thread-local/blob/master/src/main/java/com/alibaba/ttl/threadpool/ExecutorTtlWrapper.java)通过代理的方式包装了一个Executor，再重写了execute方法将command装饰成TtlRunnable，这个时候即使有用户继承了ThreadPool的子类，只有装饰成ExecutorTtlWrapper，MTC(我理解与TTL同意吧)应该是可以生效的吧。

[2017-10-16 04:45] oldratlee commented on #76
通过反射的方式 调用非public的方法

对于agent方式，改写方法实现，没有上面的限制

[2017-10-29 14:20] jidian commented on #49
很赞

[2017-11-24 04:22] oldratlee commented on #21
其它的小伙伴写的文章：

-【原理】Java的ThreadLocal实现原理浅读 http://www.cnblogs.com/nick-huang/p/6914688.html
- 线程之间传递 ThreadLocal 对象 https://ylgrgyq.github.io/2017/09/25/transmittable-thread-local/

[2017-12-03 12:18] duguyixiaono1 commented on #53
学习

[2018-03-23 06:39] yinjihuan commented on #73
我想问下能不能只改造InheritableThreadLocal就能解决这个传值的问题，我现在在Spring Cloud Zuul中使用的是InheritableThreadLocal。然后就发现线程复用的时候会出问题，如果按照目前的实现方式，我估计要对zuul中的线程进行处理，这样太麻烦了

[2018-03-23 10:32] wuwen5 commented on #73
@yinjihuan 你看下本项目首页介绍

你的应用场景只需要将```InheritableThreadLocal```替换为```TransmittableThreadLocal```就好了，详细请见首页。

[2018-03-30 08:51] duguyixiaono1 commented on #73
公司 | 北京猫眼文化传媒有限公司
-- | --
项目 | 新业务
使用场景 | 日志中心、调用链
开始使用时间 | 2017年
使用方式 | agent+log4j2-mdc-ttl

非常赞的项目

[2018-04-03 03:14] jinwandalaohu commented on #73
<table>
<tr><td>公司</td><td></td></tr>
<tr><td>使用场景</td><td>日志中心分类logId</td></tr>
</table>

[2018-04-08 06:48] qianxinyi opened #88 "Android 客户端使用TTL进行上下文传递"
在Android 客户端premain 如何进行上下文透明传递？

[2018-04-08 07:31] oldratlee commented on #88
`JDK`的库的代码（逻辑）在`Android`中是系统托管的吧，
换句话说，编译期修改是不是不行的，而是要运行期加载时修改。 @qianxinyi

如果是运行期加载时修改，要了解`Android`的运行加载过程。
这个你来研究一下，完成一下吧，运行时系统类的修改 在`Android`上应该已经有现成的解决方案了。

\# `JDK`的库的代码（逻辑）修改的量不多，在相关的方法插入了一行代码。

[2018-04-17 13:48] tianjialin opened #90 "clean extra TTL value in destination thread"
您好，请教一个问题：

在TransmittableThreadLocal类中的 backupAndSet() 方法中，如下代码：
[code]
一旦调用iterator.remove()本来不属于当前线程的threadlocal也会被remove，这样假如此时另外一个线程池中的线程调用了copy()方法，就会丢失部分数据？
不知我哪里理解错误，望批评指正。
期待回复

**此Issue为提交错误地址后粘贴过来的，可直接查看原文**
https://github.com/oldratlee/translations/issues/51#issuecomment-381977782

[2018-04-17 13:53] tianjialin commented on #90
问题的原因是没注意到holder的几点需要注意的地方：
1、holder 是 InheritableThreadLocal 变量；
2、holder 是 static 变量；
3、value 是 WeakHashMap；
4、深刻理解 ThreadLocal 工作原理；

[2018-04-17 13:53] #90 closed

[2018-04-17 14:03] oldratlee commented on #90
`holder.get()`是`ThreadLocal`的（`holder`本身是`ThreadLocal`），只属于当前线程。
\# `ThreadLocal#get()` **_只能_** 拿到 **_当前线程_** 的数据。

即这个数据不会被另一个线程访问使用的，没有并发问题。

更具体 可以再看看一下`ThreadLocal`的使用与限制。

------------------

[code]

上面的代码注释 说明了。

如果不这么做这个删除，那么 `TTL`这些值 就比 `copied`  里多出来了，
不没有正确 恢复/回放值。

比如 原来的`copy`过来的值是 `a=1,b=2`，回放运行的线程原来就有值`z=100`。
不做这个删除，回放运行时，就有值`a=1,b=2,z=100`，不预期了。

可以自己写段代码运行Debug一下就好了，或者 自己理解一下`TTL

[2018-04-19 09:44] lailailai1209 opened #91 "通过线程池继承threadlocal的问题"
您好，请问您有没有不要侵入源代码的方法，agent方式也不行的， 有可能么

[2018-04-23 06:36] oldratlee commented on #91
说明出

- 你的需求/场景
- 这样做法的痛点

@lailailai1209

因为

1. 你的推导思路 可能可以 改变， 这样 结论就可以变了。
2. 能从你的说明，引导出解决

[2018-04-23 07:07] lailailai1209 commented on #91
现在在做一个类似于google dapper的tracer系统，就是把context放入threadlocal传播，在线程池就遇到了问题，子线程没有父线程的threadlocalmap，最好不改任何被监控系统的代码，我看您用agent的形式可以做到0侵入，但是要加上jdk运行参数，所以想问问能不能直接把这个threadlocalmap传递给子线程

[2018-04-23 14:58] oldratlee commented on #91
这是个 TTL解决的典型需求。

没有找到这样的解法。

虽然不能给出形式的化的证明。但是 现在JDK的ThreadLocal的实现，不做任何设置，肯定不能有现在JDK没有能力，要不JDK出Bug了，是吧。

即使JDK自带了这个功能，也是要用 JVM参数来开启的，要不也是Bug了。

你觉得呢？

[2018-04-24 06:49] lailailai1209 commented on #91
恩 您说的我明白，直接去做0侵入的实现threadlocalmap传递到子线程，现在的jdk肯定不行，我在想有没有什么其他的办法，能间接的实现这个想法，

[2018-04-24 07:13] oldratlee commented on #91
期待 提供 思路或解法～  ❤️

[2018-04-24 07:13] #91 closed

[2018-05-30 20:00] #76 closed

[2018-05-30 20:02] oldratlee commented on #76
通过 PR #83 By @LNAmp ❤️ 和 PR #85 By @wuwen5 ❤️

实现了一个版本。发现了版本 `2.4.0`

[2018-06-05 05:26] oldratlee opened #92 "Support TransmittableThreadLocal.Transmitter 📎 transmit all TransmittableThreadLocal values of current thread to other thread by static method capture() => replay(Object) => restore(Object)(CRR operation). 🚀"

[2018-06-05 05:26] #92 closed, assigned to driventokill

[2018-06-17 15:02] #61 closed

[2018-06-21 05:13] oldratlee opened #93 "add documentation for Middleware Engineering"
developer guide: development note for Middleware Engineering

- why need **Middleware Engineering**
- how to do it

[2018-06-24 14:54] oldratlee opened #94 "integration FastThreadLocal mode of Netty"

[2018-07-04 05:58] candyleer opened #96 "是否有内存泄露的风险?"
这种继承的`Threadlocal`，如果嵌入层次比较深，最后没有调用 `remove()` 方法，是否会引起内存泄露?

[2018-07-05 03:03] oldratlee commented on #96
在内存持有的问题上，`TransmittableThreadLocal` 和 `ThreadLocal` 是一样的，本身是没有问题的。在业务使用上，了解/理解一下使用上的注意。

具体的确定，你可以： @candyleer

1. 理解 `TransmittableThreadLocal` 和 `ThreadLocal` 的使用方式、过程 和 内存持有的实现。
2.  `TransmittableThreadLocal`有内存泄露的测试Case。你可以自己来直接运行验证一下
https://github.com/alibaba/transmittable-thread-local/blob/master/docs/performance-test.md#-%E5%86%85%E5%AD%98%E6%B3%84%E6%BC%8F

![image](https://user-images.g

[2018-07-05 05:12] candyleer commented on #96
感谢回答

[2018-07-05 05:48] oldratlee commented on #96
好的 ❤️ Close

[2018-07-05 05:48] #96 closed

[2018-07-17 07:46] TuitaKing opened #97 "在tomcat中采样agent的方式，最后只有ScheduledThreadPoolExecutor的Runnable被替换了。"
你好：

我尝试在web应用中，采用tomcat作为容器来使用agent替换应用中的线程池中的Runnbale方法。但是在VM options添加

[code]

后，发现应用中只有`ScheduledThreadPoolExecutor`线程池中运行的`Runnable`被替换了。请问这个是什么原因呢？

[2018-07-17 08:45] TuitaKing commented on #97
是因为tomcat中实现了ThreadPoolExecutor，改写了execute吗？

[2018-07-17 15:20] oldratlee commented on #97
你是如何确定的『只有ScheduledThreadPoolExecutor线程池中运行的Runnable被替换』的？

## PS

工程有直接运行`Agent`方式Demo/测试的脚本：

- `scripts/run-agent-demo.sh`
-

以`scripts/run-agent-demo.sh`为例，`TTL Agent`日志包含：

[code]

### 更多日志如下：

[code]

[2018-07-19 03:14] TuitaKing commented on #97
谢谢回复：
      `你是如何确定的『只有ScheduledThreadPoolExecutor线程池中运行的Runnable被替换』的？`
                首先，我是在debug的时候，看到名字除了`ScheduledThreadPoolExecutor`中的线程被替换了以外，其他线程池没有变化，而且ttl的log打印中也没有。（如图）
![image](https://user-images.githubusercontent.com/12165824/42918729-78e256ba-8b41-11e8-816c-2b0618b069d7.png)
               然后我在`TtlTransformer.transform`方法下面打印出所有`toClassName(classFile)`产生的className，发现只有`java.util.co

[2018-07-19 03:55] oldratlee commented on #97
按你提供的信息我确认一下 😃

[2018-07-19 10:36] xwshiustc commented on #73
公司 |德邦
-- | --
项目 | 生产环境全链路压测项目
使用场景 | 线程中压测标的传递
开始使用时间 | 2017年

在生产环境全链路压测项目中，用于解决压测标的线程间传递问题。

理论上TransmittableThreadLocal 的原理为在线程启动时利用Map<Transmittable, Object>的数据结构从上一个“父”线程copy**引用**进入”子”线程进行工作，并在“子”线程结束工作使把其TransmittableThreadLocal里面的值还原为初始状态。（一般在使用线程池，并且使用完毕后如果threadlocal不去显式得remove时还原功能有作用），同时我们注意到 TransmittableThreadLocal 复制的是 **引用** ！ 但是根据性能压测的场景判断，即父线程在一旦结束时，其压测标记需要显式remove的情况下，子线程的压测标记

[2018-07-19 10:39] xwshiustc opened #98 "生产环境全链路压测项目"
公司	德邦
项目	生产环境全链路压测项目
使用场景	线程中压测标的传递
开始使用时间	2017年
在生产环境全链路压测项目中，用于解决压测标的线程间传递问题。

理论上TransmittableThreadLocal 的原理为在线程启动时利用Map<Transmittable, Object>的数据结构从上一个“父”线程copy引用进入”子”线程进行工作，并在“子”线程结束工作使把其TransmittableThreadLocal里面的值还原为初始状态。（一般在使用线程池，并且使用完毕后如果threadlocal不去显式得remove时还原功能有作用），同时我们注意到 TransmittableThreadLocal 复制的是 引用 ！ 但是根据性能压测的场景判断，即父线程在一旦结束时，其压测标记需要显式remove的情况下，子线程的压测标记不可被改变，所以压测场景中，技术上可能是要进行值

[2018-07-19 10:39] #98 closed

[2018-07-21 13:48] xwshiustc opened #99 "新增功能：在启动参数中不再需要配置java参数-xbootclasspath"
根据本人使用经验

- 配置`-xbootclasspath`在各个容器中需要配置额外的参数，调研起来会很麻烦
- 在`JBoss 6.2`以上版本中，如果使用了`-xbootclasspath`，需要配置额外的启动参数`java -Dxxxxx=xxxxxxxx`参数等等才可以真正起作用，每种容器的实现都不一样相当棘手，甚至`JBoss6.2`和其以下的其他版本参数也不同，

未来我将努力贡献一部分代码争取不再配置需要配置`-xbootclasspath`。

[2018-07-21 14:00] xwshiustc commented on #97
@TuitaKing   很明显 org.apache.tomcat.util.threads.ThreadPoolExecutor 这个并不是jdk自带的 ThreadPoolExecutor ，是一个tomcat自己实现的线程池，所以ttl不可能去加强他。

[2018-07-22 04:17] oldratlee commented on #99
@xwshiustc 能否说明一下： `JBoss`设置`-xbootclasspath` 且生效，需要的哪些具体操作？

原因：

- 其它同学可以按你的步骤 解决 当下的问题，省去你已经做的调研的时间。
- 即使 这个功能（无需设置`-xbootclasspath`）实现后，设置`-xbootclasspath`也是一条路子，大家可以按需要使用。

[2018-07-22 08:31] TuitaKing commented on #97
谢谢 @xwshiustc  ，目前我换了个Tomcat 7.0就没有出现我提到的问题。我在TtlRunnable的run方法中打日志（输出hello），然后到自己的业务代码线程池中里也打日志（输出world）。按照现在的逻辑，应该是每次线程池excute都应该是输出一行hello，然后输出一行world。但是除了`ScheduledThreadPoolExecutor`以外，都没有这样输出。
       我提到` org.apache.tomcat.util.threads.ThreadPoolExecutor`其实是想说类似的线程池的类只有这个进入了transform这个方法里面，既然`java.util.concurrent.ThreadPoolExecutor`都没有进入过transform方法，那么对应的替换Runnbale操作应该也无从谈起了吧。
       感谢回复，目前

[2018-07-24 00:52] xwshiustc commented on #99
目前只有用JBoss
在JBoss 6.x的大部分版本中 配置方式为
-javaagent:/opt/xxxxxx/transmittable-thread-local-2.x.x.jar
-Djboss.modules.system.pkgs=org.jboss.byteman,org.jboss.logmanager,com.alibaba.ttl,
-Djava.util.logging.manager=org.jboss.logmanager.LogManager
-Xbootclasspath/p:/opt/xxxxxx/transmittable-thread-local-2.x.x.jar

-Djboss.modules.system.pkgs 是所有的 xbootclasspath下面的类的包名都需要配置，jboss自带的两个包也需要配置, 但是如果不引入任何第三方的ja

[2018-07-25 08:42] TuitaKing commented on #97
你好：
       现在我定位到的问题是出在`org.apache.juli.FileHandler `中定义了`ExecutorService`。因为tomcat配置`org.apache.juli.ClassLoaderLogManager`，这个时候还没有进入到main方法中，而且当前使用的classloader是AppClassloader（sun.misc.Launcher），在初始化FileHandler中的ExecutorService的时候是进入过transform方法的，也就是替换成功了。
       但tomcat是使用的URLClassloader，在后面`org.apache.catalina.core.ContainerBase.initInternal `中创建`ExecutorService`的时候，就不会进入`transform`方法中了（ps：目前我以

[2018-07-31 06:02] oldratlee opened #100 "add option for TTL, disable Inheritable"
The core scenario is transmit value value from the time task is created to the time task is executed, so transmitting value `new Thread`(Inheritable) is not necessary and buggy.

[2018-08-03 06:47] oldratlee commented on #97
# 运行了2个版本的`Tomcat`

## 在日志上

- `v8.0.53`的TTL日志中，只有`ScheduledThreadPoolExecutor`没有`ThreadPoolExecutor`。
- `v6.0.53`的TTL日志中，`ScheduledThreadPoolExecutor`和`ThreadPoolExecutor`2者都有。

更多运行的日志，见后面`附`一节。

## `v8.0.53`中，`ThreadPoolExecutor`实际加载运行的字节码

\# 目前我是通过阿里内部的诊断工具`Arthas`来反编译出内存中运行类的字节码。

[code]

当然，另一种方式，在你的Web应用中，直接以`TTL`的方式使用一下`ThreadPoolExecutor`，通过确认`TTL`的功能是正常的，来确定实际`TTL`对`ThreadPoolExecutor`的

[2018-08-03 12:36] oldratlee commented on #97
因为 『日志实现的兼容配置』 比较容易引入问题，`v2.6.0`会改一下，提供日志输出的策略：

- `NONE`：除了出错（输出到`std err`），否则不输出日志。
- `STD`：输出日志到`std out`/`std err`。
- `JUL`：输出到`java.util.logging`(`JUL`)。
    即现在的实现方式。

来规避现在 日志的问题。

[2018-08-03 17:45] oldratlee commented on #99
# Some related reources

- Apache Tomcat - Class Loader HOW-TO
    - https://tomcat.apache.org/tomcat-8.0-doc/class-loader-howto.html
    - https://tomcat.apache.org/tomcat-7.0-doc/class-loader-howto.html
    - https://tomcat.apache.org/tomcat-6.0-doc/class-loader-howto.html

[2018-08-04 16:48] oldratlee commented on #97
@TuitaKing 已经发了`v2.6.0`到了 Maven中央库，试试 ❤️

-  **_缺省_**是`STDERR`：除了出错（输出到`std err`），否则不输出日志。
    - Java参数即是 `-javaagent:target/transmittable-thread-local-2.6.0.jar`
- `STDOUT`：输出日志到`std out`。方便看到更多信息，以排查。
    - Java参数是 `-javaagent:target/transmittable-thread-local-2.6.0.jar=ttl.agent.logger:STDOUT`

### Note ： v2.6.0开始，不需要再手动为`TTL`配置 `-Xbootclasspath` java 参数了。

[2018-08-05 05:53] oldratlee opened #101 "JSR 305 intergration"
More secure and friendly for the modern language like `kotlin`.

## NOTE

Don't include the `jsr 305` dependency in the target artifact, use `optional` for the `jsr 305` dependency.

## related resources

- JSR 305: Annotations for Software Defect Detection
 https://jcp.org/en/jsr/detail?id=305

-------------------

- Which @NotNull Java annotation should I use?
https://stackoverflow.com/questions

[2018-08-05 06:24] oldratlee commented on #97
@TuitaKing  `apache-tomcat-8.0.53`使用`TTL v2.6.0`运行，ScheduledThreadPoolExecutor和ThreadPoolExecutor2者的日志都有了。

参数配置：`-javaagent:/path/to/transmittable-thread-local-2.6.0.jar=ttl.agent.logger:STDOUT`。
\# 不加`ttl.agent.logger:STDOUT`的agetn参数设置，则只在出错时才输出TTL日志。

### 附，`apache-tomcat-8.0.53`的运行日志

[code]

[2018-08-05 06:24] #97 closed

[2018-08-05 11:50] oldratlee opened #102 "Test ticket from Code Climate"

[2018-08-05 11:51] oldratlee opened #103 "Fix "identical-code" issue in src/main/java/com/alibaba/ttl/TransmittableThreadLocal.java"
Identical blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/alibaba/transmittable-thread-local/src/main/java/com/alibaba/ttl/TransmittableThreadLocal.java#issue_5b66b03a42684f0001000051

[2018-08-05 12:01] #103 closed

[2018-08-05 12:15] oldratlee opened #104 "Fix "identical-code" issue in src/main/java/com/alibaba/ttl/threadpool/agent/internal/transformlet/impl/TtlExecutorTransformlet.java"
Identical blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/alibaba/transmittable-thread-local/src/main/java/com/alibaba/ttl/threadpool/agent/internal/transformlet/impl/TtlExecutorTransformlet.java#issue_5b66e703aa3c07000100004a

[2018-08-05 12:21] oldratlee opened #105 "Test ticket from Code Climate"

[2018-08-05 13:10] #102 closed

[2018-08-05 16:29] #105 closed

[2018-08-05 16:32] #99 closed

[2018-08-06 04:09] TuitaKing commented on #97
@oldratlee 感谢回复，确实日志这个是深坑，我开始完全没有想到这个上面来，后来按照@xwshiustc 的打印堆栈和对比tomcat的版本才发现。学到了很多，感谢。

[2018-08-07 06:57] xwshiustc commented on #94
考虑如下实现

在现有transmittable-thread-local-x.x.x.jar的基础上新开发第二个可选jar：netty-ttl-plugin.jar（这次新开发），并且netty-ttl-plugin.jar依赖transmittable-thread-local-X.X.X.jar（ttl已有）和netty-all-X.X.X.jar（netty开源）.

注意到io.netty.util.concurrent.FastThreadLocal继承自Object,和java.lang.ThreadLocal没有任何继承关系，考虑在netty-ttl-plugin.jar中新建一个io.netty.util.concurrent.FastThreadLocal的子类TtlFastThreadLocal，该类模拟InheritableThreadLocal和Transmitt

[2018-08-07 07:33] xwshiustc commented on #94
理解错误，上面论述是对netty本身使用ttl上下文的方案。 我们要讨论的是如何将netty中的高性能引入到ttl中，上面的方案作废！

[2018-08-07 07:51] driventokill commented on #94
可以考虑把 Ttl 存储接口分离出来，根据运行时环境检测选择具体的实现，有 FastThreadLocal 的环境使用 FastThreadLocal 实现，后续甚至可以考虑让用户自己实现自己的存储方案，通过 spi 的方式加载进来

[2018-08-07 08:14] oldratlee commented on #94
- 这个分离根据 实现的复杂膨胀 和  实际的灵活性 来定。
- 根据`TTL`的『概念』边界来 分离 出『子概念』，这个通过 需求和设计现实 的感知再定。

@driventokill

[2018-08-07 09:08] driventokill commented on #94
在支持 FastThreadLocal 的环境下，每个 Ttl 创建一个 FastThreadLocal （**这个就是我说的想抽出来做成一个存储接口**），现在每个 Ttl 的存储其实是 InheritableThreadLocal 实现，所以每次都是使用 `super.get` 和 `super.set` 来完成值的读取和设置，分别比较一下：

## 前提

假定每个 Ttl 有一个 FastThreadLocal ：

[code]

## 读取

### 现有实现

[code]

### FastThreadLocal

[code]

## 设置

### 现有实现

[code]

### FastThreadLocal

[code]

[2018-08-07 09:17] xwshiustc commented on #94
目前Ttl jar在xbootclasspath中，而 FastThreadLocal是第三方jar，感觉上netty不应也融入xbootclasspath,所以简单地在TransmittableThreadLocal中引入 FastThreadLocal 不知道是否可以。

[2018-08-07 09:36] driventokill commented on #94
实现的时候并不会这么简单，需要对环境检测一下，只是在运行时有 FastThreadLocal 支持的情况下才会创建。我上面写法只是为了表达更清晰一点

@xwshiustc

[2018-08-07 09:45] xwshiustc commented on #94
明白 理解了。

[2018-08-09 06:14] vienous opened #108 "线程内部使用了parallStream，哎"

[2018-08-09 06:42] wuwen5 commented on #108
你好，请问遇到什么问题了么，使用的是什么版本呢？可以用最新版测试下。

[2018-08-09 09:06] vienous commented on #108
不是TTL的问题，可以解决线程池和主线程变量共享的问题。但是我这边业务，线程内部又使用了parallStream()，这里边也是线程。变量没办法共享。。

[2018-08-10 05:47] oldratlee commented on #108
线程池 中 再 使用 parallStream，如果以TTL Agent的方式，应该是ok，当然有实施成本。

[2018-08-10 08:04] vienous commented on #108
好的，谢谢了，我再看看

[2018-08-19 09:54] oldratlee opened #109 "Java 9 modularity integration"

[2018-08-22 14:21] baifan commented on #99
建议不要使用`MANIFEST.MF`中的`Boot-Class-Path`代替`-Xbootclasspath/a`，否则修改了ttl的jar包名称，仍然需要指定参数`-Xbootclasspath/a`。

附上`Boot-Class-Path`的说明：

[2018-08-22 14:27] baifan opened #110 "在某些多线程切换的情况中不需要TTL拷贝ThreadLocal"
场景：全链路监控异步发送统计信息

为了隔离发送监控数据对业务的影响，所有的业务数据都是使用线程池异步发送的。
这时候提交任务会copy链路信息，copy链路信息会产生很多无用的对象。
是否可以考虑，对线程池或者Runnable\Callable增加开关机制，防止这种多余的操作。

[2018-08-23 02:36] oldratlee commented on #110
@baifan 你可以通过 设计规划不同命名空间，来区分出不同的用途，这样就不会出现『产生很多无用的对象』，只用 你 要空间/用途 的对象。

# 展开说明如下：

`TTL`，提供的是一个通道，来传递数据，并不感知在上面业务使用上业务哪些是需要或不需要的。

换句话说，业务可以通过不同`TTL`实例 来规划区分出不同的用途，对应你的场景：

1. 『业务数据』
1. 『线程池异步发送』操作中 关心的 值 copy链路信息

实际可以有的使用方式：

1. 显式不同的`TTL`实例，来表示不同传递值的用途。如 『copy链路信息』的传递值（`TTL`值）只是『线程池异步发送』关心『链路信息』（可以只是『监控』系统级值，非业务）
2. 另一个思想其实一样的做法是：用一个`TTL`实例，但`TTL`中值是个Map，用不同`Key`来区分用途。

[2018-08-23 03:30] baifan commented on #110
@oldratlee 感谢详细耐心的解答。
可能我没有表述清楚我的场景，我们场景中的隔离不是业务数据的隔离，是监控发送行为和业务行为的隔离。
简单的来说，就是同一个JVM中，大部分的业务线程切换的时候`TransmittableThreadLocal`机制都生效，但在某个指定线程池提交Runnable的时候，不希望进行`TransmittableThreadLocal#copy`这个操作，因为这个操作，对即将执行Runnable没有意义，而且因为copy中clone了部分对象，如果执行了`TransmittableThreadLocal#copy`，还会在内存中新增一些对象和增加一些耗时。我想避免这次inherit。

看了一下TTL的机制，只有重写一个新的ThreadPool才能解决这个问题，觉得有点重。
是否可以改为新建两个`class`:
[code]

[code]

这里修改了接

[2018-08-23 03:53] oldratlee commented on #110
能具体些说明 上面『大部分』、『某个线程池不希望』的场景和后面的原因吗？ @baifan ❤️
方便我理解场景和思考解决方法。

[2018-08-23 06:15] baifan commented on #110
大致情况是这样的，全链路监控需要知道上下文，所以使用TTL保存了一个Trace对象，保证Trace对象在线程池提交任务的时候，也能够传递，由于线程安全机制，需要对Trace进行一次深拷贝`Trace#clone()`，这方法会产生一些新的对象，是正常业务的需要。但一个Trace监控结束后，需要发送统计信息给服务端，为了发送统计信息不影响正常业务，使用线程池发送给后端的统计服务，由于使用线程池&TTL，根据TTL的机制会调用一次深拷贝`Trace#clone()`，我的需求是规避这次深拷贝。

[code]

[2018-08-23 08:53] oldratlee commented on #110
第一感觉是 每次传递做`Trace#clone()`，这个做法有些重了。原因是：

- `Trace`对象属于一个线程（`ThreadLocal`语义）
- 要保证这点，
    - 在传递时就做`Trace#clone()`是一种方案/做法，有些重了。
        - 传递时就做，如此之早了，以至于这样一个方案，要让你倒过来在流程上调整优化。
        - `Java`的`clone`本身就比较重，几乎没人用。
    - 另一种做法是，`Trace`类要实现成修改时，再拷贝（即`Copy on Write/COW`）。
这种做法本身就更精细（内存/计算得使用各种场景下都更优），自然也没有你现在的问题。

[2018-08-23 11:16] baifan commented on #110
`Trace#clone`是我们自己封装的方法。
`COW`是一个很棒的策略。
受教了，非常感谢~

[2018-08-23 11:33] oldratlee commented on #110
好的，我先把这个`issue` Close了。

后续有问题，也欢迎讨论 ❤️

[2018-08-23 11:33] #110 closed

[2018-08-27 11:43] oldratlee commented on #2
新建这个`Issue`原来的想法 是因为：

现在分析，认为这个`Issue`没有意义。原因如下：

重写`Executor`的`submit`、`execute`方法而不调用 父类的方法，线程池的功能几乎不可能 扩展实现出一个功能正常的 线程池。

[2018-08-27 11:43] #2 closed

[2018-08-27 17:09] oldratlee commented on #11
@Qsimple 你说得对，我当时应该是没想明白，#2 也close了。

[2018-08-27 17:09] #11 closed

[2018-08-29 10:00] oldratlee commented on #110
@baifan

第一感觉是：

`Copy On Write/COW`是在`write`时来触发，在`get`（读`TTL value`）在判断处理的时间已经不对了。

[2018-09-07 09:57] Ronustine opened #111 "TransmittableThreadLocal的传递只有浅拷贝吗？"
Hello，做项目是遇到一个问题：用线程池去执行一个执行时间较长的任务，但是任务线程需要父线程的ThreadLoacl。而TransmittableThreadLocal传递似乎只是传递了引用，并不是深拷贝。
这样会引起一个问题，父线程ThreadLoacl如果置空或者值有修改的情况下，任务线程也会随之改变。我觉得在任务提交后，值不应该有变动吧？
请问能否控制拷贝方式呢？
不好意思，第一次提问，请多包涵哈，若能帮忙解惑，不胜感激~

[2018-09-07 11:37] oldratlee commented on #111
值传递拷贝方式通过`copy`方法来定制，缺省是直接传的是引用。

更多参见[User Guide文档](https://github.com/alibaba/transmittable-thread-local#-user-guide)说明：

![image](https://user-images.githubusercontent.com/1063891/45217065-4f1ed900-b2d5-11e8-932c-9464fdd0d0d6.png)

### PS：『引用传递』并不是 『浅拷贝』

[2018-09-07 11:39] #111 closed

[2018-09-16 14:30] #7 closed

[2018-09-17 02:02] Ronustine commented on #73
项目|验收系统
------------ | -------------
时间|2018-9
使用场景|当前登录者存在ThreadLocal中，启动线程池执行任务，任务中一系列操作需记录操作人

[2018-09-21 08:32] driventokill commented on #100
Transmit thread local values by inheritable thread local is a potential leaking problem. A new created thread can never know how to deal with the inherited values. The transmittable thread local values should be created and cleared within a task's lifecycle. InheritableThreadLocal will leak the management of transmittable thread local values out of a task.

[2018-09-25 21:24] oldratlee opened #112 "add unwrap method for TtlExecutors to get the original/underneath executor"

[2018-09-25 21:30] #112 closed

[2018-09-28 15:06] #101 closed

[2018-10-12 01:51] driventokill commented on #100
Here are some thoughts about the inheritable feature.
- Whether it can be inherit or not should be controlled by the owner. So I provide a `NoInheritTTL` which based on `TransmittableThreadLocal` and return null in `childValue`.
- Inheritable feature in a thread pool should **never** happen. (To be implemented soon.)

[2018-10-22 19:30] oldratlee opened #115 "simplify the try-finally code gen by javassist, do not need copy method"
see official documentation: http://www.javassist.org/tutorial/tutorial2.html :

Of course, need  new unit test to confirm this `javassist` behave.

@wuwen5 please re-check when you're convenient. ❤️

[2018-10-23 06:36] oldratlee opened #116 "remove hard-coded TTL class name, repackage friendly"

[2018-10-23 06:50] wuwen5 commented on #115
At first I use this way, But I have met some problems in testing.
like this: https://issues.jboss.org/browse/JASSIST-232?_sscc=t

[2018-10-23 07:11] oldratlee commented on #116
Failed, since `TtlForkJoinTransformlet` self will load transforming class `ForkJoinTask` by subclass `TtlRecursiveAction`/`TtlRecursiveTask`, then skip transforming class `ForkJoinTask`...

https://github.com/alibaba/transmittable-thread-local/blob/2e562cd96b789e6d8ca8bc92a5f0b3ff5561f07a/src/main/java/com/alibaba/ttl/threadpool/agent/internal/transformlet/impl/TtlForkJoinTransformlet.java#L28

[2018-10-23 07:50] dennis0721 opened #117 "子线程池中复用的线程无法随父线程池中的线程的更新而更新"
场景：
两个线程池，一个服务在监听mq，有消息时会从自己的线程池中拿一个线程开启一个异步任务，异步任务里又会从自己的任务对象的线程池中拿一个线程开启另外一个异步任务

问题：
任务线程池中的线程只会保存第一次从父线程池中继承过来的属性，无法随父线程池的更新而更新，如果在任务中将任务线程的TransmittableThreadLocal的值remove了，那么之后值都为null，不会再从父线程继承

[2018-10-23 08:50] oldratlee commented on #115
@wuwen5  You are so right! 👍

--------------

add unit test to confirm this javassist insertAfter behave

- insertAfter() can execute as a finally clause
- but fail to cooperate with add local var

[2018-10-23 08:50] #115 closed

[2018-10-24 10:57] dennis0721 commented on #117
非常感谢，我查了一些资料，也是认为不应该这么做，我已经把子线程池去掉了，把子线程里需要异步的任务单独拿出来了 @oldratlee

[2018-10-24 10:57] #117 closed

[2018-10-27 15:29] oldratlee opened #118 "the kotlin coroutine integration"

[2018-10-27 16:37] oldratlee opened #119 "First-class support for Kotlin language"
include but not limited to:

- confirm to `Kotlin` language usage idioms
- `Kotlin` coroutine integration, in the dedicated issue #118
- ...

[code]

Make a dedicated package with kt deps + ttl dep (2 or 3 together) ?

-----------------

this feature is provided by @rybalkinsd ❤️

[2018-11-02 11:34] baifan commented on #110
@oldratlee
非常感谢，使用warp的方法包装了两个属性，减少了不必要的copy动作。:thumbsup::thumbsup::thumbsup:

[2018-11-07 09:27] aqqwiyth opened #121 "agent模式下业务方实现了Runnable又需要beforeExecute的时候存在问题"
### 示例代码

[code]

业务方的依赖中, 没有引入ttl的依赖需要通过反射.

[2018-11-07 09:43] oldratlee commented on #121
避免用反射这样的方式，引入`TTL`的依赖吧。 @aqqwiyth

[2018-11-09 16:08] oldratlee commented on #77
Unit test for `parallel stream` added and `CI` passed:

TTL Agent support for `parallel stream` works.

[2018-11-09 16:08] #77 closed

[2018-11-09 16:09] #74 closed

[2018-11-13 14:26] #121 closed, assigned to oldratlee

[2018-11-16 07:10] aqqwiyth commented on #121
我是用ASM实现的字节码注入TTL, 改动起来相对简单一点

 目前的解决方式是在 beforeExecute的时候 调用一次ttl.getRunnable() :)

[2018-11-19 05:06] oldratlee commented on #121
@aqqwiyth

[v2.10.2](https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.10.2)添加了`TtlRunnable`/`TtlCallable`的`unwrap`工具方法，可以简化这个操作成一行：

[code]

这样一行的做法，也为后面想要做的

做了准备。一起想想怎么实现这个功能。 @aqqwiyth

[2018-11-26 14:11] olove opened #122 "TransmittableThreadLocal不支持子线程往父线程透传新增threadLocal值"
## 场景

某些业务流程计算逻辑复杂，基础数据读取服务可能需要多次调用。

希望做线程级缓存（更准确地说，因为涉及多个上下游线程，其实是Session级的缓存），避免重复调用外部服务。

## 问题

数据产生可能来源于子线程，`TransmittableThreadLocal`在`copy`数据的时候，忽略主线程不存在的`key`，导致主线程无法读取到子线程新创建的`ThreadLocal`值。

## 解决方案

`TransmittableThreadLocal`可以增加参数控制是否需要向父线程传递新增`ThreadLocal`。

## 示例代码

[code]

#### The results:

[code]

[2018-11-29 07:05] oldratlee commented on #122
『Cache的问题』 与 『TTL的传递问题』是正交。

# 设计表述

在设计上/思路/概念上，

- `cache_context`，cache上下文
    即一个`TransmittableThreadLocal`，里面持有的是Cache对象（要传递的对象）
    因为Cache是在`TransmittableThreadLocal`中传递，所以这个Cache是Session级的。
- `cache`
   维护的cache。
    Cache（概念上是个Map）里维护的是 `Cache`的值（在下面的Demo代码中是`Item`）。

### 实现上的注意点

因为`ThreadLocal`（包含`InheritableThreadLocal`、`TransmittableThreadLocal`）的中维护的值是`lazy-init`的，所以在主线程中，要先主动`get`一下

[2018-11-29 09:45] #122 closed

[2018-11-29 14:30] oldratlee commented on #122
@olove 添加了 `SessionCacheDemo`：

https://github.com/alibaba/transmittable-thread-local/blob/905572250dba199fb9e202271108e1e2950bfb76/src/test/java/com/alibaba/demo/session_cache/SessionCacheDemo.kt#L15

[2018-11-29 15:01] olove commented on #122
谢谢@oldratlee 这么详细的说明和demo用例

[2018-12-04 13:41] oldratlee opened #123 "小伙伴同学们写的 TTL实际业务使用场景 与 设计实现解析的文章（写得都很好！ ）❤️"
## 应用场景的文章

- [百度交易中台之订单系统架构浅析 - InfoQ by 百度Geek说](https://xie.infoq.cn/article/77c3ca8c4f5f4e938e7fb8b87)  2021-04-08
    - 针对每个指令是独立执行单元要重复获取数据的问题的解决方案（即Session级Cache）。
- [Java 多线程上下文传递在复杂场景下的实践 by vivo互联网技术](https://blog.csdn.net/vivo_tech/article/details/113500269)（海外商城租户区分） 2021-02-01
    - 从业务拓展的角度阐述了在复杂业务场景下如何通过`ThreadLocal`，过渡到`InheritableThreadLocal`，再通过`TransmittableThreadLocal`解决实际业务问题。

[2018-12-10 12:19] rybalkinsd commented on #118
**Related**
https://github.com/Kotlin/kotlinx.coroutines/pull/454

[2018-12-10 14:00] chutian52 commented on #123
@oldratlee Does TTL support netty FastThreadLocal?

[2018-12-14 06:27] zongchangbo opened #125 "如何子线程向父线程传递值？"
目前发现的都是主线程到子线程的 值传递；
那从子线程到主线程的 却不能实现，这个有办法解决吗？

[2018-12-14 09:20] oldratlee commented on #125
## 首先

任何支持多线程的环境都 支持 从不同线程之前 『传递』（或说共享）状态。 @zongchangbo
\# 共享状态（引用） 注意同步 即可，即 平时 大家说的 并发编程。

## 然后

`transmittable-thread-local`提供的是 一个 典型场景下的规范化/模式化的解法，进而 简化 使用、实现和系统设计。

参见文档：

- https://github.com/alibaba/transmittable-thread-local#-%E5%8A%9F%E8%83%BD

- 🎨 需求场景
https://github.com/alibaba/transmittable-thread-local/blob/master/docs/requirement-scenario.md

## 更多讨论参见

- 子线程池中复用的线程无法随父线程池中的线程的更新而

[2018-12-19 03:25] #125 closed, assigned to oldratlee

[2018-12-19 03:32] zongchangbo commented on #125
嗯  谢谢啊，TTL缺省向子线程传递的是引用， 而我之前用的是String  这种弱引用类型 ，所以失败了

[2018-12-19 07:22] oldratlee commented on #125
COOL 解决了就好 ❤️

## PS 关于`String`类型

更准确地说，

- `String`是实现成`Immutable`的，即不能修改，即父线程不可能看到子线程变更。
- `String`类型的变量，如果你没有做了专门的处理（如使用`WeakHashMap `/`WeakReference `之类的），本身`String`变量是强引用 非弱引用。

[2018-12-22 09:48] zongchangbo commented on #125
下面的这个demo是可以的：
public class CustomThreadLocal {
    static TransmittableThreadLocal<String> threadLocal = new TransmittableThreadLocal<>();
    public static void main(String[] args) {
        new Thread(new Runnable() {
            @Override
            public void run() {
                CustomThreadLocal.threadLocal.set("test: " + new Random(10).nextInt());
                new Service().call();

[2018-12-22 09:50] zongchangbo commented on #125
然后我的解决方案就是把String  换成一个对象，请问为何会发生这样的事情？

[2019-01-07 03:31] FDU-SE-LAB opened #126 "Your project alibaba/transmittable-thread-local is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mor

[2019-01-07 04:08] oldratlee commented on #126
@FDU-SE-LAB Thanks for your pro analysis! ❤️👍

- It is ensured that `commons-lang3`(`v3.5`) is only used for **_`test code`_**, it's **not harmful** to release jar;
- and this project need support `Java 6`, so locked the `commons-lang3` version to `v3.5`.

Thanks for your pro analysis again! ❤️

Close this issue. @FDU-SE-LAB

[2019-01-07 04:08] #126 closed

[2019-01-09 09:48] oldratlee commented on #100
@youzipi

在业务中直接以`new Thread`这样的方式 来 使用，正确完成传递 是  期望的功能。

但是，上面提到的一些场景， 在业务上 有潜在的（**_potential_**）的 泄漏或污染。

这样的情况下，期望进一步解决好～

[2019-01-20 08:11] kissss commented on #123
感谢整理

[2019-02-11 12:17] LQZYC opened #127 "关于实现：在TtlRunnable.get(task)初始化中完成TTL的值抓取，即TtlRunnable.get初始之后的TTL值不会被传递"
[code]

以上代码输出为

[code]

----------------------

无法获取到parent1对象在父线程设置的值。

代码如果`parent1.set("parent1")`在`Runnable ttlRunnable = TtlRunnable.get(task)`初始化之前设置才可以看到。

[2019-02-11 12:22] LQZYC commented on #127
看了下代码是这里删除了
com.alibaba.ttl.TransmittableThreadLocal.Transmitter#replay

// clear the TTL values that is not in captured
                // avoid the extra TTL values after replay when run task
                if (!capturedMap.containsKey(threadLocal)) {
                    iterator.remove();
                    threadLocal.superRemove();
                }

是专门设计的吗？只能捕获TtlRunnable创建前父线程中设置的上下文？

[2019-02-11 13:11] oldratlee commented on #127
@LQZYC 是这样。

抓取 **父操作的`TTL`的值** 发生在 **`TtlRunnable.get`**，即在这个操作之后不会影响。

是的专门设计。这样整个流程 固定明确，可以方便分析推理。

关于 『捕获`TtlRunnable`创建前父线程中设置的上下文』这个问题，展开 还涉及值/引用，不是一句话。如果上面说的理解有些困难，可以先看一下关于`TTL`的Issue：

## 讨论和使用注意参见

- 关于 父子传递
  - 子线程池中复用的线程无法随父线程池中的线程的更新而更新
https://github.com/alibaba/transmittable-thread-local/issues/117#issuecomment-432169173
  - Session级Cache场景下，TransmittableThreadLocal的使用问题
https://gith

[2019-02-11 13:12] oldratlee commented on #127
这样的设计，可以 解决 复杂&典型的场景，并简化分析和使用。

你可以 说一下你的场景？
有碰到 什么 你不能解决的场景 或问题吗？ @LQZYC

[2019-02-11 13:17] oldratlee commented on #125
@zongchangbo

因为 涉及 `HandlerInterceptorAdapter`/`HystrixCommand` ，要具体分析这些涉及框架的 整体流程 与 代码实现。

这些 框架 我没有具体用过，所以 你要自己去分析一下了。 😄

[2019-02-15 06:16] wilddylan opened #128 "这个库带来怎样的好处和优势？"

[2019-02-15 13:45] oldratlee commented on #128
当要说一个方案『好处』和『优势』时，要说明的是 『 **_解决一个问题_** 的 **_另一其它方案_** 的 **_对比_**』 :) @wilddylan ，即 涉及3部分： 1) 解决的问题 ，2) 其它解决方案 和 3) 对比。

# 1. 关于 解决的问题

简单地说，『异步执行上下文的传递』。

更多可以看文档中的说明：[功能](https://github.com/alibaba/transmittable-thread-local#-%E5%8A%9F%E8%83%BD) 和 [需求场景](https://github.com/alibaba/transmittable-thread-local/blob/master/docs/requirement-scenario.md)。

# 2. 其它解决方案

解决『异步执行上下文的传递』，手动的直接方案是下面的示例代码。

[2019-02-19 03:37] #127 closed

[2019-02-23 04:43] shengchaojie opened #129 "为什么test里面的代码都是kotlin写的"

[2019-02-23 13:21] oldratlee commented on #129
测试代码使用`Kotlin`，是因为`Kotlin`更现代化写起来更方便。

了解`Kotlin`，可以看看[个人整理的书单](https://www.douban.com/doulist/67457911/)。

--------------

另一个对应的问题是『为什么生产代码不使用`Kotlin`？』

原因是 减少`TTL`库的依赖。作为一个底层基础库，期望 0依赖。

[2019-02-28 09:00] driventokill opened #130 "ThreadLocal integration"
In the user code, `ThreadLocal` can be passed as a cross-thread transmit capability by defining it as `TransmittableThreadLocal`. However, if the user relies on a library that uses the `ThreadLocal` implementation, it cannot modify its code at this time, so it cannot be easily used in asynchronous. The ability to get context transmit in the code.

One possible solution is the **integration** trans

[2019-02-28 16:31] #129 closed

[2019-03-02 13:07] wilddylan commented on #128
很棒唉 ~ 嘿嘿，为你点赞，快给我一个你加密的工号，我去给你点赞！

[2019-03-02 15:56] oldratlee commented on #128
噗～ 直接用我的id `oldratlee` 在内网就查到我了。
我的名字 & 花名 都直接在我的`github`主页上： https://github.com/oldratlee 。

PS： 这个`Issue`不用关了，方便 其它人可以看到 ❤️ @wilddylan

[2019-03-06 07:12] blurooo commented on #53
看得我跳了起来

[2019-03-26 12:35] yearyeardiff opened #132 "请教个问题：TransmittableThreadLocal中的holder为什么不使用ThreadLocal"
我对holder的理解是：保存当前线程所有的threadlocal用于在`TtlRunnable.get(task)`生成快照。个人觉得没有必要从使用InheritableThreadLocal类型的holder从父线程中继承，完全可以从生成的快照中恢复到holder中

[2019-03-26 12:47] yearyeardiff commented on #132
还有个问题：
![image](https://user-images.githubusercontent.com/10304305/54997905-cd3f9480-5007-11e9-9c8a-117deb7a53db.png)
从这段代码中可以看出，task所在线程每次使用的threadlocal都是从`captured`,和此时线程holder中的threadlocal没有关系，如果没有关系，那为什么还要备份和恢复呢？这样不会有内存泄漏吗？

[2019-03-26 15:23] oldratlee commented on #132
对应的测试Case如下：
\# 不具体解释，整体流程说明起来复杂，如果你有兴趣可以理解梳理出来。

期望输出 `hello hello`。
如果`holder`使用`ThreadLocal`，输出的是`hello null`。

[code]

------------------

这点 提过Bug 并修复，具体 参见 Issue #70 嵌入Thread调用的bug

[2019-03-26 15:36] oldratlee commented on #132
-『和此时线程holder中的threadlocal没有关系』
   这个过程 和 『holder中的threadlocal』有关，具体看 `replay`方法的实现
- 不会『内存泄漏』。
  - 可以通过完整的实现逻辑 来分析确定
  - 也做过 内存的压力测试。
    更多说明 参见 [文档 - 性能测试](https://github.com/alibaba/transmittable-thread-local/blob/master/docs/performance-test.md)，有脚本和测试运行的说明，你可以自己也试试。

[2019-03-26 15:41] oldratlee commented on #123
## 关于`FastThreadLocal`的文章

- Netty源码学习（七）FastThreadLocal
http://www.cnblogs.com/stevenczp/p/7667719.html
- Netty的FastThreadLocal
https://blog.csdn.net/sun734274006/article/details/50802326
- 【源起Netty 外传】FastThreadLocal怎么Fast？
https://segmentfault.com/a/1190000012926809

[2019-03-27 02:51] yearyeardiff commented on #132
懂了，之前的理解是因为没有考虑到下面的场景。
[code]
解答很详细，感谢！

[2019-03-27 02:51] #132 closed

[2019-04-08 10:27] woshioosm opened #133 "agent 类增强后 netty的线程池报错"
netty的线程池 默认使用的是 MemoryAwareThreadPoolExecutor  该Executor中定义了 自己的runnable实现MemoryAwareRunnable。
使用ttl增强后报错：

[code]

具体报错就是 netty 想把task转成自己的runnable是类型错误
`increment = ((MemoryAwareRunnable) task).estimatedSize;`

同理 对于其他自定义线程池和runnable的程序 ， 通过增强使用TtlRunnable  是否有风险？

[2019-04-09 06:15] oldratlee commented on #133
@woshioosm

这个 Issue https://github.com/alibaba/transmittable-thread-local/issues/121#issuecomment-436564699 也涉及这个问题，解决方法是：

需要 可以把这个需要 做一下 :)

[2019-04-09 06:19] oldratlee commented on #133
@woshioosm

现在 一个解决方法：

升级到 `Netty 4`，在`Netty 4`中已经没有 `org.jboss.netty.handler.execution.MemoryAwareThreadPoolExecutor`类（这个`Netty 3`实现中有的类）。

当然 升级`Netty`要做的事 也很不少。 😄

[2019-04-16 02:32] woshioosm commented on #133
1. 如果是api的角度 使用ttlRunable等方式wrap感觉很合适 ，不会影响其他的executor中操作自己的Runable。
2. 但是既然使用了字节码 能否切的更下层一些， 比如说 runable callable的方法最终都是由 futureTask的run方法中的call 来进行调用 是否可以对其进行增强（增强一处可以同时满足runnable和callable）
3.  基于v2.10.2 jdk8 进行了实验 写了一个简答的transformor 完全仿制了ttlrunable的切面方式
https://github.com/woshioosm/transmittable-thread-local/blob/dev/src/main/java/com/alibaba/ttl/threadpool/agent/internal/transformlet/impl/TtlF

[2019-04-17 05:31] oldratlee commented on #133
@woshioosm 还好的思路 👍 我也想一下 ❤️

这样的做法，目前想到需要要注意的问题：

1. 与`ThreadPoolExecutor`的实现实现细节相关，不是面向`API`，如果要跟进不同版本`JDK`和`ThreadPoolExecutor`实现方式调整，否则可能`Break`功能。
2. 与用户已使用的Wrap使用方式（如 `TtlRunnable.get`）输入，与开启Agent后的协作（如 不期望多次Wrap） 要注意。

[2019-04-17 07:14] woshioosm commented on #133
@oldratlee
1.  嗯 说的对。  jdk需要 保持关注future的 result = c.call();这行不能发生变化。   个人觉得可以做些判断， 如果它不存在了 ，再生效替补的 transformor。

2. 对于如果用户使用api的情况，可以添加判断逻辑 （参见：https://github.com/woshioosm/transmittable-thread-local/blob/dev/src/main/java/com/alibaba/ttl/threadpool/agent/internal/transformlet/impl/TtlFutureTaskTransformlet.java）
在futureTask的构造方法处判断是否是Ttl包裹后的runnbale和callable， 在进行后面的逻辑

`String code = "isApiTtl=($

[2019-04-20 15:02] luoxn28 opened #134 "关于clean extra TTL value的疑问"
您好，看到clean extra TTL value这块逻辑，有个疑问，特请教下，谢谢。

疑问点：

*从目前transmittable-thread-local的TtlRunnable实现来看，在TtlRunable run时，会以TtlRunnable.get时间点获取的captured（类似TTL快照）为准，holder中不在captured的先移除，在的会被替换*。

holder中不在captured的先移除，这样会导致当前线程之前set过的TransmittableThreadLocal变量数据丢失，如果父线程中也存在该TransmittableThreadLocal变量但是没set过？

[code]

这里我有个疑问，如果当前线程holder中有一个TransmittableThreadLocal（captured中没有），并且当前线程之前也set过该Transmitta

[2019-04-23 04:12] oldratlee commented on #134
1. `TransmittableThreadLocal`一般是`static`，即`TransmittableThreadLocal`对象本身是全局存在的。
2. `TransmittableThreadLocal`传递的是 `TransmittableThreadLocal`的`value`。
    - `ThreadLocal`（含`InheritableThreadLocal `、`TransmittableThreadLocal`）的`value`是`Lazy Init`（延迟初始化的）。
        -  `ThreadLocal`为什么是延迟初始化，这个问题应该是容易理解的，原因是：
            在没有具体业务场景前提下，这样的做法避免内存浪费。
    - `ThreadLocal`的`get`/`set`操作会初始化`ThreadLocal`的值。

[2019-04-24 03:10] luoxn28 commented on #134
谢谢回复~ 你说的这些我是理解的，ttl代码也是这样实现的。

『如果父线程中没set过，就出现在子线程（更严谨地说，是被传递的线程）』
这其实是 Bug :) --- 使用transmittable-thread-local，是不推荐这种父线程中没有set过的TransmittableThreadLocal变量，就出现在被传递线程的，我当时是看到`clean extra TTL value`这块代码时感觉这种场景有问题，实际上不推荐这样使用的~

[2019-04-24 08:13] #134 closed

[2019-04-25 01:51] xiexianchao opened #135 "仅仅通过代理Runnable能否实现同样的功能"
我理解的是`TTL`源码主要分为两部分，一部分是`TransmittableThreadLocal`，另一部分是`Runnable`、`Callable`等代理类。

我有一个问题，仅仅通过代理`Runnable`能够实现跨线程池的上下文传递吗或者说这样有什么缺点？

比如这样：

[code]

[2019-04-25 03:36] oldratlee commented on #135
@xiexianchao 简单场景（如只涉及单个上下文时）这个做法是够用。

随着应用场景复杂，如

- 涉及多个上下文
- 使用方期望透明 要关心的不同上下文的传递
- 嵌套且同不切换线程情况下，安全的设置与清理
你示例做法会有问题

上下文传递成为一个架构问题，需要关注并解决好的点变得错综复杂起来了。

展开的讨论 详见 Issue #128 这个库带来怎样的好处和优势？

[2019-04-29 07:17] #135 closed

[2019-05-06 03:17] cubika opened #136 "TransmittableThreadLocal 在 Capture/Replay 操作时使用 HashMap 的问题"
请问 TransmittableThreadLocal 在线程切换时进行上下文备份和回放，为什么使用 HashMap 而非 WeakHashMap 进行存储？

对应代码：

- `Map<TransmittableThreadLocal<?>, Object> captured = new HashMap<TransmittableThreadLocal<?>, Object>();`
- `Map<TransmittableThreadLocal<?>, Object> backup = new HashMap<TransmittableThreadLocal<?>, Object>();`

这样把原来是弱引用的 key 变成了强引用，可能导致父线程已经执行完了，但由于子线程使用了 TransmittableThreadLocal 变相延长了生命周期，restore 返回之前无法被回

[2019-05-06 07:08] yinjihuan commented on #128
直接使用TransmittableThreadLocal就可以跨线程池传递了，想请教下修饰线程或者线程池的作用是什么？我测下来，不修饰也是可以的

[2019-05-07 00:18] oldratlee commented on #128
`TransmittableThreadLocal`有3种使用方式，参见文档：

1. [修饰`Runnable`和`Callable`](https://github.com/alibaba/transmittable-thread-local/#21-%E4%BF%AE%E9%A5%B0runnable%E5%92%8Ccallable)
2. [修饰线程池](https://github.com/alibaba/transmittable-thread-local/#22-%E4%BF%AE%E9%A5%B0%E7%BA%BF%E7%A8%8B%E6%B1%A0)
3. [使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local/#23-%E4%BD%BF%E7%94%A8j

[2019-05-07 00:26] oldratlee commented on #136
`Capture` + `Replay` + `Restore` （即`CRR`) 是为了完成 **_业务_** 上下文的传递，所以一定要传递成功。

如果`CRR`过程用的是`WeakHashMap`，则传递过程中 **可能会被释放掉**；即可能 传递失败，即是 **Bug**。 @cubika

**可能会被释放掉** 的原因是：

- `TransmittableThreadLocal`中持有的上下文是 **弱引用**（`ThreadLocal`和`InheritableThreadLocal`也是这样的）。
- 业务本身可能在父线程可能，提交任务后就不再持有上下文对象。

[2019-05-07 02:07] cubika commented on #136
理解了，因为是异步的，子线程并不强保证执行顺序(即使代码看起来是立即执行的)，可能存在延迟执行的情况，这时如果父线程上下文被回收，子线程就拿不到需要的数据，从而产生 bug

[2019-05-07 02:07] #136 closed

[2019-05-07 08:20] chanbaor opened #137 "使用TransmittableThreadLocal后项目中shiro无法进行登录认证"

[2019-05-07 08:23] chanbaor commented on #137
使用TransmittableThreadLocal后项目中shiro无法进行登录认证，抛No SecurityManager accessible to the calling code, either bound to the org.apache.shiro.util.ThreadContext or as a vm static singleton.  This is an invalid application configuration.异常，去掉TransmittableThreadLocal后正常。

[2019-05-07 10:28] oldratlee commented on #137
和具体流程、传递的数据和使用框架相关，推荐你自己了解分析一下。

或者给一个极简的可运行复现问题的代码实现。 @chanbaor

[2019-05-07 10:33] yinjihuan commented on #128
我是想问这个问题，是不是可以不用配合上面的三种方式，直接使用TransmittableThreadLocal就可以了@oldratlee

[2019-05-07 13:02] oldratlee commented on #128
不行的。

你的测试Case不全，不典型。

『不全，不典型』的验证方法，比如： @yinjihuan
把你的测试Case换成 `ThreadLocal`，是不是 也是通过。

[2019-05-07 14:17] yinjihuan opened #138 "TransmittableThreadLocal使用问题"
我目前测试下来，发现只需要使用`TransmittableThreadLocal`就可以跨线程池传递，疑问是到底要不要进行线程的修饰？

或者说，是不是可以不用配合下面的使用三种方式，直接使用`TransmittableThreadLocal`就可以了

-------

`TransmittableThreadLocal`有3种使用方式：

1. [修饰`Runnable`和`Callable`](https://github.com/alibaba/transmittable-thread-local/#21-%E4%BF%AE%E9%A5%B0runnable%E5%92%8Ccallable)
2. [修饰线程池](https://github.com/alibaba/transmittable-thread-local/#22-%E4%BF%AE%E9%A5%B0%E7%BA%B

[2019-05-07 14:18] yinjihuan commented on #138
用threadLocal是获取不到值的，用TransmittableThreadLocal就可以

[2019-05-08 03:45] oldratlee commented on #138
`TransmittableThreadLocal`有3种使用方式，参见文档：

1. [修饰`Runnable`和`Callable`](https://github.com/alibaba/transmittable-thread-local/#21-%E4%BF%AE%E9%A5%B0runnable%E5%92%8Ccallable)
2. [修饰线程池](https://github.com/alibaba/transmittable-thread-local/#22-%E4%BF%AE%E9%A5%B0%E7%BA%BF%E7%A8%8B%E6%B1%A0)
3. [使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local/#23-%E4%BD%BF%E7%94%A8j

[2019-05-08 03:48] oldratlee commented on #138
给一下 你的 测试 Case？ 我看一下 :)

[2019-05-08 07:36] yinjihuan commented on #138
链接: https://pan.baidu.com/s/1vh8ncJHcrHCmsiXK5dv7Ow 提取码: mpp4 复制这段内容后打开百度网盘手机App，操作更方便哦

[2019-05-08 07:36] yinjihuan commented on #138
传到网盘了
启动项目，访问http://localhost:8311/test?id=1，可以看到控制台有如下输出：

http-nio-8311-exec-2:controller.test:1
SimpleAsyncTaskExecutor-1:service.test:null

第一行是Controller输出的，用的是tomcat的线程
第二行是Service输出的，用的是异步线程池的线程
使用ThreadLocal进行值传递是获取不到的

将RpcContent中ThreadLocal改成TransmittableThreadLocal后再次测试，值可以获取到，并没有对线程进行修饰

[2019-05-08 13:06] devratnaarya opened #139 "Not able to access InheritableThreadLocal object from parent thread to hystrix thread pool"
I have InheritableThreadLocal<ConcurrentHashMap<String, Object>> thread that initializes when a request comes via the filter and set some transaction_id in it.

Now at the service layer, i'm calling 10 different API calls via CompletableFuture. All API service class have one execute method that is using RestTempate to make an API call. I put @HystrixCommand on execute method.

execute method is vo

[2019-05-08 15:32] oldratlee commented on #138
在Github上，推荐 直接走一个仓库的代码工程  :)

[2019-05-09 01:31] yinjihuan commented on #138
我再详细测试下

[2019-05-09 02:03] yinjihuan commented on #138
没问题了，之前我测过的，『小伙伴同学们写的 TTL使用场景 与 设计实现解析的文章』里面有2篇文章还是我自己写的，哈哈。
只是最近我稍微试了一下，没仔细测，发现不修饰也可以获取值，我以为新版本改进了。

[2019-05-09 02:03] #138 closed

[2019-05-20 03:45] dictionaryshi opened #140 "关于内存泄漏的问题"
咨询下， 子线程自动拷贝了父线程中的变量， 那么一般子线程不考虑主动删除拷贝过来的变量，是不是有内存泄漏的风险呢。

[2019-05-22 11:43] oldratlee commented on #140
子线程中 执行的过程是：

- `Replay`：重放父线程过来的上下文。框架完成，业务不受业务影响。
- 执行业务逻辑
- `Restore`： 恢复成执行前自己上下文。框架完成，业务不受业务影响。
    这一步的结果是，不再引用释放父线程过来的上下文。
    即不会因为`transmittable-thread-local`的传递过程引入内存泄漏的问题。

更信息参见：

- 文档：[所有TTL值的抓取、回放和恢复方法（即CRR操作）](https://github.com/alibaba/transmittable-thread-local/blob/master/docs/developer-guide.md#-%E6%A1%86%E6%9E%B6%E4%B8%AD%E9%97%B4%E4%BB%B6%E9%9B%86%E6%88%90ttl%E4%BC%A0%E9%80%92

[2019-05-22 11:43] #140 closed

[2019-05-22 14:14] #137 closed

[2019-06-03 01:08] auyang-0626 commented on #133
@oldratlee
你好，我们在trace系统中引入了ttl.同样遇到用户在beforeExecutor方法中，强转runnable的类型报错。
我的解决方法是  agent增强的时候，拦截所有的ExecutorService派生出来的类，把它们的beforeExecutor和afterExecutor都增强下，从TtlRunnable取出用户原始的类型，然后还回去。
这种方式你觉得会有什么隐患吗？

[2019-06-04 01:49] auyang-0626 opened #141 "强转类型失败的bug"
你好，我们在trace系统中引入了ttl.同样遇到用户在beforeExecutor方法中，强转runnable的类型报错。

我的解决方法是：

agent增强的时候，拦截所有的ExecutorService派生出来的类，把它们的beforeExecutor和afterExecutor都增强下，从TtlRunnable取出用户原始的类型，然后还回去。

这种方式你觉得会有什么隐患吗？

[2019-07-09 06:28] qq31715879 opened #142 "TtlRunnable A run执行最后一行sleep, TtlRunnable B执行完毕 释放TransmittableThread Local holder, TtlRunnable A进入restore holder还是有值怎么做到的"
源码学习提问

[code]

----------------------------------------------------------------------------

- TtlRunnable A和B共同使用一个TransmittableThreadLocal
- TtlRunnable A run执行最后一行sleep
- TtlRunnable B run执行完毕 -> 释放TransmittableThreadLocal holder，holder中的map size == 0
- TtlRunnable A开始进入restore，但是进入方法之前，holder中的map值被恢复了，holder还是有值
    怎么做到的？

--------------------------------------------------------------------

[2019-07-10 12:10] oldratlee commented on #141
#133 同一个问题

[2019-07-10 12:38] oldratlee commented on #142
你的信息说明 还不清楚。比如

不清楚你说的是，恢复 成什么了？你期望的恢复 成什么？

------------

### @qq31715879 推荐：

- 要注意的是`holder`本身是一个`InheritableThreadLocal`。
- 文档：[所有TTL值的抓取、回放和恢复方法（即CRR操作）](https://github.com/alibaba/transmittable-thread-local/blob/master/docs/developer-guide.md#-%E6%A1%86%E6%9E%B6%E4%B8%AD%E9%97%B4%E4%BB%B6%E9%9B%86%E6%88%90ttl%E4%BC%A0%E9%80%92)
- 可以看看『[小伙伴同学们写的 设计实现解析文章（写得都很好！ ）❤️ #123](https://github.com/al

[2019-07-11 07:41] qq31715879 commented on #142
InheritableThreadLocal<Map<TransmittableThreadLocal<?>, ?>> holder

demo是两个ttlRunable
Thread a 执行ttlRunable A , ttlRunable A run最后一行是sleep 10s
Thread b和Therad a并发执行,
Thread b执行ttlRunable B , 那么ttlRunable B会先触发TransmittableThreadLocal.Transmitter.restore(backup);这方法
这方法吧holder中的map清空了, map的size是0

10s之后Thread a的ttlrunable a开始执行
TransmittableThreadLocal.Transmitter.restore(backup);这方法
但是共同操作的holder

[2019-07-11 07:44] #142 closed

[2019-07-11 07:45] qq31715879 commented on #142
感谢提醒, 想起来了 holder本身是一个Threadlocal所以线程b释放的是自己的threadlocal 所以有值

[2019-07-11 07:52] qq31715879 commented on #142
感谢大佬回复

------------------ 原始邮件 ------------------
发件人: "李鼎(哲良)"<notifications@github.com>;
发送时间: 2019年7月10日(星期三) 晚上8:38
收件人: "alibaba/transmittable-thread-local"<transmittable-thread-local@noreply.github.com>;
抄送: "kael"<31715879@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [alibaba/transmittable-thread-local] TtlRunnable A run执行最后一行sleep, TtlRunnable B执行完毕 释放TransmittableThread Local h

[2019-07-11 17:37] oldratlee commented on #130
The integration transmit for `ThreadLocal` cause the **break** of **semantics** of `ThreadLocal`:

- the **Thread Confinement** from `ThreadLocal`.
    - aka. the thread-safe relied on the `ThreadLocal` does no longer established.

so mark this issue `invalid` and close.

---------------

`ThreadLocal`的集成传输 会导致 打破`ThreadLocal`的语义：

- ThreadLocal保证的线程封闭。
     - 即，依赖于`ThreadLocal`的线程安全不再成立。

鉴于上面的原因

[2019-07-11 17:42] #141 closed

[2019-07-11 18:31] oldratlee commented on #141
@auyang-0626 发布了版本`2.11.0-RC1` 来解决这个问题。

你试试 是不是 OK的？ :)

[2019-07-11 18:34] oldratlee commented on #133
@auyang-0626 在版本`2.11.0-RC1`中解决这个问题，就是你的思路：

另外加的判断逻辑是：

只是有`Agent`的情况下（即`Auto Wrapper`），才会做这个`Auto Unwrap`操作。

[2019-07-12 02:12] oldratlee commented on #121
@aqqwiyth 在版本`2.11.0-RC1`中解决这个问题。试试 是不是 OK的？ :)

[2019-07-19 04:57] #133 closed

[2019-07-31 09:05] Henton opened #144 "有个疑惑，望解答。"

[2019-07-31 09:07] Henton commented on #144
例如这样
public final T get() {
        return (T) holder.get().computeIfAbsent(this, (key) -> initialValue());
    }

public final void set(T value) {
        // may set null to remove value
        if (null == value) removeValue();
        else addValue(value);
    }

public static Object replay(@NonNull Object captured) {
            @SuppressWarnings("unchecked")
            Map<TransmittableThrea

[2019-07-31 09:22] #144 closed

[2019-08-01 14:46] soca2013 opened #145 "没有特别理解 capture replay restore 这样的方式的好处？"
如果直接用map，在capture 时清理map中的数据，同时在restore 清理map中的数据，会有什么影响？想了半小时，实在没想清楚在什么场景下，下面这代码的意义：

[code]

同时，在run 的 finally 中restore 的原因也没想明白， 如果线程结束了，那么 把之前的  TransmittableThreadLocal restore回来有什么意义？ 线程复用的话，应该是在下次线程执行时复用 启动线程的 TransmittableThreadLocal，而不是restore 的TransmittableThreadLocal。

谢谢啦解答下。

[2019-08-03 10:26] oldratlee commented on #145
# 提供反例式的回答

你说的是 map 是指 `holder`吗？如果是，说明如下：

### 『在capture 时清理map中的数据』 的问题

[code]

### 『在restore 清理map中的数据』 的问题

提交到线程池的任务 可能 在本线程直接执行（参见 [『`CallerRunsPolicy`』](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadPoolExecutor.CallerRunsPolicy.html)。

问题说明如下：

[code]

还是 因为 『提交到线程池的任务 可能 在本线程直接执行』『Restore』确保没有上面的**_`Bug`_**。

# 按原则的回答

`CRR(Capture/Replay/Restore)`是一个面向上下文传递设计的流程，

[2019-08-03 10:26] #145 closed

[2019-08-10 17:20] oldratlee commented on #130
released in [v2.11.0-RC3](https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.11.0-RC3).

[2019-08-10 17:20] #130 closed

[2019-09-14 10:17] Daiqiangdeveloper opened #147 "biz 全称是啥？就是喜欢起名字。。"
![image](https://user-images.githubusercontent.com/19928030/64906661-c9b9da00-d71b-11e9-9203-d01e748dd13c.png)

[2019-09-15 11:41] oldratlee commented on #147
`biz`是`business`/业务 的缩写。 @Daiqiangdeveloper

`biz code`是 业务代码的意思。 😄

[2019-09-15 11:41] #147 closed

[2019-09-15 11:50] Daiqiangdeveloper commented on #147
哈哈哈  谢谢解答

[2019-09-17 13:30] lesterwang opened #148 "agent增强后，Tomcat使用Http11Nio2Protocol协议导致的性能问题"
在`Tomcat`容器使用`Http11Nio2Protocol`协议时，请求的分发会执行到：

[code]

其中`indexOf`的逻辑为：

[code]

在使用`TTL Agent`增强的情况下，`ThreadPoolExecutor.remove(Runnable task)`的参数`task`会被转换为`com.alibaba.ttl.TtlRunnable`，在执行

[code]

语句时，执行结果永远为`false`，`TtlRunnable`会和队列中的每一个任务进行比较，且结果为`false`，在高并发的情况下，任务队列中的任务会有几千到几十万个不等，`x.equals(queue[i])`成为一个严重影响性能的操作，且无法及时清理掉任务进一步影响性能。

这种情况怎么处理比较合适呢？

[2019-09-17 14:22] oldratlee commented on #148
问题收到，我理解一下。

看你已经分析过源码了，方便分离一下问题，给一下 极简的（不涉及Tomcat）可运行复现问题的测试Demo代码吗？

如果能写成个UT就更好了： @lesterwang ❤️

- Fork这个仓库
- 添加一个 极简的可运行复现问题的 UT Case

[2019-09-17 15:03] lesterwang commented on #148
@oldratlee 因为这个问题牵扯到
[code]
这个内部类（非public的），不适用tomcat容器很难复现这个问题，使用springBoot 1.5.x版本，然后添加一个bean：
[code]
随意提供一个接口访问应该能复现这个问题。需要的话明天我再提供一个单独的项目方便测试。

当使用Http11Nio2Protocol协议处理请求时，会通过
[code]
sun.nio.ch.UnixAsynchronousSocketChannelImpl.finishRead(boolean var1)
[code]
java.util.concurrent.remove(Runnable task)
[code]
ScheduledThreadPoolExecutor$DelayedWorkQueue.indexOf(Object x)
[code]

[2019-09-19 14:05] 0josh0 opened #149 "使用Hytrix的线程池如何修饰呢"
如题

[2019-09-21 12:24] oldratlee commented on #149
有些文章说明，比如：

- Spring Cloud中Hystrix 线程隔离导致ThreadLocal数据丢失
    - 上篇 http://cxytiandi.com/blog/detail/13331
    - 下篇 http://cxytiandi.com/blog/detail/18782

可以看一下。

具体采用可以自己搜索、试用再看看 :)

[2019-09-21 12:24] #149 closed

[2019-09-21 13:13] oldratlee commented on #136
@cubika 所有权 确实 是个 费脑子的问题。

经过仔细的分析，在上下文传递的过程（即`CRR`：`Capture` + `Replay` + `Restore`）中，确实是可以使用`WeakHashMap`的。

实现代码已经改好了，并发布了版本`2.11.0`：
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.11.0

[2019-09-21 16:09] 0josh0 opened #150 "javaagent路径配置问题"
你好，在github上看见`transmittable-thread-local`，非常想使用。

但是关于通过`javaagent`的方式使用不是很理解，想请问一下具体使用方式：

1. 在`pom`中引入`dependency`
1. 在启动脚本中增加：`-javaagent:WEB-INF/lib/transmittable-thread-local-2.10.2.jar`

不知道后面的路径用的对不对，我直接写的`war`解压后的相对路径，但是看样子好像没起作用，请教～

[2019-09-21 16:09] 0josh0 commented on #150
Jerry Lee <oldratlee@gmail.com> 于2019年9月21日周六 下午10:34写道：

2、在启动脚本中增加：-javaagent:WEB-INF/lib/transmittable-thread-local-2.10.2.jar

javaagent的路径 可以设置成
相对路径
相对路径是指 启动WAR的WebServer（如Tomcat）的Java进程的当前路径。
或 绝对路径

在你的例子中，可以看出 你用的是 相对路径，且相对的 解压的WAR目录。

如果没有起作用，说明 启动WAR的WebServer（如Tomcat）的Java进程的当前路径 不是 解压的WAR目录。

请确认  启动WAR的WebServer（如Tomcat）的Java进程的当前路径 是什么，写正确相对路径 即可。

[2019-09-22 14:46] oldratlee commented on #150
- `JavaAgent`指定的`Jar`文件路径，所以`WAR`文件中的`TTL Jar`文件，不能生效。
    - 解压了的`WAR`文件就有了`TTL Jar`文件。
- 查看进程的当前路径（`current/working directory`），可以试试`pwdx`命令（如果你机器上有这个命令的话）。
    - 更多与具体情况相关的查看方式，可以搜索一下。

[2019-09-22 14:46] #150 closed

[2019-10-08 09:46] cmershen1 opened #151 "不支持CompletableFuture?"
我使用`log4j2-ttl-thread-context-map`实现线程间的请求链路跟踪。

发现每次使用`CompletableFuture`时，日志打出的`traceid`都是一样的，是否不支持`CompletableFuture`？

[2019-10-08 12:56] oldratlee commented on #151
方便分离一下问题，给一下 极简的（不涉及Tomcat）可运行复现问题的测试Demo代码吗？

如果能写成个UT就更好了： @cmershen1  ❤️

- Fork这个仓库
- 添加一个 极简的可运行复现问题的 UT Case

[2019-10-08 13:01] #151 closed

[2019-10-15 10:30] 804e opened #152 "spring async连接池无法正确传递线程本地变量"
ttl版本:2.11.0
async连接池配置
[code]
线程辅助类
[code]
测试代码
[code]
发现async线程池调用的时候本地线程变量全部为null
[code]
而且线程标识始终是scheduling-1

[2019-10-15 11:55] wuwen5 commented on #152
可能没有覆盖默认taskExecutor，你可以加上```executor.setThreadNamePrefix("ttl-test-");```验证下。

```@Async``` 可以指定线程池 ```@Async("myExecutor")``` ，或者你可以指定的方式验证.

[2019-10-16 00:55] 804e commented on #152
确实是，修改了后可以按照指定线程池调用了，线程本地变量也正常了

[2019-10-16 01:56] #152 closed

[2019-10-16 01:57] 804e commented on #152
修改后的配置
[code]

[2019-10-26 13:31] IgorKey commented on #118
Are there any updates???

[2019-10-27 11:24] IgorKey commented on #94
@driventokill @oldratlee guys, could you please  give the status of this issue?
I tried this on netty, ofc it didn't work. Are there any workarounds for use this brilliant lib with netty fastThreads?

[2019-11-09 07:44] Nikati opened #153 "token存放在threatlocal中Hystrix线程隔离取值不到。"
请问大家能提供一下解决DEMO吗。

[2019-11-09 17:44] oldratlee commented on #153
@Nikati 可以看看这个 https://github.com/alibaba/transmittable-thread-local/issues/149#issuecomment-533793956 ，有文章说明`Hystrix`的问题及其解法：

----------

这边不怎么用`Hystrix`，我没有时间去挖这问题（`TTL`的使用问题）。

欢迎 @Nikati   ❤️
- 了解了上面的解法，能写个Demo。
- 通过Pull Request 贡献到 这个 项目里来

[2019-11-09 17:44] #153 closed

[2019-11-21 07:47] liaofanxin opened #154 "FutureTask/CompletableFuture的异步任务场景下，TTL的使用"
请问在JDK1.8，CompletableFuture的异步任务的时候，如果做兼容？有demo可以参考一下吗

[2019-11-27 07:21] yongjie1992 opened #155 "Transmitter类中的一个WeakHashMap<ThreadLocal<Object>, TtlCopier<Object>>的变量threadLocalHolder有什么用"
Transmitter类中的一个WeakHashMap<ThreadLocal<Object>, TtlCopier<Object>>的变量threadLocalHolder有什么用，在实际使用过程中这个Map一直都是空的，不清楚它的作用是什么

https://github.com/alibaba/transmittable-thread-local/blob/d4a9aa8a2e3f38da6f74e81a70eae5f8673a4c21/src/main/java/com/alibaba/ttl/TransmittableThreadLocal.java#L546-L550

[2019-11-27 09:24] oldratlee commented on #155
@yongjie1992

https://github.com/alibaba/transmittable-thread-local/blob/d4a9aa8a2e3f38da6f74e81a70eae5f8673a4c21/src/main/java/com/alibaba/ttl/TransmittableThreadLocal.java#L546-L550

这几个静态字段 是用于功能『集成`ThreadLocal`』

更多说明参见：

- Issue: ThreadLocal integration #130
- Transmitter的Javadoc
https://alibaba.github.io/transmittable-thread-local/apidocs/2.11.0/com/alibaba/ttl/TransmittableThreadLocal.Trans

[2019-11-27 09:24] #155 closed

[2019-11-28 01:47] yongjie1992 commented on #155
多谢指教！

[2019-11-29 13:31] oldratlee commented on #154
#  `FutureTask`

你说到的`FutureTask`是指[`java.util.concurrent.FutureTask`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/FutureTask.html)，是吧。 @liaofanxin

`java.util.concurrent.FutureTask`是`Runnable`。一般是在[`ThreadPoolExecutor`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/ThreadPoolExecutor.html)中执行，可以通过[`TTL`文档的说明的方法](https://git

[2019-11-29 13:32] #154 closed

[2019-11-29 13:36] liaofanxin commented on #154
多谢回复，已经找到解决办法，项目中已经引入，测试没问题，已发布上线

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: 李鼎(哲良) <notifications@github.com&gt;
发送时间: 2019年11月29日 21:32
收件人: alibaba/transmittable-thread-local <transmittable-thread-local@noreply.github.com&gt;
抄送: 辛令剑 <804544174@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[alibaba/transmittable-thread-local] FutureTask/CompletableFuture的异步任务场景下，T

[2019-11-29 13:45] oldratlee commented on #154
能说一下你的场景和解决方法吗？😀 @liaofanxin

[2019-11-29 14:16] liaofanxin commented on #154
使用场景：
&nbsp; &nbsp; &nbsp; &nbsp; 项目的日志targ（例如用户uid，订单id等），采用threadlocal来进行透传，但是在启用future或者threadpool来执行异步任务的时候，threadlocal中的日志targ是不能正常传递的
原因：
（1）threadlocal线程隔离
（2）InherbritableThreadLocal虽然可以解决线程隔离问题，但是无法解决线程池线程复用导致的日志targ混乱问题
原先解决方案：
（1）执行异步任务前重新获取threadlocal中的targ，然后在开启新任务的地方重新setThreadlocal
（2）targ作为参数进行传递
引入TTL后的方案
（1）采用ttl的TransmittableThreadLocal存储日志targ
（2）用TtlExecutors封装ThreadPool帮助类
（3

[2019-11-30 06:13] oldratlee commented on #154
关于『使用CompletableFuture并制定Executor』这点，对CompletableFuture及其使用ForkJoinPool Executor你是如何定制的？ @liaofanxin

- 使用了『2.3 使用Java Agent来修饰JDK线程池实现类』的`Java Agent`方式吗？
- 如果没有使用`Java Agent`，你是如何做的？

[2019-11-30 10:47] oldratlee commented on #148
做了一个`ScheduledThreadPoolExecutor`/`ScheduledFutureTask`的使用Demo：

https://github.com/alibaba/transmittable-thread-local/blob/d4142bde4a2a6fffa022a74686c14edabaa6e9dd/src/test/java/com/alibaba/demo/scheduled_thread_pool_executor/ScheduledFutureTaskDemo.kt#L20-L26

在使用`TTL Agent`增强的情况下，与不使用`TTL  Agent`一样，

都可以通过[`ScheduledFuture`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util

[2019-11-30 10:55] oldratlee commented on #148
因为整个 `TTL`及其`Java Agent`增强的实现 是

- 基于各个`Executor`（如`ScheduledThreadPoolExecutor `、`ThreadPoolExecutor `）的`API`语义
- 不是`Executor`的内部实现

所以使用（无论是一般的业务使用，还是`Tomcat`的`Executor`使用方式）应该是不会有问题的。

如果`Tomcat`的实现非常HACK，非常依赖的`Executor`的内部实现方式，是可能会出问题，一般大家的设计不会这么做。

---------------

还是请 @lesterwang 给一个可运行复现问题的测试Demo/UT。

我先Close这个Issue了，
如有可以可运行复现问题的测试Demo/UT，请 @lesterwang 随时 Reopen 这个Issue。 ❤️

[2019-11-30 10:55] #148 closed

[2019-11-30 15:45] liaofanxin commented on #154
使用了2.3对用ForkJoinPool Executor进行修饰

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: 李鼎(哲良) <notifications@github.com&gt;
发送时间: 2019年11月30日 14:13
收件人: alibaba/transmittable-thread-local <transmittable-thread-local@noreply.github.com&gt;
抄送: 辛令剑 <804544174@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[alibaba/transmittable-thread-local] FutureTask/CompletableFuture的异步任务场景下，T

[2019-12-02 15:15] sunzhiqiangGithub opened #156 "@javax.annotation.Nonnull这个注解在jdk1.8里没有，请问需要引用什么依赖吗"
![image](https://user-images.githubusercontent.com/30972636/69970633-84a68680-1559-11ea-8287-3b0fe7794298.png)

[2019-12-02 15:16] sunzhiqiangGithub commented on #156
![image](https://user-images.githubusercontent.com/30972636/69970774-cb947c00-1559-11ea-802a-cc262d5c9624.png)

[2019-12-02 15:59] oldratlee commented on #156
@sunzhiqiangGithub

操作一下下面的步骤：

- IDE打开`pom4ide.xml`。不要打开`pom.xml`。
   因为有Java多版本支持，构建用的pom.xml，IDE支持不好
- 更新一下代码到最新`git pull --rebase`

### PS

因为涉及中间件工程（低java版本支持），我需要在dev gude里说明一下 开发注意事项。
我还没这个说明 😂

[2019-12-02 17:26] oldratlee commented on #156
哦，你是在使用TTL。

下面2个代码质量的Annotation依赖，运行时是不需要的。

你需要（如为了IDE查看代码方便）可以自己加一下。

https://github.com/alibaba/transmittable-thread-local/blob/489004905b0f8f0679eb304ba250d5f8a915d469/pom.xml#L109-L132

[2019-12-02 17:26] oldratlee commented on #156
哦，你是在使用TTL。

下面2个代码质量的Annotation依赖，运行时是不需要的。

你需要（如为了IDE查看代码方便）可以自己加一下。

https://github.com/alibaba/transmittable-thread-local/blob/489004905b0f8f0679eb304ba250d5f8a915d469/pom.xml#L109-L132

[2019-12-02 23:39] sunzhiqiangGithub commented on #156
感谢大佬，我这个问题可能是因为idea的问题，可以编译成功，但是项目里报红。重新启动idea就可以了。

[2019-12-03 02:15] sunzhiqiangGithub commented on #156
感谢大佬，可能是idea的问题，我在新版本上的idea是显示有红叉，但是可以通过编译。老版本的idea没有红叉。两个版本的idea都是可以通过编译，可能新版本idea的问题。

[2019-12-03 02:22] oldratlee commented on #156
新新版本的IDEA我也在使用是可以的。

你按上面的更新代码、打开pom4ide.xml（更新ide工程）步骤再试试。
不行可以再Google搜索看看怎么解一下IDE问题。

Issue先close了 😀

[2019-12-03 02:22] #156 closed

[2019-12-11 10:20] hoverwinter opened #157 "对于 set(null) 保持和 InheritableThreadLocal 一致语义？"
对于`JDK`自带的`ThreadLocal`在显式设置为`null`后，子线程获得的值是`null`（`java.lang.ThreadLocal.ThreadLocalMap.Entry`的`value`为`null`）如下：

[code]

输出
[code]

而`TTL`增加了特殊保护逻辑：

![image](https://user-images.githubusercontent.com/7020808/70612406-cd3cfe80-1c41-11ea-83ac-ea573e6b017b.png)

这样当设置为`null`后，`copy`就会忽略这个`threadlocal`，导致下个线程获得的是`childValue`的值，而不是显式设置为`null`这个值：

[code]

输出
[code]

请问这么设计是否有特殊用意？能否保持和`JDK`一致的语义，因

[2019-12-11 10:21] hoverwinter commented on #157
JDK的ThreadLocal应该没有 `set null to remove value`的语义，看源码即使null也是当作正常值处理

[2019-12-11 11:31] nepoch opened #158 "pinpoint集成TtlAgent报错"
使用版本

- [`pinpoint`](https://github.com/naver/pinpoint): 1.8.1
- `TTL`: 2.11.0

-------------------

在`pinpoint`的启动类中加入了`TtlAgent.premain(agentArgs, inst);`后报错，最后排查到：

- `TtlTransformer`类实现`ClassFileTransformer`接口`transform`是对于不增强的类直接返回了`EMPTY_BYTE_ARRAY = {}`
- 我看[`ClassFileTransformer`接口的`transform`方法`JavaDoc`的返回值说明](https://docs.oracle.com/en/java/javase/11/docs/api/java.instrument/java/lang/in

[2019-12-11 13:38] oldratlee commented on #157
如你所说『`JDK`的`ThreadLocal`没有`set null to remove value`的语义』。

这样处理是因为，刚开始使用/设计时，认为这样处理更业务友好的做法。
但对于一个基础库，更重要应该是：语义上的完整/完备，这样的做法是有些『画蛇添足』的！

到了今天，这个『画蛇添足』的做法已经完成功能了，
考虑到兼容性 不能修改和去掉了。 @hoverwinter

[2019-12-11 14:01] oldratlee commented on #158
『`TtlTransformer`类的`transform`实现返回`EMPTY_BYTE_ARRAY = {}`』的原因参见  https://github.com/alibaba/transmittable-thread-local/pull/68#issuecomment-232903425 ：

----------------------

即 使用 empty array 而不是 `null`，是因为 优的代码实践，且 功能是OK的（`JDK Agent`有效支持）。

----------------------

从你提供的问题来看，使用`pinpoint`后，并不能使用`JDK Agent`一样能有效支持empty array的返回。

我改一下，发一个新版本。 @nepoch

改成严格遵循 [`ClassFileTransformer`接口的`transform`方法

[2019-12-11 15:09] oldratlee commented on #158
@nepoch 已发布 _**`v2.11.1`**_了，看看是不是 OK了？ :)
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.11.1

[2019-12-12 00:59] nepoch commented on #158
@oldratlee 更新后测试正常，谢谢啦。

[2019-12-12 00:59] #158 closed

[2019-12-12 11:52] hoverwinter commented on #157
实际上这个影响不大，并且总是可以找到绕过的方式。就是觉得语义一致可能更好点

该问题属于使用上实际问题，以解决，期待新的设计

[2019-12-12 11:52] #157 closed

[2019-12-12 12:05] hoverwinter commented on #158
@nepoch pinoint已经支持了异步上下文透传，你们的使用场景方便告诉一下么？

[2019-12-12 13:47] nepoch commented on #158
嗯嗯，有一些业务数据的传递。而且在线程池场景下也要拿到业务数据。我测试了pinpoint1.8.1版本，在使用线程池情况下也拿不到trx_id，所以直接集成了TTL。

[2019-12-13 07:46] oldratlee commented on #139
`Hystrix` problem is an specified usage of `TransmittableThreadLocal`.  and because

- We rarely use  `hystrix`
- I'm not familiar with `hystrix`

so you need resolved the `hystrix` usage problem by yourself.

------------------

It seems that the problem is resolved in [the SOF question]((https://stackoverflow.com/questions/55862601/not-able-to-access-inheritablethreadlocal-object-from-parent-thr

[2019-12-13 07:46] #139 closed

[2019-12-13 12:37] oldratlee opened #159 "default turn on TimeTask transform of Java Agent"
For a solution, there are tow concern:

- Correctness
    - If not turn on `TimeTask` transform  of `Java Agent`, `TimeTask` cannot transmit `TransmittableThreadLocal` values.
- No side-effects.
    - After turn on `TimeTask` transform  of `Java Agent`, does not break any existed functions.

So let's default turn on `TimeTask` transform  of `Java Agent`, `TimeTask` cannot transmit.

[2019-12-13 14:29] #159 closed

[2019-12-17 02:01] wysstartgo commented on #53
学习了

[2019-12-21 03:37] oldbig opened #160 "如何保证资源被清理，不会内存泄漏？"
当前线程设置的一个值，在子线程，子子线程，孨线程中都可以访问到。
当创建很多复杂的子线程时，如何能在所有子线程中清理掉 remove() 那些值？
是需要找到所有子线程依次调用 remove清理吗？还是这个已经实现了无需自己手动清理？
谢谢！

[2019-12-21 05:25] oldratlee commented on #160
重复。

参见
https://github.com/alibaba/transmittable-thread-local/issues/140#issuecomment-494767649
https://github.com/alibaba/transmittable-thread-local/issues/96#issuecomment-402594013

[2019-12-21 05:25] #160 closed

[2019-12-22 03:11] oldbig commented on #160
谢谢 @oldratlee !

[2019-12-30 06:48] Allurx opened #161 "如何在启动fat jar时优雅的使用javaagent参数"
我现在有一个通过`spring-boot-maven-plugin`打包后的`fat jar`，我是通过[使用Java Agent来修饰JDK线程池实现类](https://github.com/alibaba/transmittable-thread-local#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB)来启动这个`fat jar`的，启动命令类似以下这种方式

[code]

我现在有一个疑惑的地方：

- 当我将这个`fat jar`部署到服务器上时，我还必须保证目标服务器上有我当前`fat jar`所用到的`ttl.jar`
- 虽然`fat jar`内部已经包含了这个`jar`，但是我无法在`

[2020-01-05 13:59] oldratlee commented on #161
`JavaAgent`需要指定`-javaagent`参数，即明确的知道目标服务器上`Agent Jar`的路径是需要的。
\# 没有找到不通过`-javaagent`参数设置好`Agent Jar`的方法。

可以通过一个脚本（简单的如`shell`脚本）来启动启动`Java`进程，在脚本中可以实现逻辑来发现`TTL/Agent Jar`的位置。 @Allurx Allurx

一种实现方式如下，比如

- 将
    - 启动脚本 `start.sh`
    - `fat.jar`
    - `Agent Jar`: `transmittable-thread-local-2.11.2.jar`
- 放在同一个目录
- 启动脚本 `start.sh` 实现 启动脚本的所在目录

[code]

## PS

Fat Jar 与 Agent 的相关资源：

- Specify jav

[2020-01-05 13:59] #161 closed

[2020-01-06 01:36] Allurx commented on #161
@oldratlee 十分感谢你的回复，看来我只能通过脚本和ttl.jar来启动我的fat.jar了。

[2020-01-06 05:18] oldratlee commented on #157
上面的提交 增加了 TTL的选项 以支持 与`ThreadLocal`一致有语义（『关闭set null to remove value 语义』） @hoverwinter

[2020-01-20 07:16] liuzhongkai opened #162 "对Supplier方式提交的任务不友好"
需要将Supplier转换为Callable

[2020-01-22 01:56] oldratlee commented on #162
- `Callable`/`Runnable`表义运行的任务，与`Executor`相关；`Suppiler`表义的数据源。
- 如果你用的`Java8`，`Suppiler`转成`Callable`半行代码完成，很简单：

[code]

考虑上面2个原因，就像`ExecutorService`一样，不直接支持`Suppiler`： @liuzhongkai

- 避免使用的`API`膨胀复杂，表义不清
- 需要的`Suppiler`转成`Callable`的地方，业务半行代码完成，很简单

[2020-01-22 01:56] #162 closed

[2020-01-22 02:16] liuzhongkai commented on #162
使用java8中的CompletableFuture类对外接口并没有Callable类型的输入，取而代之的是Suppiler，Suppiler转换Callable很丑陋

        TtlCallable<Object> objectTtlCallable = TtlCallable.get(supplier::get);
        CompletableFuture.supplyAsync(() -> {
            try {
                return objectTtlCallable.call();
            } catch (Exception e) {
                throw new RuntimeException(e);
            }
        }, executor);

[2020-01-22 02:52] oldratlee commented on #162
只通过上面的方法不能让`CompletableFuture`提供传递功能（`TransmittableThreadLocal`）。

[2020-01-22 15:03] oldratlee commented on #162
发布了[`v2.11.4`](https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.11.4)，增加了对相关类型的`TTL Wrapper`工具方法，试试看 @liuzhongkai  😁

详见JavaDoc

- https://alibaba.github.io/transmittable-thread-local/apidocs/2.11.4/com/alibaba/ttl/TtlWrappers.html
- https://alibaba.github.io/transmittable-thread-local/apidocs/2.11.4/com/alibaba/ttl/TtlUnwrap.html

[2020-02-01 10:22] oldratlee opened #163 "using SDKMAN in Travis CI"
- [SDKMAN! with Travis](https://objectcomputing.com/news/2019/01/07/sdkman-travis)
- [all your JDKs on Travis CI using SDKMAN!](http://eed3si9n.com/all-your-jdks-on-travis-ci-using-sdkman)
- [grails - Travis-ci console asks for answers - Stack Overflow](https://stackoverflow.com/questions/32726146/travis-ci-console-asks-for-answers)

--------------

- How to install Java 6 for legacy projects? · I

[2020-02-12 04:16] IIWAB opened #164 "线程池大小问题"
[code]

使用executou执行，第3个线程没能正常创建。
版本2.11.3

[2020-02-13 07:07] oldratlee commented on #164
@IIWAB 说明怎么『没能正常创建』，即：

- 你期望是什么（如没有异常）
- 运行结果是什么（抛了异常）

并最好 给一下 能运行出问题 的 极简的可运行的能复现问题的Demo代码。

[2020-02-16 10:37] chenxuanhanhao commented on #123
mark

[2020-02-17 10:33] #164 closed

[2020-02-19 13:45] xiaolongzuo opened #165 "基于transmittable的logback-mdc-ttl在使用时线程之间值串了。"
和logback的mdc集成使用时，引入了`logback-mdc-ttl:1.0.2`。

但是发现一个很奇怪的现象，在使用MDC打印traceId的时候，线程之间的traceId会串。

例如（PS：线程B请求的开始发生在线程A请求执行过程中）：

[code]

其中mdc是使用的logback-mdc-ttl，看了下logback-mdc-ttl是基于transmitable。
不知道有遇到过同样问题的没。

[2020-02-19 13:45] xiaolongzuo commented on #165
补充下，transmittable使用的是2.11.0版本。

[2020-02-19 13:46] xiaolongzuo commented on #165
再补充下，在http请求开始会执行mdc.put存放traceid，在http请求结束会mdc.clear清空。

[2020-02-20 01:44] xiaolongzuo commented on #165
举个实际例子，假设请求A的traceid是traceA，请求A的线程是线程http-nio-1，请求B的traceid是traceB，请求B的线程是http-nio-2。我们现在会打印出如下日志（简单描述就是线程B的traceid串到线程A去了）：
00:00:00 http-nio-1 http-request-in,traceid=traceA (请求A，这种trace日志是用的tracecontext里的traceid)
00:00:01 http-nio-1 some_app_log_1,traceid=traceA(请求A，这种应用日志是用的mdc里的traceid，以下类似，不再重复)
00:00:02 http-nio-2 http-request-in,traceid=traceB (请求B)
00:00:03 http-nio-2 some_app_log_1,trace

[2020-02-23 10:44] oldratlee commented on #165
@xiaolongzuo

麻烦给 一个 极简的 可运行复现问题 的代码实现/Demo，这样可以

- 方便大家能排查分析
- 方便排除可以的业务实现问题

[2020-02-28 07:24] EmmaWang90 opened #166 "是不是只能拷贝一次？"
我的应用场景是这样的，http-service线程池根据rest请求的内容设置ThreadLocal变量，然后需要使用线程池处理任务，这个时候使用TtlRunnable将http-service的ThreadLocal传入线程池中的线程中。由于rest请求的不同，ThreadLocal变量的内容也不同，但线程池的ThreadLocal没有变化，所以想确定一下，是不是只能拷贝一次？

[2020-02-29 00:54] #166 closed

[2020-03-01 09:50] oldratlee commented on #166
在`TtlRunnable.get`方法会做拷贝操作，每次`TtlRunnable.get`操作都会拷贝。 @EmmaWang90
（缺省只是传递引用，可通过`TransmittableThreadLocal.copy`方法定制）

[2020-03-04 02:10] shenjianeng commented on #128
看到这个issues的标题，想好奇的问一句，除了好处和优势之外，系统引入这个框架的成本是什么

[2020-03-06 08:44] #165 closed

[2020-03-16 02:49] oldratlee opened #168 "improve the type safety of transmitter"
[code]

`capture`/`replay`/`clear`/`restore` method in `Transmitter` is not type-safe(use generic type `Object`).

https://github.com/alibaba/transmittable-thread-local/blob/2a7667a2f3e9c65e71bfa42074a579344f538ced/src/main/java/com/alibaba/ttl/TransmittableThreadLocal.java#L362-L370

## improve the type safety of transmitter

- the input of `replay` should be constricted to the output of `capture

[2020-03-17 06:01] yoster0520 commented on #123
昨天我fork了这个repo，在自己的仓库整合了TTL和Akka，目前测试Akka Actor和Akka Stream没问题
，Akka版本akka-actor-typed_2.13-2.6.1。[repo](https://github.com/yoster0520/transmittable-thread-local.git)，希望有同样需求和兴趣的同学，帮我一起完善

[2020-03-31 02:52] zscgrhg opened #169 "能支持下运行时加载agent吗？"
不想使用启动参数-javaagent:PremainAgent.jar

[2020-04-02 06:53] oldratlee commented on #169
支持运行加载`agent`对于TTL是一个可以实现的功能Feature。

是否实现这个Feature，需要一起讨论一下：

对比 『启动时加载`-javaagent`选项』方式 与 运行时加载方式 2者。

下面展开说明对比：

## 1. 两者 需要 准备好 `TTL Agent Jar`

之前我实现过 运行时加载的`Agent`，即动态`Attach Java Agent`

参见这个`java-dns-cache-manipulator`工具：
https://github.com/alibaba/java-dns-cache-manipulator/tree/master/tool

这点应该是确定的。（如果不是，可以给一下资料）

## 2. 在`Agent Jar`要准备的前提下，『启动时』加载方式 比 『运行时』加载方式 使用更简

动态Attach需要

- 实现`At

[2020-04-05 08:08] zscgrhg commented on #169
**我强烈要求支持这个特性。**

我的场景是这样的:

我想实现一个JUnit Rule,以简化单元测试的开发。
比如我有一个Service:

    @Service
    public class ServiceA {
        @Autowired
        DBOpertation serviceB;
        @Autowired
        RpcClinetA rpcClinetA;

        public int doBusiness(int x) {
            serviceB.dbOps();
            List<Object> rpcResult = IntStream.range(1, x).parallel()
                    .mapToObj(i -> rpcClinetA

[2020-04-07 13:58] zscgrhg commented on #169
可靠性和正确性的方面的考虑，是不是只要保证依赖TTL的代码都在TTL转换完成之后执行就没有问题呢？这点一般都是能够做到的，如果做不到，那就从premain加载就好了。如果去掉agentmain方法，有些场景易用性就差很多了

[2020-04-08 16:19] HaojunRen opened #171 "框架层和业务层零代码改动的基础上，可否使用TTL"
关注`TTL`蛮久了，使用异步场景比较少，但还是存在，框架上已经存在若干个`Threadlocal`，在异步调用中会丢失。

需求是

- 不希望把`Threadlocal`改成`TTL Theadlocal`
- 也不能做到把其它任何`Threadlocal`对象改成对应的`TTL`对象
- 但希望能享受到`TTL`的便利

总而言之，

- 目前框架的一切现状保持不变
- 然后通过引入`TTL`的包，或者通过`Java Agent`方式也可
- 请问贵框架是否具备这个能力

在相关文档中并没有找到答案。不吝赐教，谢谢！

[2020-04-08 16:55] HankDevelop commented on #171
参考Readme.md中2.3 使用Java Agent来修饰JDK线程池实现类，是可以实现的

[2020-04-09 01:36] oldratlee commented on #171
分成2部分说明

## 关于不修改业务层代码

参见文档『2.3 使用Java Agent来修饰JDK线程池实现类』

[2020-04-09 01:53] HaojunRen commented on #171
1.registerThreadLocal，即意味着agent端还是需要去知道sdk端有多少个threadlocal对象？预先无法全局探测？
2.registerThreadLocal结束后，通过java agent命令行启动ttl agent即可，就可以达到预期对吧？
3.sdk里的threadlocal对象在ttl agent跨线程复制后，在sdk使用完毕ttl agent是否做了清除的操作

[2020-04-09 05:11] oldratlee commented on #171
全局探测，或说是自动加载完成`registerThreadLocal`，这是一个集成的问题（探测/自动加载）。
\# 就像`Spring`自动扫描`Spring`配置加载`Bean。

PS：

对于『自动』这样的事，不能做的太魔法，或说 一定要有个声明的步骤，比如：添加一个用于探测的自动加载的依赖/`Jar`

@HaojunRen 欢迎一起讨论 合适又方便的解决、实现方案。

 `registerThreadLocal`操作 与 `ttl agent`的使用 是正交的：

-  `registerThreadLocal`操作，指示要做跨线程的传递。使用`TransmittableThreadLocal`类型也是这个目的。
- 使用`ttl agent`，是为了简化传递过程，简化`TtlRunable`或线程池的修饰。
    详见文档里的说明：[2. 保证线程池中传递值](https:

[2020-04-09 06:13] HaojunRen commented on #171
非常感谢耐心和专业的回答，进一步请教一下，例如，我的开源：
https://github.com/Nepxion/Discovery/blob/master/discovery-plugin-strategy-starter-zuul/src/main/java/com/nepxion/discovery/plugin/strategy/zuul/wrapper/DefaultCallableWrapper.java

RequestContext.getCurrentContext()里的上下文要复制到子线程的ZuulStrategyContext.getCurrentContext()，还有StrategyTracerContext也是类似逻辑，那么在main方法，应该如何注册registerThreadLocal？谢谢

[2020-04-27 09:01] yangsen198945 opened #172 "结合spingcloud alibaba fegin调用 如何使用呢？请问可以出些example吗？"
结合spingcloud alibaba fegin调用 如何使用呢？请问可以出些example吗？

[2020-04-28 04:59] #163 closed

[2020-04-28 06:30] oldratlee commented on #172
关于开发框架或中间件的`TTL`集成 与 使用可以看看 大家这方面的方案/实现，比如

- https://github.com/Nepxion/Discovery
- https://github.com/yinjihuan/spring-cloud
- https://github.com/liuweijw/fw-cloud-framework
- https://github.com/tonyscale/micro-starters
- https://github.com/liuht777/Taroco
- https://github.com/gavenwangcn/vole
- https://github.com/siaorg/sia-gateway
- ……

[2020-04-29 02:39] superbool commented on #158
@hoverwinter 我们想在日志中记录每个请求的trace_id来实现日志全链路查询等功能，但pinpoint采样后，有些请求的trx_id没有，以及跨线程也会断掉。所以我们就想在Pinpoint中集成transmittable-thread-local，来实现跨线程的日志全链路追踪。不知道您有什么其他好的建议没

[2020-04-30 14:29] liauraljl opened #173 "TTL支持Spring的ThreadPoolTaskExecutor，如提供getTtlAsyncTaskExecutor"
我们在通过`ThreadPoolTaskExecutor`定义线程池时，想省去每次`Runnable`和`Callable`传入线程池时的修饰。

能否提供类似`getTtlExecutorService`的`getTtlAsyncTaskExecutor`方法呢？

[2020-05-07 11:32] superbool opened #174 "如何在已有的javaagent加上TTL Agent的逻辑而不用配置-Xbootclasspath/a"
Hello, 我在使用pinpoint，想直接在pinpoint的agent直接集成TTL Agent的agent。

尝试通过`instrumentation.appendToBootstrapClassLoaderSearch()`把`transmittable-thread-local`的包加入"bootstrap class loader"，但不生效，必须要添加`-Xbootclasspath/a`配置才行。

看文档`-Xbootclasspath/a`和`instrumentation.appendToBootstrapClassLoaderSearch()`作用是类似的，
但为什么通过`instrumentation.appendToBootstrapClassLoaderSearch()`就不行呢？

以及有什么集成在一起，简化启动命令的方式吗？

[2020-05-08 06:54] oldratlee commented on #174
这块具体要看官方资料，比如 [`Java Agent`规范 - `JavaDoc`](https://docs.oracle.com/javase/10/docs/api/java/lang/instrument/package-summary.html#package.description)。

`instrumentation.appendToBootstrapClassLoaderSearch()`我也没有直接用过/了解过，你再根据资料并自己尝试一下吧。 :")   @superbool

[2020-05-08 07:13] #172 closed

[2020-05-09 05:44] oldratlee commented on #174
@superbool

在 『Issue #158 Error when pinpoint integrate TtlAgent | pinpoint集成TtlAgent报错』中，
有集成使用`pinpoint`，使用的问题和方式也可以与 @nepoch 交流一下 💕

[2020-05-09 05:52] oldratlee commented on #173
你说的是指[`org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/scheduling/concurrent/ThreadPoolTaskExecutor.html)，是吧？

目前没有直接支持，可以考虑做这个功能，发一个新版本支持。 💕 @liauraljl

--------------

先直接解决你问题的做法是，
你可以自己先模仿[`com.alibaba.ttl.threadpool.TtlExecutors`](https://github.com/alibaba/transmittable-thread-local/blob/d

[2020-05-09 06:28] nepoch commented on #174
pinpoint\bootstrap\pom.xml文件中修改maven-jar-plugin这个插件的配置，将Boot-Class-Path修改为`<Boot-Class-Path>${project.build.finalName}.jar  boot/transmittable-thread-local-2.11.1.jar</Boot-Class-Path>`，试试看行不行，`instrumentation.appendToBootstrapClassLoaderSearch()`我也没用过~

[2020-05-12 01:52] superbool commented on #174
嗯，我试试。

[2020-05-14 13:02] yuhaobin commented on #123
mark

[2020-05-19 03:58] xingguang2013 opened #175 "TransmittableThreadLocal 是否线程安全"
如题， TransmittableThreadLocal 类是否是线程安全的？查阅资料没有找到相关说明

[2020-05-19 11:45] oldratlee commented on #175
### 简单地回答

`TransmittableThreadLocal`是线程安全的。 @xingguang2013
对于涉及多线程的库来（ThreadLocal），缺省就要是线程安全必须的（否则显式声明），否则就是_**`BUG`_**！

### 更完整的回答

库的线程安全的，是以正确使用为前提的。这还要加上使用者相关知识的了解：

- 对`ThreadLocal`的了解
- 对线程安全/并发（这个是主题学习）

比如 使用`ThreadLocal`时，你把`ThreadLocal`取出来值，传到其它线程，就要注意额外的线程安全问题了。

-------------------

**更多了解`TTL`**，看`TTL`的资料/文档：  @xingguang2013   ❤️

- 项目文档，如 [Developer Guide - 框架/中间件集成TTL传递](https://

[2020-05-19 11:45] #175 closed

[2020-05-19 13:55] xingguang2013 commented on #175
感谢感谢

[2020-05-26 17:59] #174 closed

[2020-05-29 09:30] tensorZhang opened #176 "老项目使用TTL传递context，由于没整改Runnable为TtlRunnable，导致context无法更新的问题。"
背景：
老项目使用异步线程池的地方比较多。
当没有整改`Runnable`为`TtlRunnable`的场景，异步线程的`context`将保持创建时父线程的值，后续异步线程池执行任务都无法更新`context`。

问题：
我们使用`TransmittableThreadLocal`来传递分布式跟踪信息，这样就会导致下游跟踪信息出错。

解决思路：
当`Runnable`没有整改为`TtlRunnable`时，不传递`context`到新线程。不传比传错好。

代码修改：
重写`TransmittableThreadLocal`的`childValue`方法，返回`null`。

-----------------

1. 提问：帮忙看下这样修改代码是否可行？
2. 建议：`TTL`可以提供一种不包括`InheritableThreadLocal`功能的纯池化复用线程值传递的实现。

[2020-06-02 12:23] oldratlee commented on #176
问题能更展开来一些说明吗？
在什么场景，期望怎么的传递，实现什么地方不对。

如果你的问题/场景 期望的是：在 **_`new Thread`_** 时，不传递不传递`context`，
那么『重写`TransmittableThreadLocal`的`childValue`方法，返回`null`』是正解。

--------------------

问一下，为什么『**_`new Thread`_** 时，不传递不传递`context`』？

对于一个上下文，**_`new Thread`_** 也应该被带过去的，因为开线程 其实可以认为 是把一个业务逻辑通过线程来并发执行。

[2020-06-04 12:07] GuooH commented on #53
学习了

[2020-06-05 12:27] tensorZhang commented on #176
我们现在的场景是，中间件团队使用TransmittableThreadLocal来传递分布式跟踪信息，并向业务团队提供对应的jar包；
业务团队引用jar包，并改造业务服务的线程池（如：getTtlExecutor修饰接口Executor）。当业务服务的个别线程池没改造完的情况下，就会
导致“初次创建线程后，线程池执行任务无法更新ttl context”的问题。
当然业务服务改造完所有线程池，就没有这样的问题了。只是我们的业务服务比较有历史，有时会没改造完。

new Thread我们也是需要传递context的。只是为了规避上面提到的问题，让new Thread默认不传递。只有改造了new Thread的Runnable为TtlRunnable后才传递。
----------------------
综上：这样达到的效果就是，业务服务线程(池)被改造过后才传递context；没改造就不传

[2020-06-06 13:05] oldratlee commented on #171
关于『如何注册`registerThreadLocal`』，
可以看一下`registerThreadLocal`的文档（如[`javadoc`](https://alibaba.github.io/transmittable-thread-local/apidocs/2.11.4/com/alibaba/ttl/TransmittableThreadLocal.Transmitter.html#registerThreadLocal(java.lang.ThreadLocal,com.alibaba.ttl.TtlCopier))）或是[单元测试中的使用代码](https://github.com/alibaba/transmittable-thread-local/blob/59dd2395d989648a800638adcae3263e5f0d5903/src/test/java/c

[2020-06-06 13:05] #171 closed

[2020-06-06 13:46] oldratlee commented on #176
明白你的（实施）问题了；你说明的很清楚 👍 @tensorZhang

------------

关于要『业务改造线程池』这个实施上的痛点，
推荐  [2.3 使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local/#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB) 这个`TTL`使用方式
来解决实施中『业务改造代码』的落地痛点/难点 问题。

`TTL Agent`很成熟 & 稳定，广泛使用，
本质上就是为了解决 这个落地痛点/难点 问题。 😄 @tensorZhang

-----------

[2020-06-06 13:51] #176 closed

[2020-06-23 13:52] youbingchenyoubing opened #177 "How to compile/build this project? | 如何编译这个源码"
How to build/compile this project on my env/machine?

如何在自己机器上编译这个源码

[2020-06-24 08:38] wangchongya opened #178 "use PriorityBlockingQueue occur java.lang.ClassCasetException : com.alibaba.ttl.TtlRunnable canot be cast to java.lang.Comparable"
![image](https://user-images.githubusercontent.com/8991635/85523026-03b7f500-b639-11ea-87dc-e833e14873b4.png)

[2020-06-24 09:08] liauraljl opened #179 "文档中的『JavaAgent加载机制分析』链接已失效"
`transmittable-thread-local/docs/developer-guide.md`页面底部 “JavaAgent加载机制分析”跳转内容有误，请核实

链接：
https://github.com/alibaba/transmittable-thread-local/blob/master/docs/developer-guide.md#java-agent%E6%96%B9%E5%BC%8F%E5%AF%B9%E5%BA%94%E7%94%A8%E4%BB%A3%E7%A0%81%E6%97%A0%E4%BE%B5%E5%85%A5

[2020-06-25 07:08] oldratlee commented on #177
编译的环境要求：

- `JDK 8+`
- `maven 3.5.4+`

@youbingchenyoubing  用正常方式的`Maven`执行编译，如：

[code]

[2020-06-25 07:30] liauraljl commented on #179
好的👌🏻

| |
李金雷
|
|
邮箱：liaura_ljl@163.com
|

签名由 网易邮箱大师 定制

在2020年06月25日 15:27，李鼎(哲良) 写道：

链接已经失效了：
http://alipaymiddleware.com/jvm/javaagent%E5%8A%A0%E8%BD%BD%E6%9C%BA%E5%88%B6%E5%88%86%E6%9E%90/

找了一下，这个链接是好的：
JavaAgent加载机制分析
https://www.iteye.com/blog/nijiaben-1847212

@liauraljl 方便给Pull Request 修复一下吗？ :")
这样大家 能直接从 工程的提交日志 中 看到你 ♥️

—
You are receiving this because you were mentioned.
Reply to t

[2020-06-25 10:31] oldratlee commented on #178
这个问题 是 `PriorityBlockingQueue`的使用要求，具体看 [`PriorityBlockingQueue`的JavaDoc](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/PriorityBlockingQueue.html)内容：

![image](https://user-images.githubusercontent.com/1063891/85696841-de47eb80-b70b-11ea-92c3-46192d2c3b64.png)

一般`Runnable`（与`TTL`无关），往往也没有实现`Comparable`接口。

-------------

如果`TTL`修饰的业务`Runnable`已经实现了`Comparable`

[2020-06-28 03:07] oldratlee commented on #179
Fix in PR #180 From @liauraljl

[2020-06-28 03:07] #179 closed

[2020-06-28 07:07] wangchongya commented on #178
think you

[2020-06-28 07:07] #178 closed

[2020-07-05 05:37] Sirius-LiXiaoQi opened #187 "Why not use Runnable/Callable constructor to bind runtime context？"
Why don't we intercept the class through JVMTI and find that the parent class contains the runnable / callable interface, so we add a member variable for the reference context. The constructor constructs and completes the reference context. When calling the run method, the context is loaded

[2020-07-06 08:53] Sirius-LeeFeng commented on #187
l noticed  that "myRunnableA { logicBefore; myRunnableB; logicAfter; }" #135

If this is the case, why don't we define a RunnableA, RunnableB private deep copy Context, don't bind to the thread Context, and work directly on the respective Context every time you get/set

[2020-07-07 06:27] Sirius-LeeFeng commented on #187
I've learned that the extension constructor statics the context, and execute/ Submit is the correct point to load the context (scene: Runnable/Callable reused)

[2020-07-12 13:20] oldratlee commented on #187
This is a good technical mean that able to enhance all `runnable / callable` instances.

Because `runnable / callable` interface is very universal, they maybe used in non-async environments;
So "enhance **_all_** instances", this mean maybe overkill.  @Sirius-LiXiaoQi
Presently `TTL` enhance executors(eg: `ExecutorService`/`ForkJoinPool `) so as to avoid the **overkill**.

Or as @Sirius-LeeFeng sa

[2020-07-17 04:53] #177 closed

[2020-07-20 09:47] alexkuku opened #190 "请教2个问题。1.关于restore方法 2.关于Snapshot类"
问题一：
我们使用ttl的场景是用来做链路追踪，每个request都会在当前线程生成一个trace id，存放进ttl里，进而传递给子线程。这种情况下似乎restore操作没有什么意义，是否可以省略restore操作？

问题二：
TransmittableThreadLocal.Transmitter.Snapshot这个类里，有2个属性，分别是ttl2Value和 threadLocal2Value。使用ttl时，都是围绕着备份和传递ttl2Value这个属性。这个时候，threadLocal2Value存在的意义是什么呢？

[2020-07-20 14:45] oldratlee commented on #190
对于你这个具体场景是，『省略restore操作』不能有功能上的问题（或说`Bug`）。
当然从性能上来看，尽早的释放 对 内存/`GC`是更优的。

对于通用场景（比如不是每次都设置的场景）来说，如果不清理会上下文污染的问题了（这样的`Bug`）线上屡见不鲜。

PS: 相关/类似问题的Issue：
- #145 『把之前的 TransmittableThreadLocal restore回来有什么意义？』
- #134 关于clean extra TTL value的疑问

----------------------

参见 Issue
#155 Transmitter类中的一个WeakHashMap<ThreadLocal<Object>, TtlCopier<Object>>的变量threadLocalHolder有什么用

-------------------

更多了解可以看

[2020-07-21 03:19] alexkuku commented on #190
好的，看明白了，多谢！

[2020-07-21 07:29] #190 closed

[2020-08-05 08:55] #187 closed

[2020-08-21 04:41] huangbuhuan commented on #53
学习了

[2020-08-28 10:21] wjk2018 opened #200 "TtlExecutors怎么没有包装forkjoinpool的方法"

[2020-08-29 16:09] oldratlee commented on #200
@wjk2018  `TransmittableThreadLocal`实现了对`ForkJoinPool`支持：

1. 通过包装`TtlRecursiveAction`与`TtlRecursiveTask`
  Demo代码参见 [`TtlForkJoinTaskDemo.kt`](https://github.com/alibaba/transmittable-thread-local/blob/4d8d31984e7c3a6bd9a34d967153a23824ba16bf/src/test/java/com/alibaba/demo/ttl/TtlForkJoinTaskDemo.kt#L16-L24)
2. 通过[使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local

[2020-09-03 07:58] oldratlee commented on #169
关于使用`TTL Agent`的单元测试开发简化，下面是一种方法：在`Maven`运行单元时，配置好`TTL Agent`的`JVM`参数。 @zscgrhg

## 具体设置方式

[code]

## 可以运行工程的`POM`配置示例

https://github.com/oldratlee/log4j2-ttl-thread-context-map/blob/12b6b2d72d4e54da785b64a7a97970b824fd4519/pom.xml#L262-L284

因为`log4j2-ttl-thread-context-map`使用了`Maven Profile`，运行命令如下：

[code]

------------------

@zscgrhg 你看看，是不是足够简单够用了？  💕

[2020-09-07 01:24] ruanzhi commented on #145
能详细讲解一下：提交到线程池的任务 可能 在本线程直接执行』『Restore』确保没有上面的 Bug
`Runnable bizTask = ...
Runnable ttlRunnable = TtlRunnable.get();

// <doRestore>
// 在restore 清理map中的数据
// 且是 本线程直接执行时，
executorService.submit(ttlRunnable);

// 后续运行，因为 Holder 没有KV了，即 后续的传递的内容是空。
// 都不会再正确传递，恢复成空。
// !!Bug!!`
这里头提交了任务，也需要等这个提交任务线程的当前任务结束了，才能让他在获取新的任务，这时候获取的任务可能就是自己提交的，因此没太明白，这种replay的时候备份一下，restore在恢复回来这种机制

[2020-09-07 01:25] ruanzhi commented on #145
能详细讲解一下：提交到线程池的任务 可能 在本线程直接执行』『Restore』确保没有上面的 Bug
`Runnable bizTask = ...
Runnable ttlRunnable = TtlRunnable.get();

//
// 在restore 清理map中的数据
// 且是 本线程直接执行时，
executorService.submit(ttlRunnable);

// 后续运行，因为 Holder 没有KV了，即 后续的传递的内容是空。
// 都不会再正确传递，恢复成空。
// !!Bug!!`
这里头提交了任务，也需要等这个提交任务线程的当前任务结束了，才能让他在获取新的任务，这时候获取的任务可能就是自己提交的，因此没太明白，这种replay的时候备份一下，restore在恢复回来这种机制

[2020-09-07 01:42] ruanzhi opened #201 "能在详细讲解一下replay、restore的设计理念吗？没有思考明白，为什么还需要有恢复步骤"
# 提供反例式的回答

你说的是 map 是指 `holder`吗？如果是，说明如下：

### 『在capture 时清理map中的数据』 的问题

[code]

### 『在restore 清理map中的数据』 的问题

提交到线程池的任务 可能 在本线程直接执行（参见 [『`CallerRunsPolicy`』](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadPoolExecutor.CallerRunsPolicy.html)。

问题说明如下：

[code]

还是 因为 『提交到线程池的任务 可能 在本线程直接执行』『Restore』确保没有上面的 **_`Bug`_**。

# 按原则的回答

### 原则：通过 整体流程/设计/代码实现 来 分析/证明 正确性。 @soca201

[2020-09-07 01:46] ruanzhi commented on #201
我理解直接在在restore里面将holder里面所有的清理掉就OK了，为啥还需要恢复backup。
backup什么情况下才会有值呢？我理解如果是线程池中的线程，backup不可能有值存在。

[2020-09-07 06:39] #200 closed

[2020-09-09 07:14] goldpumpkin opened #202 "Java Agent 使用方式 与 显式的使用方式 混用时，会有问题吗？"

[2020-09-09 12:10] oldratlee commented on #202
`TransmittableThreadLocal`的三类使用方式：

1. 修饰执行对象（如`Runnable`）
2. 修饰执行器（如线程池）
3. 使用`Java Agent`增强（透明修饰）的执行器（如线程池）

### 可以混用的，不会有问题。

####  不同使用方式的混用，在设计实现`TransmittableThreadLocal`之初就有关注的。

@goldpumpkin 有关注这个问题，COOL 👍     一般用户不会在意。

--------------------

简单说明一下实现『不同使用方式 **_协同_**』的思路（具体你可以看实现代码来深入了解）：

- 对于修饰过的 或 `Java Agent`增强的线程池：
    - 如果提交的`Runnable`已经修改过了，不会再去修改（因为是知道是`TtlRunnable`）。
    - 即 `3`

[2020-09-09 12:28] oldratlee commented on #201
- 典型的业务场景下，`replay`操作的线程，与来源的`capture`线程，是不同的。
- 当`capture`的线程 在 业务中立的线程池 时，这样的线程 往往也 没有/不需要 有上下文。

这2个前提成立时，`backup`往往 不会有值。

当上面2点不成立时，如

上面提到的场景：线程池满了 且 线程池了[『`CallerRunsPolicy`』](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ThreadPoolExecutor.CallerRunsPolicy.html)，
则 提交到线程池的任务 在`capture`线程直接执行，也就是 业务线程；

这时 `backup`是有值的，如果不做`restore backup`业务线程里的上下文就丢了，后续的执行就会有`Bug`。 @ruanzh

[2020-09-10 01:34] ruanzhi commented on #201
『CallerRunsPolicy』情况理解，我再看看 反应式编程，非常感谢

[2020-09-10 02:10] oldratlee commented on #201
@ruanzhi 好，有说的不清楚的，欢迎继续讨论 ♥️

这个Issue先Close了

[2020-09-10 02:10] #201 closed

[2020-09-10 03:04] goldpumpkin commented on #202
谢谢回复。但是如果 Agent方式 和 显示的版本不一致，应该会出现问题吧

[2020-09-10 05:19] oldratlee commented on #202
`Java Agent`是加载在`JVM bootstrap classpath`上的，即应用里的不会生效。
\# 更多信息可以了解 `Classpath/ClasspLoader`。

### PS

版本不一致（`Java`里对应`Jar Hell`），是所有语言/技术栈依赖的公共问题，会潜在影响所有功能（不仅是`TransmittableThreadLocal`不同使用方式的问题）

[2020-09-16 05:47] Yelijah commented on #174
instrumentation.appendToBootstrapClassLoaderSearch()可以用, 但是它有个bug, classLoader.getResource("")还是无法获取到资源, 导致javassist的classPool找不到,
解决方式: Launcher.getBootstrapClassPath().addURL之后, Launcher.getBootstrapClassPath().addURL()手动加载下就行

[2020-09-17 04:54] #202 closed

[2020-09-17 05:22] Yelijah opened #205 "关于TtlForkJoinTransformlet中直接修改ForkJoinTask的实现"
因为一些特殊原因, 必须要运行时动态`agent`，现已基本完成。

但是`java.lang.instrument.Instrumentation#retransformClasses`不支持在`transform`中为`ForkJoinTask`添加`fields`:

![image](https://user-images.githubusercontent.com/33784573/93425081-de5f1e00-f8eb-11ea-8e1b-82ca8acb199f.png)
![image](https://user-images.githubusercontent.com/33784573/93423471-9ee30280-f8e8-11ea-832d-ddc7745e2266.png)

----------------

Q1. 不知能否改写TtlForkJoin

[2020-09-23 07:38] ffiredom opened #207 "ttl agent not working when i both use our own javaagent"
when i use our own javaagent to enhance the code ,both, i could use ttl in some sence to enhance threadpool class. so i  nested ttl agent in our own agent, expecting both agent to take affect.

but only using ttl agent alone will work. Below are my application startup parameters...

[code]

The ttl jar has imported in the env-sniffer jar

and premain is like that

[code]

[2020-09-24 08:10] liauraljl opened #208 "使用2.11.4版本依然存在线程池场景下ThreadLocal无法重新传递问题"
我们使用的是2.11.4版本，最近发现依然存在线程池场景下ThreadLocal无法重新传递问题，是否与WeakHashMap有关呢？是否需要升级到2.11.5版本呢？

[2020-09-24 16:24] liauraljl commented on #208
问题已解决，主要原因是我们的javaagent和Tomcat应用中都引用到了ttl，而Tomcat的类加载器不遵循双亲委派，加载了两份ttl

[2020-09-24 16:25] #208 closed

[2020-09-25 01:45] oldratlee commented on #208
要升级。 @liauraljl

在Release Note 已说明：

[2020-10-05 16:46] oldratlee commented on #205
关于`retransformClasses`，我也没有使用过。

添加`fields`，可能和`Agent`的设置有关系。
你可以试试：改一下`TTL`并打包`TTL`  @Yelijah

https://github.com/alibaba/transmittable-thread-local/blob/06ec7da538f5c0e909883f6f6d207d0dd35d2ad2/pom.xml#L268-L272

PS： 关于运行时动态加载`Agent`的Issue：支持运行时加载TTL agent #169

能展开来说一下你的需求场景、问题吗？
也能让更多的人了解到。

[2020-10-12 12:39] oldratlee commented on #207
@ffiredom
Would you please provide an demo project that can reproduce the problem,
so I can troubleshoot your problem. ♥️

[2020-10-15 01:51] ffiredom commented on #207
Because this problem occurs in the company's internal projects, we may not be able to provide specific projects, but we are based on the sky-walking agent for transformation, the reason is also very simple, that is, when our own agent wants to integrate ttlagent, we found The agent started successfully, and ttl related logs are also output, but the thread enhancement does not take effect
premain m

[2020-10-21 12:54] dalaoyang opened #216 "使用问题：线程池中使用parallelStream时，有时获取不到值出NPE"
如题，有人遇到类似情况吗

[2020-10-21 15:44] oldratlee commented on #216
首先，确认使用可用的版本，比如最新版本`2.11.5`，更多参见Release note https://github.com/alibaba/transmittable-thread-local/releases 。

给一下可运行极简复现的问题的UT单测/demo， @dalaoyang 可以fork工程加代码
这样可以分离是使用问题，还是TransmittableThreadLocal的问题。

[2020-10-21 15:44] oldratlee commented on #216
首先，确认使用可用的版本，比如最新版本`2.11.5`，更多参见Release note https://github.com/alibaba/transmittable-thread-local/releases 。

给一下可运行极简复现的问题的UT单测/demo， @dalaoyang 可以fork工程加代码
这样可以分离是使用问题，还是TransmittableThreadLocal的问题。

[2020-11-02 05:11] #216 closed

[2020-11-18 03:18] jxch-1024 opened #220 "ConcurrentModificationException 异常"
线程池同时运行很多任务的时候会出现这个异常，请问有什么解决办法吗？

[code]

[2020-11-18 05:57] oldratlee commented on #220
首先，确认你使用的是合适的版本（避免废弃有问题的版本），比如使用版本`2.11.5`。
更多说明参见Release note https://github.com/alibaba/transmittable-thread-local/releases 。

@jxch-1024  你用的`TransmittableThreadLocal`库的版本是？

给一下更多的环境信息，如`TransmittableThreadLocal`库版本、JDK版本、你的使用方式。

最好能有一个可以运行复现问题的简单Demo：

- 方便排查
- 自然也有复现问题的环境、使用方式等等信息。

[2020-11-18 06:07] jxch-1024 commented on #220
使用的版本是2.10.2，jdk版本1.8。具体使用情况是多个线程共用同一个线程池，然后均使用这个线程池去执行任务，有概率触发 。

[2020-11-18 06:20] jxch-1024 commented on #220
很遗憾，在demo中暂时没有复现，真实项目中线程池有嵌套的情况。

[2020-11-18 06:22] jxch-1024 commented on #220
出现概率比较小，目前换新版本暂时没复现

[2020-11-18 09:16] oldratlee commented on #220
@jxch-1024 麻烦还是给一下 可以运行问题Demo（比如 提交成一个 `Github Repo` 我可以查看、分析、运行），
可以展现出 环境、使用方式等等信息，我 可以/想 进一步 分析排查。

PS: `TransmittableThreadLocal`库在并发上尽力做了完备分析与测试，也在线上大规模大流量的使用，库本身出并发问题应该可能性不大。但只要是可能的问题就应该分析看看。

### PS 并发相关的说明与资料

#### 1. [User Guide文档](https://github.com/alibaba/transmittable-thread-local#-user-guide)

#### 2. TransmittableThreadLocal 是否线程安全 #175 ：

#### 3. [`fucking-java-concurrency`](https:

[2020-11-18 09:35] jxch-1024 commented on #220
问题解决了，是由于之前没有使用transmittable-thread-local，为了解决thread-local经常不清理的问题，重写了线程池的afterExecute方法去清理当前线程的threadlocal变量，而现在无需清理。之前清理当前线程的所有threadlocal代码如下：

 /**
     * 清除当前线程的所有ThreadLocal引用
     */
    public static void clearThreadLocal(){
        try {
            final Thread thread = Thread.currentThread();
            final Field threadLocalsField = FieldUtils.getField(Thread.class, "threadLocals", t

[2020-11-30 05:03] oldratlee commented on #220
@jxch-1024 欢迎提供进一步信息 与 反馈交流。这个Issue先Close了。 :")

[2020-11-30 05:03] #220 closed

[2020-12-03 10:56] DC-ET opened #225 "请问此探针与 pinpoint 探针是否兼容?"
如题

[2020-12-03 11:14] oldratlee commented on #225
`PinPoint`我这边没有使用。

有Issue提过，一起使用 `TransmittableThreadLocal`与`PinPoint`。
你可以 实际使用验证一下。

另外，
 #174 如何在已有的javaagent加上TTL Agent的逻辑而不用配置-Xbootclasspath/a

[2020-12-03 18:34] liauraljl opened #226 "Ttt agent与其他agent兼容性问题"
最近发现Ttl agent与其他agent共用时，ttlagent必须放在最前面，否则会导致jdk线程池修饰失败，ttl失去作用，比如与SkywalkingAgent、Promethues等共用（未修改agent jar名称）。请问作者有遇到类似问题吗

[2020-12-04 02:42] oldratlee commented on #226
确实有其它的同学也反映过这样的问题。

你方便给一下极简的Demo（在Github建一个Demo Repo） @liauraljl  🙏 ♥️
以运行复现问题，方便我跟进排查，谢谢

[2020-12-05 15:58] liauraljl commented on #226
demo：https://github.com/liauraljl/ttl-agent-demo
agent路径：https://github.com/liauraljl/ttl-agent-demo/tree/main/src/main/agentDic
执行结果说明：https://github.com/liauraljl/ttl-agent-demo/blob/main/src/main/agentDic/%E5%90%AF%E5%8A%A8%E5%91%BD%E4%BB%A4%E5%88%86%E6%9E%90%E8%AF%B4%E6%98%8E

[2020-12-06 07:56] liauraljl commented on #226
基本定位到问题了：
ttl agent失效是由于在ttl agent之前使用其他agent，导致ThreadPoolExecutor等类在TtlAgent premain执行之前被加载
https://github.com/liauraljl/ttl-agent-demo/blob/main/src/main/agentDic/ThreadPoolExecutor%20%E5%8A%A0%E8%BD%BD.png

https://github.com/liauraljl/ttl-agent-demo/blob/main/src/main/agentDic/TtlAgent%E5%8A%A0%E8%BD%BD.png

最终线程池未被增强：
https://github.com/liauraljl/ttl-agent-demo/blob/main/src/main/agentDic/ttl

[2020-12-06 08:04] liauraljl commented on #226
- 我们目前的解决方案是把Ttl agent放在最前位置，可以保证ttl agent 正常工作，已在开发、测试环境得到验证

- 不过还是希望有更好的解决方案，毕竟人为控制加载顺序的话后续长期迭代难免会出错

[2020-12-23 08:01] 313598612 opened #228 "Wrap线程池的使用方式会抛Already TtlCallable异常"
Already TtlCallable线程池调用出现这个错误，怎么解决啊？

[2020-12-23 10:08] oldratlee commented on #228
是这个问题吗？

用新版本： @313598612 😀
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.0

[2020-12-23 11:58] 313598612 commented on #228
<img width="1475" alt="微信图片_20201223195729" src="https://user-images.githubusercontent.com/39404386/102993980-2334c980-4559-11eb-90c9-fb7535b9ead2.png">
<img width="1128" alt="微信图片_20201223195720" src="https://user-images.githubusercontent.com/39404386/102993984-24fe8d00-4559-11eb-9650-c001bfe7df9d.png">

[2020-12-23 12:00] 313598612 commented on #228
上面是使用方式，包装后就按java普通的线程池使用了。
下面的TtlCallable这个类报的错误    这个怎么解决啊？还是说使用方式不正确

[2020-12-23 13:10] oldratlee commented on #228
升级到 `v2.12.0`版本，这个版本解决的是：
Wrap 线程池的使用方式（即你上面用的使用方式），抛`Already TtlCallable`异常的问题。

你升级版本到`v2.12.0`，验证一下 @313598612

---------------------

如果还有问题，给一下极简、可运行复现问题的Demo 🙏：

- 在Github建一个Demo Repo
- 方便我跟进排查

谢谢 😄

[2020-12-24 11:33] WYongLin opened #229 "使用-javaagent，在直接使用new Thread(new Runnable() {……}).start();时， copy方法、beforeExecute/afterExecute方法将不会执行。"
使用`-javaagent`，在直接使用`new Thread(new Runnable() {……}).start();`时，
`copy`方法、`beforeExecute`/`afterExecute`方法将不会执行。

这个独立线程对这三个方法的支持，未来有计划支持吗？

[2020-12-24 11:46] oldratlee commented on #229
说一下这样用法的实际需求场景吗？😀 @WYongLin

[2020-12-30 08:37] codingPao opened #231 "Java Agent 使用方式 与 显式的使用方式 混用时，在tomcat下出现失效情况"
定位了一下发现原因是：

- `tomcat`的`WebappClassLoader`打破了双亲委托机制
- `com.alibaba.ttl.TransmittableThreadLocal.holder`会在`WebappClassLoader`中初始化一份；在做TTL操作时，TTL的引用由这个 **_`holder`_** 持有。
- 在`submit`时，`TtlRunnable`虽然走了增强，但是`copy`操作的是由`BootstrapClassLoader`初始化的`com.alibaba.ttl.TransmittableThreadLocal.holder`进行`copy`，没有`copy`到预期的TTL。

[2020-12-30 08:38] codingPao commented on #231
tomcat版本是8.0.22

[2020-12-30 08:48] codingPao commented on #231
private static final TransmittableThreadLocal<String> TRANSMITTABLE_CONTEXT = new TransmittableThreadLocal();

public void test() {
    TRANSMITTABLE_CONTEXT.set("Test");
    ExecutorService e = Executors.newFixedThreadPool(1);
    e.submit(() -> log.info("init thread"));
    e.submit(() -> {
        final String test = TRANSMITTABLE_CONTEXT.get();
        log.info("TTL:{}", test);
    });
}
这是我的d

[2020-12-31 05:44] oldratlee commented on #231
`tomcat`的`WebappClassLoader`双亲委托机制应该是可以配置的，比如`JDK`标准类（如`String`）不会打破，否则也会有各种问题。

你找一下 `tomcat`的`WebappClassLoader`双亲委托的配置的方式，将TTL的包`com.alibaba.ttl`配置成走双亲委托，来解决问题。 @codingPao
（Java Agent方式使用TTL时，TTL应该与`JDK`标准类是一样的ClassLoader方式）

有了结果反馈一下 :")

[2020-12-31 09:32] codingPao commented on #231
目前能想到得有两个解决方式：
* 调整`tomcat`配置
* 增强`tomcat`得`WebappClassLoader`

如果调整tomcat配置，可以参考https://tomcat.apache.org/tomcat-8.0-doc/class-loader-howto.html
If the web application class loader is configured with <Loader delegate="true"/> then the order becomes:
* Bootstrap classes of your JVM
* System class loader classes (described above)
* Common class loader classes (described above)
* /WEB-INF/classes of

[2021-01-04 07:47] oldratlee commented on #231
@codingPao 那这个 Issue 先 close 了，后续有什么欢迎继续讨论。

[2021-01-04 07:47] #231 closed

[2021-01-04 10:13] guyeu opened #232 "在带IO（Netty）的场景下，基于本项目有没有什么好的办法能做到跨线程传递对象？"
其实问题比较简单，就是像这样的异步调用是否有除了用TtlRunnable/TtlWrappers修饰回调意外的方法在回调和外部传递类似MDC的参数？

[![](https://mermaid.ink/img/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG4gICAgcGFydGljaXBhbnQgdSBhcyBDb250cm9sbGVyXG4gICAgcGFydGljaXBhbnQgYyBhcyBDb21wbGV0aW9uU3RhZ2VcbiAgICBwYXJ0aWNpcGFudCBuIGFzIG5ldHR5LWZyYW1ld29ya1xuICAgIHBhcnRpY2lwYW50IHIgYXMgcmVtb3RlXG5cbiAgICBOb3RlIG92ZXIgdTog6L-Z6YeM5pyJ5LiA5Liq5LiK5LiL5paH5a-56LGhQ29udGV4dFx

[2021-01-04 10:29] #228 closed

[2021-01-06 13:55] oldratlee commented on #232
这个 是 `Netty`与`TTL`的集成。

就像  `JDK`线程池 集成了 TTL，从而 省去了 每次执行任务时的`TtlRunnable/TtlWrappers`修饰的操作。
\# 因为 `JDK`线程池 是标准库，所以 `TTL`库 里就直接 集成了。

---------------

集成 涉及了 对于执行/调度组件（如`JDK`线程池、`Netty`） 生命周期的理解，并找到 切入点。

欢迎你挖一下`Netty`集成好`TTL`，这样在`Netty`使用`TTL`就简单了 @guyeu  ♥️

[2021-01-06 14:29] guyeu commented on #232
我怀疑在这样的场景中通过修饰底层线程的集成是不太能做到的，考虑到这样的场景：

[code]

因为触发回调的线程和设置回调的线程是两个线程，因此无法通过修饰底层线程来做到捕获线程本地变量（触发回调的线程无法访问其他线程的线程本地变量），因此只能在设置回调的时候进行包装（这就不仅限于Runnable了，理论上这里的回调有可能是任意对象的任意方法）。

我现在想到的办法是尽可能在每一个设置回调的地方调用`TtlWrappers`和`TtlRunnable`里的包装方法，其实在业务代码里这样的情景也不太多，比如用的比较多的`CompletionStage`及其实现，我给它写了一个代理类，然后封装业务中会返回这个类的方法，让它们返回我写的代理类，这样就能覆盖大多数情况。

但我其实并不太确定`Java Agent`内建这样的修饰逻辑是不是一个好办法，这种类涉及的场景太多了，肯定会有场景不需要这样

[2021-01-06 15:47] oldratlee commented on #232
👍

具体的解决方法的展开要好好想想；
我也理理想想 😀

PS：相关的 issue 在Reactor Webclient的场景下，使用TTL MDC不生效 https://github.com/oldratlee/log4j2-ttl-thread-context-map/issues/5

[2021-01-11 08:59] TuitaKing commented on #226
我觉得这个问题可能有两方面的原因：

- `SkywalkingAgent` 中有`ILog` 这个类，他的初始化是在`TTl agent`之前，如果使用了线程池来打印日志，可能会出现还没有执行`TTl `中的`premain`的时候`Runnable`就已经被加载进去了。导致不成功
- `SkywalkingAgent`中`org.apache.skywalking.apm.agent.core.jvm` 这个包下面包含了很多线程池，这些线程池是`initialDelay=0`的，他的初始化也是优先于`ttl Agent`的。

于是我尝试将`SkywalkingAgent` 中的日志全部切换为 `System.out.println()`，并且去掉`org.apache.skywalking.apm.agent.core.boot.BootService` 文件里的类。做完这两步后通过

[2021-01-17 15:40] oldratlee commented on #226
按 @liauraljl 提供的 『demo：https://github.com/liauraljl/ttl-agent-demo 』
走了一遍，确实如你的说的：

把`TTL agent`放在最前位置（如位于`Skywalking Agent`之前），`TTL Agent`的生效的。
否则`Skywalking Agent`在`TTL agent`之前，线程池未被增强（非生效）。

-----------

原因 如 上面 @TuitaKing 的说明，很完整 ♥️  👍  ：

因为`Skywalking Agent`的入口逻辑（`premain `）包含 线程池 的启动，导致

- 到了`TTL agent`（的`premain`）时，`TTL`需要加强的线程池类已经加载（`load`）了。
- 而`TTL`的`TtlTransformer`是在类加载时增强；如果类已经加载了会跳过

[2021-01-17 16:36] oldratlee commented on #226
我试着解决 **_`Agent`加载顺序_**：

- 实验的修改在[分支`expt/fix-agent-order-problem`](https://github.com/alibaba/transmittable-thread-local/tree/expt/fix-agent-order-problem)：
- 修改逻辑是：加载`TtlAgent`时，`retransform`已加载的类： https://github.com/alibaba/transmittable-thread-local/commit/d8cd603008c951c5f4c7e82f7eb3f866d41c9423#diff-7baf52d90b056f08a33f25f27d6df84ecd50797196db42bc39b984f57ccceb2eR147-R156

使用这个`TTL`分支的`TTL

[2021-01-17 16:52] oldratlee commented on #225
2个`Agent`（`TTL Agent` + `PinPoint Agent`）应该是没有问题。  @DC-ET

如果有问题，注意 https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739469983 中所说的：

[2021-01-17 16:52] #225 closed

[2021-01-17 17:11] oldratlee commented on #207
similar/related problem about agent issue:  @ffiredom
关于TtlForkJoinTransformlet中直接修改ForkJoinTask的实现 #205

[2021-01-18 06:27] kun1988 opened #234 "2.12.0版本在Windows下面启动会出现问题"
我在用`IDEA`开发的时候，

- `MAC`下面没有问题，`WINDOWS`下面出现了下面的`java.lang.ClassCircularityError`错误。
- 而且`WINDOWS`下面用`DEBUG`运行也不会出现这个错误。

希望这个错误信息能帮到你们

---------------

启动时候的错误信息如下：

[code]

[2021-01-18 06:30] oldratlee commented on #226
@liauraljl  @TuitaKing  README文档中 增加一个FAQ：

[2021-01-18 10:10] oldratlee commented on #234
- 给一下更多的信息，比如你的`JDK`版本。
- 方便整理一下可以复现问题的极简Demo工程吗？
  作为一个`github`工程，这样大家可以用来排查；就像[`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)这个工程。

-------------

我没有`Windows`，排查起来有些困难。:")

试着改了一下，见 [分支`expt/class-pool-class-path`](https://github.com/alibaba/transmittable-thread-local/tree/expt/class-pool-class-path)。

你在这个分支上`maven install`构建出`TTL Jar`试一下，看看有没有关系能不能解决问题  @kun1988

[2021-01-19 02:25] kun1988 commented on #234
你好  我构建出来了还是一样的问题，一会儿我新建一个简单的工程看看能否重新，能重现我就提交出来你们看看，我这边JDK版本jdk1.8.0_271

[2021-01-19 03:32] kun1988 commented on #234
新创建一个项目没有问题，可能是不是是跟其他哪个库有冲突

[2021-01-19 04:45] oldratlee commented on #234
可以从你的应用一步一步减下来，每一步确保问题还在。
直到一个可以还复现问题的极简版。 @kun1988

这样也可以发现是不是哪个库冲突引起的。

\# 这说是问题排查的一般过程 😀❤️

[2021-01-22 15:50] kun1988 commented on #234
实在是不明白   现在windows下面没问题了    MAC下又出现问题了
Failed to instantiate SLF4J LoggerFactory
Reported exception:
java.lang.NoClassDefFoundError: Could not initialize class sun.util.calendar.ZoneInfoFile
	at java.base/sun.util.calendar.ZoneInfo.getTimeZone(ZoneInfo.java:588)
	at java.base/java.util.TimeZone.getTimeZone(TimeZone.java:577)
	at java.base/java.util.TimeZone.setDefaultZone(TimeZone.java:682)
	at ja

[2021-01-22 16:07] kun1988 commented on #234
不好意思  这次MAC的问题找到了   IDEA自动给我选择了JDK11的问题

[2021-01-23 12:12] oldratlee commented on #234
`NoClassDefFoundError`即类找不到的问题，与`TTL`无关。
与`java.lang.ClassCircularityError`错误是2个问题。

------------------

考虑到

- `ClassCircularityError`错误的原因 可能是由外部的环境引起
- 大家广泛使用中没有出现这样的问题

这个 Issue 更Close。如有进一步的信息或发现，请随时 Reopen 这个Issue。 @kun1988

[2021-01-23 12:12] #234 closed

[2021-01-27 17:40] oldratlee commented on #229
先 close 这个 issue。

如果 大家有场景/需求 ，欢迎继续 评论、讨论，并 reopen。

[2021-01-27 17:40] #229 closed

[2021-02-02 10:33] TuitaKing commented on #226
@oldratlee 这个错(`class redefinition failed: attempted to change superclass or interfaces`)是因为[RetransformClasses](https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#RetransformClasses)方法的限制，不能增加、删除、和修改方法签名，或者修饰符，还有继承关系。我`debug`了`openjdk`排查了下，在`~source/openjdk-jdk8u/hotspot/src/share/vm/prims/jvmtiRedefineClasses.cpp`中会有一个`compare_and_normalize_class_versions` 方法中的`n_intfs != k_new_inte

[2021-02-03 07:05] oldratlee commented on #226
COOL! 👍 ♥️  @TuitaKing

目前只是用来语义标识。

[2021-02-03 11:49] oldratlee commented on #226
@TuitaKing 看你非常了解`Java Agent` 与 TTL的整个过程与实现 👍

你有没有兴趣 或 方便有空 来实现一下，TTL的加载后类修改增强的功能？（`ForkJoinPool` 的实现可能有些复杂） @TuitaKing 😁 ❤️

[2021-02-04 05:41] TuitaKing commented on #226
我可以尝试下😁。不过我还处于学习状态，可能花的时间比较久，尽力而为🙏。

[2021-02-05 12:42] He-Pin opened #240 "Please add contribution guide."
Please add a contribution guide, as the Akka one ？https://github.com/akka/akka/blob/master/CONTRIBUTING.md

[2021-02-08 01:07] malone081021 commented on #232
[code]
这种方式能解决 @oldratlee @guyeu

[2021-02-15 01:27] rainbow2019 opened #241 "能否将Netty的FastThreadLocal进行注册，从而实现线程池传递？"

[2021-02-15 07:43] oldratlee commented on #241
Good idea! 👍

[2021-02-18 07:53] superbool commented on #173
如果通过agent来增强的，是否就无需“每次Runnable和Callable传入线程池时的修饰”以及“getTtlAsyncTaskExecutor()方法“了？
看Spring的ThreadPoolTaskExecutor代码，最终还是调用的是JDK的Executor.execute。

[2021-02-18 07:58] oldratlee commented on #173
我做了一些简单测试：

在Agent增强的使用方式下，Spring的ThreadPoolTaskExecutor 的TTL传递是 OK的。 @liauraljl

原因就如 @superbool 所说，Spring的ThreadPoolTaskExecutor 是 JDK的Executor来实现的。

具体可以结合你的业务 测试一下。

[2021-02-20 08:51] liauraljl commented on #173
@oldratlee 是的，一开始我们只用了api的方式，后面使用agent方式，是不需要改造的

[2021-02-20 09:01] liauraljl commented on #173
@superbool 我说的这个问题就是在使用api的情况下，这个是前提哈；agent是兼容的，但是毕竟涉及到应用部署方式的改造，使用代价还是比较大的，可能有些开发人员希望仅通过引入依赖便可使用ttl的功能；

我们这边链路监控，灰度，服务治理等一些功能都是通过agent方式做的，已经有一个相对完善的agent管理系统了，所以已经弃用api方式

[2021-02-24 09:34] scp114514810 opened #244 "想在子线程中获取执行该子线程的父方法 transmittable-thread-local 有办法做到吗"
假设有两个方法被放在同一个循环体内：

[code]

某一时刻想知道线程池中的某个线程是`a()`方法的还是`e()`方法的，该怎么办呢？

transmittable-thread-local 可以做到吗？

[2021-02-25 06:31] oldratlee commented on #244
个人的第一感觉是：这种情况，推荐 在业务里逻辑的方式来表达，比如

- `run`不同的Task类型
- 用不同的方法（即有业务语义的API）来区分，而不是让使用方式直接调用`executorService.execute`
- 等等

不要通过下层技术的方式来猜，感觉总有一天会出错的（即**不安全**）。

---------------

当然你可以说明一下 更多的业务场景，可以：  @scp114514810

- 结合业务场景，给出 通用安全的做法
- 结合业务场景，给出 面向业务语义 清楚简单的做法（即不需要通用）

[2021-03-13 10:01] #244 closed

[2021-03-22 06:17] wuwu20048 opened #253 "异步线程中修改ThreadLocal值，主线程也会被修改？（DB Session传递场景）"
在`DAO`层，我在`ThreadLocal`上下文中，会存放数据库`Session`。

发现替换为`TransmittableThreadLocal`后，使用`agent`方式。
在多线程场景下，对`session`的操作会影响到主线程，比如说取不到`session`，或者`session`已关闭。

请问支持这种场景吗，还是只能使用值传递，还不能对其进行修改操作？

[2021-03-22 11:00] oldratlee commented on #253
## 关于 『维护传递对象有效』

`TransmittableThreadLocal`的完成功能的是，异步对象（或说上下文）的传递。

其中 传递对象（如`session`对象） 的生命周期，由 2个或多个协作线程的逻辑 来决定；
作为只传递对象的`TransmittableThreadLocal`并不能决定，在传递过程中，维护这个对象 是有效的。 @wuwu20048
（因为没有维护传递有效性的逻辑，作为底层库也期望 耦合 『维护传递对象有效』这样的逻辑）

以`DB session`对象为例来说明，如果传递的`DB session`对象没有一些逻辑来维护是有效性，
那么在另一个线程使用`DB session`对象时，就可能是已经关闭了。这个情况与是否使用`TransmittableThreadLocal`无关。

## 关于『传递对象』是否可修改

如果传递是对象引用，是可以修改的

[2021-03-23 02:21] zysaaa opened #256 "关于backup&restore的疑惑"
我使用的是`2.10.2`版本，在看这块代码以及看网上一些源码分析的文章，提到这一块是为了执行结束后重置这个线程原先的`TTL`值，避免丢失，我写了如下的测试代码:

[code]

线程池中只有一个`worker`，在`submit`第一个任务的时候往`transmittableThreadLocal` `set`了一个值，

- **在这个任务触发前**，显然，`backup`的值是一个空`map`，然后执行过程中塞了一个值到`transmittableThreadLocal`里。
- **任务执行结束后**，此时由于`restore`机制会将这个`worker`里的刚刚塞的值清空，导致`submit`第二个任务的时候`transmittableThreadLocal.get()`输出为空了，
   但是自始至终这是同一个`worker`线程，使用普通的`threadLocal`是能够

[2021-03-23 03:05] Yelijah commented on #205
需要动态agent的场景是：
To B的web应用，需要适配多种web容器环境，让客户自行去加启动参数，比较不可控

[2021-03-23 03:16] oldratlee commented on #256
对你说的这个具体场景，有下面的约束：

1. 只有**一个**`Worker`线程的线程池
2. 业务逻辑 保证了 2个`Runnable`异步任务的时序
3. 且2个任务之间有**全局**交互
    - **全局**交互 是指：通过`ThreadLocal`在**一个**线程来全局读取，这是`ThreadLocal`的目标场景。

@zysaaa
如果你的业务场景满足上面约束是，是够用/合用的，
那么用`ThreadLocal`（而不是`TransmittableThreadLocal`）就好，而且可能更简单。

只用一个线程的线程池，对于很多场景是不够用的（比如，为了业务并发处理的扩展性/性能），这时可以使用`TransmittableThreadLocal`。

### 相关的Issue/文档

- #201 能在详细讲解一下replay、restore的设计理念吗？没有思考明白

[2021-03-23 09:14] oldratlee commented on #205
以避免业务代码的修改，让像中间件基础这类的解决方案对业务透明（如`Skywalking`、`Promethues`），
使用`Java Agent`类加强的方式，是业界 比较常见与主流的方式。

很难有其它更好的 透明技术方案，当然对应要做的是配置`JVM`的启动参数；
相对各个升级改动业务代码，`Agent`方案还相对实施成本还是比较低的。

也期望业界 能找到 更简单（如 无需`JVM`启动参数）的解决方式。 😁    @Yelijah

[2021-03-26 03:29] wuguanyu opened #258 "TTL Agent使用方式下，业务代码是否需要依赖TTL Jar？"
如果服务增加`agent`方式增加了`TTL`，那么业务代码是不是还是依赖`transmittable-thread-local`的`jar`吗？
因为需要使用`TransmittableThreadLocal`。

如果是，那么`ttl agent jar`的版本 和业务放自行依赖的`transmittable-thread-local jar`有什么要求是必须一致吗？

[2021-03-26 03:38] wuguanyu commented on #258
好像因为 agent是在 bootstrap classloader先加载 自己服务依赖是不是不大重要

[2021-03-26 07:12] oldratlee commented on #258
关于
- `TTL Agent`使用方式下，应用是否还需要`TTL Jar`的问题
- 及其 版本问题

在『Issue  #202 Java Agent 使用方式 与 显式的使用方式 混用时，会有问题吗？』已经讨论与回答过了： @wuguanyu

### 如果服务增加`agent`方式增加了`TTL`，那么业务代码是不是还是依赖`transmittable-thread-local`的`jar`吗？

`TTL Agent`使用方式下，应用可以不需要依赖`TTL Jar`了。

### `agent jar ttLagent`的版本 和业务放自行依赖的`transmittable-thread-local jar`有什么要求是必须一致吗？

`TTL Agent`使用方式下，生效的是 `JVM bootstrap classpath`/`TTL Agent`上 配置的 `Transmi

[2021-03-26 11:54] wuguanyu commented on #258
![image](https://user-images.githubusercontent.com/24486917/112627607-cead2d00-8e6c-11eb-908d-9a396c50b246.png)
主要是看到这个文档 感觉业务放还需要 使用 TransmittableThreadLocal ,我需要进入看一下如何实现的
感觉回答
@oldratlee

[2021-03-26 16:40] #258 closed

[2021-03-29 13:25] #253 closed

[2021-03-29 13:25] #256 closed

[2021-03-31 02:54] wuguanyu commented on #258
@oldratlee 我感觉有个问题 特别傻 但是我还是多问一下 如果使用agent方式 注入ttl,
业务不依赖TransmittableThreadLocal
因为我看流程上 业务放是要使用TransmittableThreadLocal 才能传递传递跨线程的上下文
![Uploading image.png…]()

[2021-03-31 05:24] wuguanyu commented on #258
![image](https://user-images.githubusercontent.com/24486917/113094474-5061d980-9224-11eb-9ab4-9171354a2b09.png)
看这个demo 最起码 业务在编译阶段还是引入 ttlAgent jar报 因为要显示使用 TransmittableThreadLocal

[2021-03-31 10:04] oldratlee commented on #258
嗯，编译时 要的。

`TTL Agent`使用方式下，应用**运行时**可以不需要依赖`TTL Jar`了。
\# 应用代码**编译时**，肯定是要有依赖`TTL Jar`，否则编译过不了。

[2021-04-02 05:57] wuguanyu commented on #258
@oldratlee 收到

[2021-04-08 05:25] xiaospace1028 opened #259 "Runnable->TtlRunnable使用问题（没有得到期望值）"
修改`Runnable`->`TtlRunnable`

[code]
结果：

[code]

------------------

修改线程池

[code]

结果：

[code]

看demo中说明修改`Runnable`也是生效的，但是实际是无效的不能得到第二种方法的结果

希望能够得到解答

[2021-04-08 05:43] oldratlee commented on #259
修改`Runnable`的使用方式，每次提交线程池时都需要生成`TtlRunnable` Wrapper。
即加一行代码就好了： @xiaospace1028

[code]

------------------------

这个在[用户文档 - 修饰线程池](https://github.com/alibaba/transmittable-thread-local#22-%E4%BF%AE%E9%A5%B0%E7%BA%BF%E7%A8%8B%E6%B1%A0)有提到，但说得不明显，我优化一下文档：

![image](https://user-images.githubusercontent.com/1063891/113974352-56813700-9870-11eb-923e-c13020079271.png)

[2021-04-08 07:32] xiaospace1028 commented on #259
多谢，原因还是我没有去阅读一下源码，我去拜读一下。

[2021-04-08 07:32] #259 closed

[2021-04-10 12:37] oldratlee commented on #259
@xiaospace1028 更新了用户文档，添加了相应的说明：

![image](https://user-images.githubusercontent.com/1063891/114269990-82511800-9a3c-11eb-9f24-be08973359ab.png)

[2021-04-14 02:26] zwp201301 opened #260 "建议将agent和jar分离开来，支持独立打包"
我们需要支持线程的透传，用于服务的灰度发布。服务发布的jar - agent采用的是byte- buddy工具实现。
所以希望能够支持byte-buddy的agent。

[2021-04-14 04:32] oldratlee commented on #260
赞成 :+1:

开发中的`v2.13`在做`Agent`功能与重构（如插件化）。
可以在这个版本里看看如何做

[2021-04-14 05:43] guoxunbo opened #261 "TransmittableThreadLocal.remove并不清空值"
我在Spring的filter中对相应的请求信息放到了TransmittableThreadLocal方便上下线程传递，在intercepter那边也做了remove.可是当下个Http请求进来，TransmittableThreadLocal还存了上次的值。。。
[code]

[2021-04-14 05:45] guoxunbo commented on #261
![image](https://user-images.githubusercontent.com/14329149/114660257-92604480-9d27-11eb-8db4-59e41455c0ff.png)
![image](https://user-images.githubusercontent.com/14329149/114660285-9ee49d00-9d27-11eb-87ea-097ba4e55516.png)
很奇怪的是，这个remove之后我去看这个map是个size为0的map这是正常的。可是为啥下次进来的时候，这个map又有了上次的值。

[2021-04-14 06:29] guoxunbo commented on #261
如下图。线程1已经清空了数据，但是线程3进来还是获取到了线程1的数据。但是实际线程1里的数据是清空掉的了。
![image](https://user-images.githubusercontent.com/14329149/114664093-cfc7d080-9d2d-11eb-8c86-c2c20793d772.png)
![image](https://user-images.githubusercontent.com/14329149/114664089-ce96a380-9d2d-11eb-8839-29d7212b3d66.png)

[2021-04-14 08:35] oldratlee commented on #261
先仅从你的代码逻辑来分析，`ThreadLocalContext#TRANSACTION_ID`的使用地方/调用链 如下：

（ PS： 因为你给的`ThreadLocalContext`的几乎方法都是`public`的，
所以应用其它的地方都不限制的写入`KEY TRANSACTION_ID`的值，这些地方确定分析不到的。）

[code]

其中，`ThreadLocalContext.putRequest(String, String, String)`的逻辑：

[code]

@guoxunbo 见上面的`# !!`的注释说明。
上面只是

------------

当然，总的来说，你提供的信息 不足以排查确定问题。

[2021-04-14 16:08] guoxunbo commented on #261
我写了个简单的web测试了下。TTL是好的。
但是我这边也只有在`putRequest`这边方法里会去调用`putTransactionId `这个方法。也没有其他地方放进去。
我换成ThreadLocal就是正常的了。但是我没有用TTL只用自带的`InheritableThreadLocal`也有这个问题。就有点奇怪了。日志如下：我打了一下。header里传来的transactionId都是不一样的。
@oldratlee remove的操作我是在`Interceptor`的`afterCompletion`方法里做了ThreadLocalContext的remove()。
[code]

[2021-04-15 02:43] guoxunbo commented on #261
找到问题了。。。我一个注解里用了这个map里 别的栏位也会导致这个不被清楚。

[2021-04-15 02:44] guoxunbo commented on #261
就是那个enterJpaAdvice方法。有点奇怪。我去琢磨一下

[2021-04-15 02:47] guoxunbo commented on #261
还有一个问题问下良神。MDC进行传递的时候只能通过线程池进行修饰传递么。。有没其他的方法

[2021-04-15 04:37] guoxunbo commented on #261
经过我的测试。发现只要和Hibernate的filter挂钩起来。就会导致相应的问题。
![image](https://user-images.githubusercontent.com/14329149/114814668-378e2200-9de7-11eb-8b21-1a59435aff31.png)

[2021-04-15 08:38] oldratlee commented on #261
你说的『通过线程池进行修饰』是指 [2.2 修饰线程池](https://github.com/alibaba/transmittable-thread-local/#22-%E4%BF%AE%E9%A5%B0%E7%BA%BF%E7%A8%8B%E6%B1%A0) 说的 `TtlExecutors. getTtlExecutorService`这样的使用方式吗？

还提供了[2.3 使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local/#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB)   @g

[2021-04-15 08:44] guoxunbo commented on #261
测出问题来了。。。和`@PostConstruct`结合在一起就有问题。只要在项目中有任何一个类在`@PostConstruct中`去获取`InheritableThreadLocal `中的值就有问题。代码我上传到百度云了。
链接:https://pan.baidu.com/s/1GVA8qf5YOdEdrRfVGDDB3w  密码:lxey
用Postman请求`http://127.0.0.1:8080/ttl/test`。随便发个string就看的出来。有点奇怪。。

![image](https://user-images.githubusercontent.com/14329149/114840879-d592e400-9e09-11eb-883a-cf93d71ad1f9.png)

[2021-04-15 08:45] guoxunbo commented on #261
@oldratlee 良神。

[2021-04-15 08:55] MQPearth opened #262 "spring中async中使用问题"
transmittable-thread-local版本2.12.1

[code]

[code]

[code]

共调用9次, 第9次的时候, service 取到的值是第一次设置的值

[2021-04-15 09:10] #262 closed

[2021-04-15 09:24] MQPearth commented on #262
see https://www.jianshu.com/p/4093add7f2cd

[2021-04-15 10:04] oldratlee commented on #261
👍
我观摩/分析一下

[2021-04-16 01:41] guoxunbo commented on #261
@oldratlee 好的。下次一定。。。哈哈哈。一起分析一下。好奇怪的。为啥@PostConstruct会影响到这里。

[2021-04-16 02:32] guoxunbo commented on #261
好像是我使用不严瑾。。。在@PostConstruct里没有做ThreadLocal的remove.但是就很奇怪。我这里都只是get值。做不做remove应该问题不大吧。我再去看下InheritableThreadLocal的holder相关代码瞅下。

[2021-04-28 03:12] yuanrengu commented on #53
学习了

[2021-04-30 03:34] miaoj0620 opened #266 "在parallelStream().forEach()并行获取TransmittableThreadLocal时，一部分取不到值"
![image](https://user-images.githubusercontent.com/19304073/116645307-1d883e00-a9a8-11eb-88f4-f2934516ac26.png)
![image](https://user-images.githubusercontent.com/19304073/116645321-2a0c9680-a9a8-11eb-8a7e-a188a8bc8a7f.png)

[2021-04-30 06:35] Leonardawp opened #267 "已加载的类的解决方法"
1、手动触发类重新加载  2、使用 retransformClasses
为什么不用这两种方法呢？把agent放在第一位感觉治标不治本

[2021-04-30 06:37] Leonardawp opened #268 "关于多个agent冲突的解决方法"
1. 手动触发类重新加载
2. 使用 retransformClasses

为什么不用这两种方法呢？

把agent放在第一位感觉治标不治本

[2021-04-30 06:38] #267 closed

[2021-04-30 06:38] Leonardawp commented on #268
1、手动触发类重新加载 2、使用 retransformClasses
为什么不用这两种方法呢？把agent放在第一位感觉治标不治本

[2021-04-30 08:56] oldratlee commented on #266
@miaoj0620 你的使用方式是什么？

需要通过[2.3 使用`Java Agent`来修饰`JDK`线程池实现类](https://github.com/alibaba/transmittable-thread-local/#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB) 使用方式 支持`parallelStream`。
上面的文档链接包含了使用方式。

---------------

如果还有问题，需要分离整理 一个 可以复现问题的极简Demo工程：  @miaoj0620
  - 作为一个`github`工程，这样大家可以用来排查
  - 就像这个Issue https://github.co

[2021-04-30 09:11] oldratlee commented on #268
可以考虑的，保证实现是可靠性。
有实现成本，以及后续一段实现的稳定时间。

关于『使用 retransformClasses』
https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-761840749
这里也有讨论，也有一些实现尝试。

@Leonardawp 可以一起来尝试实现～ 😄

『放在第一位』的做法，验证是OK的。因为`TTL`实现没有调整，功能也自然是很稳定的。

但有配置注意的成本。

-----------------

相关有讨论Issue

- #169 支持运行时加载TTL agent
- #226 TTL agent 与 其他agent的兼容性问题

[2021-05-10 07:40] wuguanyu opened #270 "SEVERE [main] TtlTransformer: Fail to transform class ****. cause: java.io.IOException: invalid constant type: 17 at 113"

[2021-05-10 08:15] wuguanyu commented on #270
CONSTANT_Dynamic 17
https://docs.oracle.com/javase/specs/jvms/se11/html/jvms-4.html#jvms-4.4-210

<br class="Apple-interchange-newline">

[2021-05-10 08:15] wuguanyu commented on #270
报错信息 和这个issue很像

https://github.com/arquillian/arquillian-extension-jacoco/issues/84

[2021-05-10 08:26] wuguanyu commented on #270
@oldratlee
https://github.com/jboss-javassist/javassist/issues/270
上面这个问题需要升级版本吗

[2021-05-11 01:44] oldratlee commented on #270
@wuguanyu 你升级一下 javassist依赖，本地打包出TTL jar，测试一下看看你的问题解决了吗？

我也看一下这个问题，确认需要我就Release一个新版本。

[2021-05-11 02:23] wuguanyu commented on #270
@oldratlee 好的 我本地没有复现这个问题 只是在测试线环境先遇到这个问题

[2021-05-11 03:46] wuguanyu commented on #270
@oldratlee 单独check-out v2.12.1 变更 javaassist 版本 也不会报上面 的错误
![image](https://user-images.githubusercontent.com/24486917/117755145-4503c400-b24e-11eb-8fef-37e544332508.png)
只能描述一个现象了
本地没有复现 所以不知道怎么才能构建这个demo 出来，我在研究一下

[2021-05-11 04:05] oldratlee commented on #270
整理一个测试环境能出现的demo 也可以，
整理过程（如对齐环境 ）可能就能确定复现了 😀

[2021-05-11 05:54] wuguanyu commented on #270
@oldratlee 在测试环境，使用v2.12.1这个问题是必现的。

Master与v2.12.1，javassist库没有升级。
如果是javassist版本问题，2者应该都会有问题。
上面这个问题 我觉得你说的对，但是不清楚master 和 v2.12.1 代码变更的影响范围。

[2021-05-11 05:56] wuguanyu commented on #270
升级javaassist到3.28.0-GA，则TTL不再支持Java 6/7。

这个代码上注释我看过了，升级到3.28.0-GA 应该比较适合我们 我们代码jdk最低版本是8

[2021-05-11 05:57] wuguanyu commented on #270
这个代码上注释我看过了，升级到3.28.0-GA 应该比较适合我们 我们代码jdk最低版本是8

[2021-05-11 05:59] wuguanyu commented on #270
这个理论上 我觉得是对的 但是不知道 Master与v2.12.1 代码变更影响范围

[2021-05-11 06:15] wuguanyu commented on #270
@oldratlee 大致知道问题所在了

-javaagent:transmittable-thread-local.jar=ttl.agent.logger:STDOUT
-Xbootclasspath/atransmittable-thread-local.jar
-javaagent:jacocoagent.jar

感觉是jacocoagent 有相互冲突

[2021-05-11 12:18] oldratlee commented on #270
好的  @wuguanyu   👏

这边先不升级 `javaassist`到`3.28.0-GA` 以及 相应`Java`语言升级（不支持`Java 6/7`）。后面根据实际情况再跟进升级。

-------------

有问题再继续讨论。这个Issue先Close了。

[2021-05-13 11:12] yifanyou opened #272 "第一次请求单线程池的线程获得父线程上下文后，后面该线程挂掉重新创建了一个，又没有做ttlrunable修饰，是不是就拿不到上下文了？"

[2021-05-13 12:57] #266 closed

[2021-05-19 02:25] xingwenyang commented on #231
@oldratlee 能分享下这个修复方案的源码在哪个项目中能看到吗

[2021-05-19 05:17] oldratlee commented on #231
`Tomcat`的修改与配置 @codingPao 的实现解决的。 @xingwenyang

@codingPao 可以交流 回答一下 😃❤️

[2021-05-19 12:03] oldratlee commented on #272
从一般的执行逻辑分析来看，
一个线程挂掉后重新创建了一个任务再执行，又没有做ttlrunable修饰，是就拿不到上下文的。

具体你可以再测试验证一下。 @yifanyou

[2021-05-23 15:05] #261 closed

[2021-05-25 01:23] #272 closed

[2021-05-28 08:22] EndaLin opened #277 "使用TTL包装ThreadPoolTaskExecutor注册到Bean，导致ThreadPoolTaskExecutor not initialized"
首先贴一下业务代码，在代码中，我们使用了org.springframework.scheduling.concurrent.ThreadPoolTaskExecutorr来提供线程池服务，并且使用TTL对该线程池进行保证并且注册到Bean

[code]

但在实际使用的时候，程序却报出来异常ThreadPoolTaskExecutor not initialized

ThreadPoolTaskExecutor在源码中是通过org.springframework.beans.factory.InitializingBean#afterPropertiesSet来对Bean进行初始化的，按理说Spring会帮我们完成初始化的动作

[code]

可是异常却在告诉我们，该线程池并未执行初始化动作。

在翻阅了Spring的源码后，我们发现org.springframework.beans

[2021-05-28 08:24] EndaLin commented on #277
使用TTL包装ThreadPoolTaskExecutorr的时候，会影响原有容器的正常初始化动作，请问这个有解决的方案吗？

[2021-05-28 08:56] oldratlee commented on #277
### 先说明 基本信息

- `Spring`的`ThreadPoolTaskExecutor`不能简单地用`new`的方式创建。
    - 在`Spring`容器中，会正确初始化。
    - 你上面的代码中，`ThreadPoolTaskExecutor`实例是直接`new`的，且没有给到`Spring`容器，
       所以`ThreadPoolTaskExecutor`实例的初始化过程是不完整的。
- `TtlExecutors.getTtlExecutor`方法的`Wrapper`的功能，只是完成线程池提交方法的拦截加强。

### 解决方法

- `Spring`的`ThreadPoolTaskExecutor`需要由`Spring`容器维护。
- 然后再用`TtlExecutors.getTtlExecutor`方法的`Wrapp`。

示意代码如下：

[code]

[2021-05-28 09:06] EndaLin commented on #277
感谢提醒，没留意到Spring的ThreadPoolTaskExecutor不能简单地用new的方式创建，这是一个很粗心的错误，谢谢！

[2021-05-28 09:06] EndaLin commented on #277
感谢提醒，没留意到Spring的ThreadPoolTaskExecutor不能简单地用new的方式创建，这是一个很粗心的错误，谢谢！

[2021-05-31 09:43] linfan opened #278 "transmittable-thread-local的JavaAgent报ClassCircularityError错误，含可复现代码"
与 #234 应该是同一个问题，`2.12.1`版本在Mac下可复现。

**复现代码**

https://github.com/linfan/transmittable-thread-local-issue-278

**JVM版本**

[code]

**复现步骤**

直接在代码根目录执行`./gradlew clean build --info`，即有一定概览会出现。

可反复执行多次，一般三次以内至少会出现一次`ClassCircularityError`异常。报错的堆栈会有两种情况，其中第二种情况出现的概率比较高。

第一种情况，报`LinkedHashMap.java:533`的位置：

[code]

第二种情况，报`LinkedHashMap.java:543`的位置：

[code]

**其他信息**

1. 只在Gradle下出现，使用Maven构建不会有此异常

[2021-06-01 01:25] oldratlee commented on #278
这个问题 紧急吗？ @linfan

想进一步挖一下，以更完整分析深入些解决这个问题。
原因如下：

- 从目前出现`ClassCircularityError`的case来看，是在 `java.util` 包；
如果没有进一步确定原因，忽略 `java.util` 包后，在其它包可能接着会次成为问题项。
- `TTL Agent`的扩展机制正在开发中，以允许业务写扩展；扩展`Agent`功能 不期望有包被忽略/跳过。

[2021-06-09 02:44] biuabiu opened #279 "CompltetableFuture结合Ttl 未使用agent方式 也拿到了ttl中的value"
### 使用方式/环境信息：
- jdk 1.8
- 未使用agent
- 需要依赖lombok、ttl
- 仅使用了CompltetableFuture 和 ttl

### 源码

![20210609145410](https://user-images.githubusercontent.com/38499411/121307396-86ad8a80-c932-11eb-976f-dc515adae7a2.png)

[CompletableFutureTest2.zip](https://github.com/alibaba/transmittable-thread-local/files/6621634/CompletableFutureTest2.zip)

### 问题说明：

看日志跨线程怎么还是拿到了数据？

[2021-06-14 12:36] oldratlee commented on #279
@biuabiu

原因是：

`TransmittableThreadLocal`本身也是`InheritableThreadLocal`，`Inheritable`能力：
可以在新建线程时，传递父子的`ThreadLocal`值。

具体上面运行的例子：

`check`操作的线程（上面运行对应`test-business-4`）由`cache`线程（上面运行对应`test-business-1`）创建的。
\# `Executors.newFixedThreadPool`的`ThreadPoolExecutor`的线程创建是`Lazy`的。

[2021-06-14 12:44] #279 closed

[2021-06-26 02:29] yexuerui opened #281 "transmittable-thread-local会不会有内存泄漏的风险？"
- 声明的`TransmittableThreadLocal`一般为静态变量。
- 或者在`Spring`的`bean`中声明（单例模式），
`TransmittableThreadLocal`一直被强引用持有。

那么 `holder`即使设计的为`InheritableThreadLocal<WeakHashMap<TransmittableThreadLocal<Object>, ?>>`，
若不在子线程显式调用`remove()`方法，也不会被`GC`回收吧。

[2021-06-26 10:07] oldratlee commented on #281
若不在子线程显式调用`remove()`方法，也不会被`GC`回收吧。

显式调用`remove()`方法，不被`GC`回收，是正确的功能。

如果 不调`remove()`方法，`ThreadLocal`持有的对象被`GC`回收， 则是`Bug`。
（无故消失，不能正确持有！）

---------------

## 关于内存泄漏

任何持有的内存的字段或功能都会有内存泄漏的风险，需要正确使用。

`TransmittableThreadLocal`功能本身没有内存泄漏的问题。 @yexuerui
即 `TransmittableThreadLocal`在正确使用的前提下，不会内存泄漏。

## 相关Issue

- #175

[2021-06-26 10:08] #281 closed

[2021-06-26 10:29] oldratlee commented on #281
@yexuerui

有涉及出现内存泄漏，更具体的问题吗？

[2021-06-26 11:50] oldratlee commented on #267
duplicated with #268

[2021-06-26 12:26] yexuerui commented on #281
因为transmittable-thread-local继承的是InheritableThreadLocal，在某个线程池第一次创建线程的时候，执行Thread的init方法，完成的数据的跨线程传递(即子线程的InheritableThreadLocal的inheritableThreadLocals会存储值)。而holder也是InheritableThreadLocal变量，在子线程创建时，执行init方法。子线程的holder也会继承父线程的值。

前提：
1. 线程池的线程第一次被创建；
2. 在创建子线程前，主线程中调用了transmittable-thread-local的set方法；
3. 主线程结束后，调用remove方法；
4. 请求再次进来，调用同一个线程池，发现子线程的inheritableThreadLocals依旧存在步骤2存入的值；

**代码验证：**

![

[2021-06-26 13:22] oldratlee commented on #281
上面你讨论的是：`Inheritable`能力/功能 （即第一次创建`Thread`时的上下文传递）引起的问题与解决。

参见 https://github.com/alibaba/transmittable-thread-local/issues/279#issuecomment-860649758 ： @yexuerui

[2021-06-28 04:28] yexuerui opened #282 "SpringBoot启动时，调用TTL的get方法造成线程不安全"
因为`TTL`底层使用`ITL`，会导致在`new`线程的时候，父子线程的数据传递，且无法销毁。

背景：
1. 项目启动的时候，存在`TTL`的`get`操作，于是`main`线程存在`TTL`的`value`；
2. 当请求进入时，`Tomcat`线程池（不会被`TtlExecutors`装饰）会开启子线程来执行业务逻辑；
3. `main`线程会将`TTL`(此时仅可看做`ITL`)的值传递到子线程；
4. 子线程修改`TTL`的引用时，会造成内存不安全；

代码如下：

[code]

疑问：此时由于是普通的线程池，即使`TTL`重写`copy`方法也会造成线程不安全；

解决方法只有去重写`childValue`方法，来解决`ITL`传递到子线程吗？：

[code]

[2021-06-28 06:05] oldratlee commented on #282
@yexuerui

## 解决`Inheritable`能力/功能 引发的问题

其中，`ITL`（`InheritableThreadLocal`）引发的问题 在 前一个你的Issue中，说明问题与解法：
https://github.com/alibaba/transmittable-thread-local/issues/281#issuecomment-869000689

解决方法可以是：
通过设置线程池的`ThreadFactory`成`DisableInheritableThreadFactory`，disable Inheritable。

对应你的示例代码的修改如下： @yexuerui

[code]

## 线程安全问题

[2021-06-28 06:53] yexuerui commented on #282
您好。我明白可以装饰ThreadFactory来解决ITL的问题，但是我重点强调的是：请求进来时。是tomcat开启一个线程处理，但是tomcat的线程池没有使用ttl的包装的线程池。也就无法使用您说的上面的方法。

[2021-06-28 07:01] oldratlee commented on #282
用覆盖`childValue`方法也可以线程安全，
你再看一下上面的回复。

[2021-06-28 07:38] yexuerui commented on #282
好的，我理解您的意思了

[2021-06-28 07:38] #282 closed

[2021-06-28 08:10] TuitaKing commented on #226
我尝试了几次修改已经加载的class。但是RetransformClasses的限制又点多，会去掉TTL很多设计，比如都实现相同的接口 这类设计。所以我觉得暂时只能使用规范规范话的使用下。后续会使用bytebuddy进行尝试，但是和现在的设计区别较大。望知晓。有点抱歉

[2021-06-28 08:31] oldratlee commented on #226
收到。辛苦了～ ♥️
期望ing～

[2021-06-28 11:01] oldratlee commented on #282
带上并发维度，要解释清楚，
真有点让人心力憔悴 🤣  @yexuerui

之前的Issue，涉及并发时，
我一般都简单说明与`TTL`独立正交，避免展开去解释的。 😅

[2021-06-28 11:55] simplifyOurLife commented on #53
学习了

[2021-07-09 08:48] linxiaobai commented on #73
公司 | 国内某互联网金融公司
-- | --
项目 | 某BU中间件链路透传Tracer
使用场景 |  通过ttl的跨线程透传上下文信息的能力
开始使用时间 | 2021年
使用方式 | 见下面代码，wrap一层ExecutorService

[code]

[2021-07-28 16:41] LittleCadet opened #286 "TransmittableThreadLocal在reactor中出现NPE"
现象：在reactor中使用自定义的线程池，并使用TransmittableThreadLocal完成对A变量在线程池中的透传。但是发现有概率出现NPE的现象，而且一旦出现NPE，那么后面的每次执行，凡是用到TransmittableThreadLocal的变量的值，全部为null。 引发大量的NPE.

备注：
 未使用remove清理上下文。使用默认执行的restore。

问题代码：
`
public class ClusterAlertContext {
    /**
     * 数据源: 阶段: netty的ChannelRead -> mergeSource
     */
    private TransmittableThreadLocal<List<ShardingSysLogSourceBo>> errorSource;
}

public void page()

[2021-07-28 16:46] LittleCadet commented on #286
进一步描述：
我的线程池的maxPoolSize: 为200,  之后呢，一旦请求的线程数在200左右的时候【并不是并发200个， 而是使用的线程总数到200左右】，极大概率在取值的时候，会出现NPE.
下面是线程池的代码：
`@Bean
    public ThreadPoolExecutor bizExecutor() {
        return new ThreadPoolExecutor(
               100, 200,5, TimeUnit.MINUTES,
                new LinkedBlockingQueue<>(50),
                new ThreadFactoryBuilder().setNameFormat("BIZ_THREAD").build(),
                new Thr

[2021-07-28 16:47] LittleCadet commented on #286
急救，这个问题，卡了好几天了。。。求大神，出手相助啊。。。

[2021-07-29 04:58] oldratlee commented on #232
COOL ! !  @malone081021  👍  👏

[2021-07-29 06:06] guyeu commented on #232
@oldratlee 这个已经验证过了，可以缓解部分问题，但由于hook执行和注册回调不一定在同一个线程里，所以没有办法真正解决问题。

[2021-09-10 03:23] KevinQian opened #290 "TtlRunnable是否实现Comparable来实现Runnable在队列中的优先级排序？"
场景：
1、自定一个Task实现Runnable和Comparable接口。
2、创建ThreadPoolExecutor时，绑定一个PriorityBlockingQueue来实现任务按优先级执行。

[2021-09-10 06:05] oldratlee commented on #290
@KevinQian  需求合理 💕

我也想一下 设计实现的方式。

-------------------

目前，个人觉得，
像`TtlRunnable`实现`Comparable`的方式，`TTL`核心没有做到关注点分离。
（可以假想会有各种各样不同的接口，以附加像优先级`Comparable`这样附加能力）

[2021-09-10 07:13] oldratlee commented on #290
@KevinQian

不使用`TTL`的情况下，`ThreadPoolExecutor`通过`PriorityBlockingQueue`来实现任务按优先级执行，
这个 你能给一个 演示可运行的`Demo`吗？

---------------

我试了一下，好像并不是简单直接的做法。

初步实现并`Debug`发现，`ThreadPoolExecutor`发现提到`PriorityBlockingQueue`的是`FutureTask`：

![image](https://user-images.githubusercontent.com/1063891/132814668-99f9d575-c1e4-471c-8389-b458e066a178.png)

[2021-09-10 08:10] KevinQian commented on #290
我想法跟你差不多，是想让TtlRunnable实现Comparable接口，ttl源码还没深入研究。只是初步的想法，不知道有没有其他问题。
我自己写了一个简单的场景。
`java`
package com.kevin.netty.server;

import java.util.concurrent.*;

/**
 * @author qian.zhi
 */
public class TestQueue {
    public static void main(String[] args) {
        BlockingQueue queue = new PriorityBlockingQueue();
        Task task1 = new Task(2);
        Task task2 = new Task(1);
        Task task3

[2021-09-10 08:12] KevinQian commented on #290
我想法跟你差不多，是想让TtlRunnable实现Comparable接口，ttl源码还没深入研究。只是初步的想法，不知道有没有其他问题。
我自己写了一个简单的场景。
`java`
package com.kevin.netty.server;

import java.util.concurrent.*;

/**
 * @author qian.zhi
 */
public class TestQueue {
    public static void main(String[] args) {
        BlockingQueue queue = new PriorityBlockingQueue();
        Task task1 = new Task(2);
        Task task2 = new Task(1);
        Task task3

[2021-09-14 13:47] qianxun-jay opened #292 "项目中增加ttl以后，我的项目启动耗时增加将近20%"
不带ttl
验证次数 | 启动结果
第一轮    | Started ApiService in 25.349 seconds (JVM running for 26.404)
第二轮    | Started ApiService in 25.129 seconds (JVM running for 26.252)
第三轮    | Started ApiService in 25.87 seconds (JVM running for 26.978)

带ttl
验证次数 | 启动结果
第一轮 | Started ApiService in 30.301 seconds (JVM running for 32.121)
第二轮 | Started ApiService in 30.404 seconds (JVM running for 32.225)
第三轮 | Started Ap

[2021-09-15 03:34] wmq930626 opened #293 "java.util.ConcurrentModificationException"
![image](https://user-images.githubusercontent.com/38752290/133366233-4118050e-397c-4bc1-9ed4-3ca9961174fa.png)
![image](https://user-images.githubusercontent.com/38752290/133366297-20fe1df7-892a-4398-a297-ee6ed7b52b0c.png)
使用过程中，多线程开启任务时报错

[2021-09-15 06:45] Markkkkks commented on #293
java版本：java version "1.8.0_301"
ttl版本：2.12.1
操作步骤：
1. 线程池声明：
[code]
2. 提交任务
[code]
3.主线程获取任务结果
[code]
异常堆栈：
![企业微信截图_20210915143622](https://user-images.githubusercontent.com/17808209/133382984-2535a835-989b-4dde-b58c-9646ad9bf971.png)

[2021-09-15 08:53] wuwen5 commented on #293
与#220 重复，建议提供可复现的demo，运行时环境，确认是否引入其他第三方agent

[2021-09-16 05:56] oldratlee commented on #293
@wmq930626 你的业务逻辑实现，是不是在

- `com.alibaba.ttl.TransmittableThreadLocal#beforeExecute`
- `com.alibaba.ttl.TransmittableThreadLocal#afterExecute`

这2个业务回调（业务逻辑）中，有触发增减`TransmittableThreadLocal`的操作，如`TransmittableThreadLocal#remove`。

@wmq930626 请你排查确认一下，并给一下分析说明 与 结果。💕

-----------

虽然在业务回调（`beforeExecute`/`afterExecute`）有触发增减`TransmittableThreadLocal`的操作，
应该是不合理/可靠的操作；
但`TTL`抛异常的方式来反馈，感觉是值得优化的。
@wu

[2021-09-16 06:04] Markkkkks commented on #293
@oldratlee
我代为回答一下，业务逻辑中并没有做回调一下两个方法。堆栈中的错误是在`future.get();`这个代码中抛出的异常。
- com.alibaba.ttl.TransmittableThreadLocal#beforeExecute
- com.alibaba.ttl.TransmittableThreadLocal#afterExecute

目前猜测是否短时间内新建多个`ttlRunable`的时候,ttl框架在做threadLocal相关的拷贝时，在`TransmittableThreadLocal`的内部类`com.alibaba.ttl.TransmittableThreadLocal#holder`上发生了并发修改的问题？

[2021-09-16 06:21] Markkkkks commented on #293
在提交到`TtlRunnable`到线程池的时候，在`TtlRunnable`结束前有调用`com.alibaba.ttl.TransmittableThreadLocal#remove`做当前线程`Context`的清除，不知道是否是这个操作不合理

[2021-09-16 07:07] wuwen5 commented on #293
![image](https://user-images.githubusercontent.com/5037807/133565649-1bcd31bb-6c65-4389-bffc-7f07d4136599.png)

有个疑点，你的截图中的栈信息里面，```restoreTtlValues```方法与```doExecuteCallback``` 方法之间有一段置入代码，我看目前版本中不存在的，是否有使用agent修改过呢？

[2021-09-16 07:10] wuwen5 commented on #293
@oldratlee 你看下呢？这个正常么， 我翻代码看应该不存在```.access$400```这次调用，怀疑是不是被其他agent修改过？
![image](https://user-images.githubusercontent.com/5037807/133566439-2a942c09-e6d0-40b2-8932-bf46486940e0.png)

[2021-09-16 07:11] wuwen5 commented on #293
@Markkkkks 你确认有引入其他agent么？

[2021-09-16 07:14] Markkkkks commented on #293
启动参数里面仅有这个agent
-javaagent \IDEA-U\ch-0\212.5080.55\plugins\java\lib\rt\debugger-agent.jar

[2021-09-16 07:32] wuwen5 commented on #293
忽略我的疑问，栈信息没问题，那个是内部内调用产生的

[2021-09-16 08:52] oldratlee commented on #292
首先，你的`TTL`使用方式是  [2.3 使用Java Agent来修饰JDK线程池实现类](https://github.com/alibaba/transmittable-thread-local#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB) 吗？ @qianxun-jay
如果不使用`TTL Agent`，应该不会这么长的启动时长增加。

另外，你的数据说明有偏差。整理如下：

![image](https://user-images.githubusercontent.com/1063891/133581791-47c397ee-1d94-4b33-be6f-d68f192ff424.png)

[2021-09-16 13:40] oldratlee commented on #293
@Markkkkks  `TransmittableThreadLocal#holder`成员本身是个`ThreadLocal`，多个`ttlRunable`的修改是隔离的，不会有并发修改的问题。

在`TtlRunnable`结束前，调用`TransmittableThreadLocal#remove`，
即是在业务的`Runnable`逻辑中调用`TransmittableThreadLocal#remove`，是吧？

@Markkkkks  如果是，也是安全的。

[2021-09-16 13:49] oldratlee commented on #293
根据你上面提供的信息写了一个可以运行的验证demo，并发运行1万个`Runnable`并引入运行时间的随机性（demo代码附下面），
没有发现问题。

当然，这并不能说明 一定 没有 并发的`ConcurrentModificationException`问题。
只能概率上说明，上面提到的信息还不够有效复现。

----------------

[code]

[2021-09-16 14:06] oldratlee commented on #293
@Markkkkks @wmq930626
期望能从你这边出这个问题的业务代码中，
分离整理 一个可以（有较大概率）复现问题的极简Demo工程：❤️

  - 作为一个`github`工程，这样大家可以用来排查
  - 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的[`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)这个工程

否则：

- 涉及业务代码与流程，不方便有效分析与排查
- 也不能确定 可能是哪个使用方式 触发这个问题
   无论是`TTL`的问题 还是 业务使用方式问题，都一样值得排查确定掉。 😁

[2021-09-16 14:13] Markkkkks commented on #293
@oldratlee  是这种做法，谢谢回复与`test code`，了解这种处理方案是比较合适的，我尝试在业务代码中寻找不安全的并发操作 and 用剥离业务代码的`test code`复现这个问题。

另外根据堆栈的信息，是在`holder`的`WeakHashMap`的`fast fail`机制下触发的并发修改异常， 也无法从堆栈中快速发现可疑的并发操作。
1. 请问下是否能优化堆栈的报错信息
2. 除了demo代码外，框架中是否有其他操作or机制会调用这个`WeakHashMap`的put方法，导致在`iterate`这个`Map`的时候出现并发异常?

[2021-09-16 15:58] oldratlee commented on #293
这是个`JVM`的基础加强，
一方面业界我也没有发现简单的方案，实现不会简单的。
另一方面也不合适`TTL`来做。  @Markkkkks

`holder WeakHashMap`的变更方法（`put`/`remove`）
只会在`TransmittableThreadLocal`的`get/set/remove`方法中调用。

@Markkkkks 你可以通过`TransmittableThreadLocal`的源码再确认一遍。

[2021-09-17 07:00] #292 closed

[2021-09-17 13:15] oldratlee commented on #293
@Markkkkks `ConcurrentModificationException`这个问题在你的业务代码可以有一定的复现率（容易运行出来）吗？

@Markkkkks
从`TTL`自己应该只可能是下面这2个业务回引起，我改了测试版，你试一下？

[2021-09-18 02:57] oldratlee commented on #293
------------

修改好了，在分支[`expt/hotfix-293`](https://github.com/alibaba/transmittable-thread-local/tree/expt/hotfix-293)。

@Markkkkks `mvn install -Dmaven.test.skip`安装到本地，使用`TTL`版本`2.12.2-SNAPSHOT`试一下

[2021-09-18 02:58] Yelijah commented on #205
Thanks！

[2021-09-18 02:58] #205 closed

[2021-09-18 02:59] Markkkkks commented on #293
好的😊，我试试

[2021-09-18 04:07] oldratlee commented on #293
还是一个可能是`TransmittableThreadLocal`被 GC 了。

当然还要进一步确认 `WeakHashMap`在遍历过程中，`Key`被 GC 了，会不会导致`ConcurrentModificationException`异常。

[2021-09-19 04:56] oldratlee commented on #293
测试了吗，结果如何？ 😄    @Markkkkks

[2021-09-21 08:30] oldratlee commented on #293
写了测试`Demo` 实证：
`WeakHashMap`在遍历过程中，`Key`被 GC 了，并不会导致`ConcurrentModificationException`异常。 @Markkkkks

### Demo代码：

https://github.com/oldratlee/HelloKt/blob/16ea1b7b3da2f1aaecfd31ac5b71490c48c91118/src/test/kotlin/playground/weakhashmap/WeakHashMapGcIteration.kt#L22-L34

### 一次运行结果

[code]

[2021-09-23 08:29] Markkkkks commented on #293
使用hotfix版本的ttl，这个问题没有重现了，打断点观察了下数据

[2021-09-23 08:40] Markkkkks commented on #293
使用hotfix版本的ttl这个问题没有重现了，thanks a lot @oldratlee

业务代码中，在子线程`future`中调用了`remove`方法，同时主线程使用了`future.get( )`方法，可能是这个原因导致的`ConcurrentModificationException`，我尝试复现下。

[2021-09-27 08:47] JasonMing opened #314 "是否能支持对原生ThreadLocal的全量捕获？"
TTL当前实现是通过侵入用户代码，让用户通过 `TransmittableThreadLocal` 类将上下文全部设置到TTL内的`ThreadLocal`，从而实现对特定的`ThreadLocal`进行单点捕获。

有没有可能直接对 [`Thread`](https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/lang/Thread.java) 对象内的 [`threadLocals`](https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/lang/Thread.java#L181-L183)/[`inheritableThreadLocals`](https://github.com/open

[2021-09-27 09:08] Razor0719 opened #315 "TransmittableThreadLocal override static java.lang.ThreadLocal#withInitial method"
when I use the TransmittableThreadLocal first, I use it with code below:

[code]

and then I use ttl javaangent with the program, and found the value in ttl was never transfer into the sub thread,
suddenly, I find the method 'withInitial()' is not override in TransmittableThreadLocal but construct a SuppliedThreadLocal which is extended from ThreadLocal

can TransmittableThreadLocal override this

[2021-09-27 18:27] oldratlee commented on #315
Good point!

I add the `TransmittableThreadLocal.withInitial()` method and release a new version these days.

Thanks for your professional suggestion. @Razor0719

[2021-09-27 18:44] oldratlee commented on #314
`Agent`的实现方式确实可以做得更进一步。 @JasonMing

我先想一下，
全量捕获/直接支持所有使用原生 ThreadLocal API，
可能有风险（毕竟是全量修改） 和 解决方法。

[2021-09-28 16:29] oldratlee commented on #315
@Razor0719 released `v2.12.2`

https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.2

[2021-09-28 16:29] #315 closed

[2021-09-28 16:32] oldratlee commented on #293
发布了`v2.12.2`，包含了这个`hotfix`的修改。
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.2

-----------------

这个Issue 先关闭了；如果复现问题，随时 Reopen。 @Markkkkks @wmq930626

[2021-09-29 01:07] Razor0719 commented on #315
thanks a lot!

[2021-09-29 08:47] wanglun02 opened #316 "对于应用对象的支持"
比如一个set集合，从父的想copy到多个子线程，子线程会对set有操作，期望支持深拷贝的set，而不是引用对象

[2021-09-29 15:33] oldratlee commented on #316
@wanglun02  已经支持了，通过`copy`方法，见文档说明：

### 示例代码：

[code]

https://github.com/oldratlee/HelloKt/blob/a322acb8e54a30f458ef979176d774569e2a96cc/src/test/kotlin/playground/ttl/TtlCopyDemo.java#L19-L25

[2021-10-10 04:43] zhuyixiang opened #317 "Java11 JVM Crash. Is anyone using java??"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x000000010a119f97, pid=56172, tid=77831
#
# JRE version: Java(TM) SE Runtime Environment 18.9 (11.0.8+10) (build 11.0.8+10-LTS)
# Java VM: Java HotSpot(TM) 64-Bit Server VM 18.9 (11.0.8+10-LTS, mixed mode, tiered, compressed oops, g1 gc, bsd-amd64)
# Problematic frame:
# V  [libjvm.dylib+0x519f97]  Klass

[2021-10-11 02:55] zhuyixiang commented on #317
no clue. use java11 our app running well. when add ttl agent param, after spring boot loading,  the app crash suddenly

[2021-10-15 02:29] Aresxue opened #320 "v2.13.0-Beta1: TtlExtensionTransformletManager中collectedClassLoaderHistory所对应的WeakHashMap会因为gc导致死循环造成cpu空转100%"
应用接口使用了`jackson`的`ObjectMapper`，其内部序列化使用了反射机制：

![image](https://user-images.githubusercontent.com/22526463/137422404-0677b9c9-3f07-4fdc-869d-75c8dddd57aa.png)

反射时`jvm`会创建`sun.reflect.DelegatingClassLoader`。

在流量高峰时，
![image](https://user-images.githubusercontent.com/22526463/137422524-b17f64f8-0059-4a83-9e42-9e5873e0bf22.png)
![image](https://user-images.githubusercontent.com/22526463/137422542-

[2021-10-15 04:19] oldratlee commented on #320
问题收到。

`TtlExtensionTransformletManager` 是 `v2.13.0-Beta1`这个**测试**版本的内容，还在实现中，。
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.13.0-Beta1

使用正式版本：`v2.12.2`，尤其线上环境。  @Aresxue
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.2

---------

你有需要`v2.13.0-Beta1`才有功能的需求吗？ @Aresxue

[2021-10-15 06:03] Aresxue commented on #320
没有高级功能的需求，这边后续会回退到v2.12.2

[2021-10-18 08:18] StrongBanana opened #321 "TransmittableThreadLocal.Transmitter#restore 方法是否会导致内存泄漏？"
`restore`方法最终会调用到`ThreadLocal.set()`，之后没有主动调用`remove`；是否会因此产生内存泄漏？

[2021-10-18 10:10] StrongBanana commented on #321
![image](https://user-images.githubusercontent.com/19589503/137711085-987f0831-fc1b-4fcd-bca6-7a3714ee8c6e.png)
如图，restoreTtlValues方法remove的是当前线程基于backup新增的变量，对于backup的变量会和当前线程进行绑定（setTtlValuesTo）；那么在执行完setTtlValuesTo后，如果当前线程和调用线程并不是同一线程（因为使用CallerRunsPolicy拒绝策略或ForkJoinPool导致调用线程和被调用线程数同一个）的情况下，那么会发生内存泄漏吗？

[2021-10-20 11:31] oldratlee commented on #321
内存可以测试到；当然测试 不能替代 基于代码的分析。

你继续完成 基于的代码分析，最后形成结论？ @StrongBanana 💕  💪

你的这个问题，可能分析完代码是一个最可信的方式，用文字表述出来变成文字或文章，要不少时间～ 😸

--------------

如果分析过程有困难，可以看看 [小伙伴同学们写的 设计实现解析文章（写得都很好！ ）❤️ #123](https://github.com/alibaba/transmittable-thread-local/issues/123#issuecomment-476709456)。  @StrongBanana

其中涉及设计与实现分析的，已经有几十篇文章了。

[2021-10-24 06:59] #321 closed, assigned to oldratlee

[2021-11-04 06:49] miniyk2012 commented on #320
妹子挺美的

[2021-11-17 00:51] wpstan opened #327 "TTL与ThreadPoolTaskExecutor的setTaskDecorator区别"
spring线程池ThreadPoolTaskExecutor的setTaskDecorator方法可以对runnable进行装饰，也可以进行异步上下文数据传递。

请问一下，TTL相比ThreadPoolTaskExecutor的优点。

[2021-11-17 02:25] simake2017 commented on #234
我也出现了这个问题

[2021-11-17 15:58] oldratlee commented on #327
你看看 文档 [使用TTL的好处与必要性](https://github.com/alibaba/transmittable-thread-local#-%E4%BD%BF%E7%94%A8ttl%E7%9A%84%E5%A5%BD%E5%A4%84%E4%B8%8E%E5%BF%85%E8%A6%81%E6%80%A7) ，是不是有回答你想问的。

[2021-11-23 13:54] #327 closed

[2021-11-28 04:55] kaneg opened #329 "可不可对原生的ThreadLocal起作用？"
项目负责人你好：
我有一个项目，我能控制线程池和Runnable的创建，但我没法让其他人把ThreadLocal替换为TransmittableThreadLocal，请问有没有办法可以用你们的方案来达到效果？谢谢。

[2021-11-28 06:28] oldratlee commented on #329
`TTL`提供了`Transmitter.registerThreadLocal*`方法用于让`ThreadLocal`支持`Transmittable`能力。

@kaneg 你可以了解一下。

[`Transmitter JavaDoc`](https://alibaba.github.io/transmittable-thread-local/apidocs/2.12.2/com/alibaba/ttl/TransmittableThreadLocal.Transmitter.html)：

![image](https://user-images.githubusercontent.com/1063891/143732048-e912fc13-5600-4971-a733-c33f38a90667.png)

[2021-11-28 13:15] kaneg commented on #329
@oldratlee 谢谢你的快速回应。
用Transmitter的register的确可以达到我期望的效果。不过有一点缺憾，就是thread local变量被别人封装为private了，目前在没有更好的方案之前，我用反射也是可以拿到的。

[2021-11-28 14:27] oldratlee commented on #329
『thread local变量封装为private』，所以自然需用hack的方式获取。
反射应该是最简单的获取方法了。  @kaneg

[2021-11-28 14:27] #329 closed

[2021-11-28 14:35] oldratlee commented on #329
@kaneg 可以介绍一下你的场景、需求、问题吗？ ❤️
方便大家可以了解学习。

[2021-11-29 03:48] outh0527 opened #330 "ClassCastException(TtlRunnable cannot be cast to Comparable) when use PriorityBlockingQueue with ThreadPoolExecutor"
### 问题：

使用TTL，异常：`com.alibaba.ttl.TtlRunnable cannot be cast to java.lang.Comparable`

### 场景：

1. 业务代码：

[code]
2. 使用`TtlAgent`的方法来修饰jdk线程池。

### 描述：

`TtlRunnable`没有实现`Comparable`接口，当业务代码中在初始化线程池时，使用的是`PriorityBlockingQueue`优先级队列，业务`task`也实现了`Comparable`接口。

当线程池往阻塞队列里面放任务时，会调用`java.util.concurrent.PriorityBlockingQueue#siftUpComparable`方法，`Comparable<? super T> key = (Comparable<? super T>) x;

[2021-11-29 04:53] oldratlee commented on #330
简单的回答：线程池与PriorityBlockingQueue配合的使用时，要注意wrap任务的操作。比如要重写PriorityBlockingQueue的比较逻辑。@outh0527

线程池自己的submit方法（wrap成FutureTask）、TTL线程池方法（wrapp成TtlRunnable），都不能直接使用。

已有的Issue:

- #290
- #178

[2021-11-29 07:09] outh0527 commented on #330
嗯嗯，明白你的意思，业务在线程池与PriorityBlockingQueue配合的使用时，提交的任务是已经重写PriorityBlockingQueue的比较逻辑，如果不接入agent，业务是没有问题的，而我们在agent中使用到了TTL Agent，对业务是无感知，加入agent后，业务的runnable被wrap成了TtlRunnable，就会抛ClassCastException，这对业务方来说是不可接受的，不能要求他们去改业务代码，这样推广难度比较大，可否在TtlRunnable和TtlCallable中实现Comparable接口呢，比较的逻辑还是业务自己实现。
![image](https://user-images.githubusercontent.com/86814310/143823078-2243c206-2a02-4a8a-a671-93da177e8956.png

[2021-11-29 09:33] oldratlee commented on #330
这个做法 在方案上 不少不完备的地方。即潜在的坑。

----------

当然，你可以 拉`TTL`的代码 Build 一个`TTL Jar`（`mvn install`），用你这个方法，快速解决你的问题。 @outh0527

注意：基于稳定版本的Tag `v2.12.2`。

[2021-12-02 06:52] StephenQi0217 commented on #173
我之前在项目里也遇到了类似的问题，然后自己根据ThreadPoolTaskExecutor，实现了一个TtlThreadPoolTaskExecutor。一开始想对ThreadPoolTaskExecutor底层的executorService进行包装，后来发现它未对外暴露，这个想法不成立。那我们就着手在执行时进行包装，复写它的execute(),submit()等方法。具体如下，实现起来很简单：
[code]
@oldratlee @liauraljl

[2021-12-02 08:46] yangzhiw opened #331 "agent模式添加启动"
agent,在启动项中添加了
`-javaagent:/path/to/transmittable-thread-local-2.12.2.jar`

然后启动错误

[code]

[2021-12-02 14:06] kaneg commented on #329
@oldratlee 我们的项目是一个基于Spring Boot的微服务。我们使用了其他部门的一些依赖库，这些依赖库中大量使用了ThreadLocal来传递参数，例如用户的id，http 的请求参数等等。但是我们在自己的代码中用了CompletableFuture来异步调用后台的API, 就导致在子线程中没法拿到用户id等信息. 你们这个库恰恰就解决了我们的痛点.

[2021-12-03 04:15] oldratlee commented on #331
给一下可以复现问题的github repo，方便大家排查 @yangzhiw

[2021-12-03 10:35] yangzhiw commented on #331
我把 -javaagent:/path/to/transmittable-thread-local-2.12.2.jar 路径换成绝对路径就好了，/path/to就是是要引入这个jar的觉得路径的意思么？

[2021-12-03 11:24] oldratlee commented on #330
`TTL`提供了通用实现。没有改`TTL`的核心类（如`TtlRunnable`）。

发布了`v2.12.3-RC1`：  @outh0527
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3-RC1

[2021-12-03 11:26] oldratlee commented on #290
`TTL`提供了通用实现，没有改`TTL`的核心类（如`TtlRunnable`）。发布了`v2.12.3-RC1`：  @KevinQian
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3-RC1

------------

更多讨论 参见：

- #330

[2021-12-03 11:26] #290 closed

[2021-12-03 11:27] oldratlee commented on #178
`TTL`提供了通用实现，没有改`TTL`的核心类（如`TtlRunnable`）。发布了`v2.12.3-RC1`：  @wangchongya
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3-RC1

------------

更多讨论 参见：

- #330

[2021-12-03 11:58] oldratlee commented on #331
问题解决就好～  @yangzhiw

如何配置`javaagent`，你找一下资料，比如看官方文档：

- [`Java Agent`规范 - `JavaDoc`](https://docs.oracle.com/javase/10/docs/api/java/lang/instrument/package-summary.html#package.description)
- [JAR File Specification - JAR Manifest](https://docs.oracle.com/javase/10/docs/specs/jar/jar.html#jar-manifest)
- [Working with Manifest Files - The Java™ Tutorials](https://docs.oracle.com/javase/tutorial/de

[2021-12-03 11:58] #331 closed

[2021-12-09 12:39] chen-shu-hao opened #333 "2.12.1版本 NPE 在父子线程情况下 ThreadLocal<Map<String, String>> holder = new TransmittableThreadLocal<>() 新增map中的key值 会导致原有key对应的value值为null,一定概率出现空指针"
NPE 在父子线程情况下 ThreadLocal<Map<String, String>> holder = new TransmittableThreadLocal<>() 新增map中的key值 会导致原有key对应的value值一定概率丢失为null,出现空指针

[2021-12-10 14:54] oldratlee commented on #333
@chen-shu-hao 请给一下

- 问题的信息：如NPE的栈、你的使用方式 等等
- 复现问题（概率）的Git代码Repo

方便大家跟进与排查。

[2021-12-13 08:19] xyc0123456789 commented on #278
window10环境，jvm版本
[code]
我在cmd中使用`java -Dfile.encoding=utf-8 -Xbootclasspath/a:C:/mvn_repository/com/alibaba/transmittable-thread-local/2.12.1 -javaagent:C:/mvn_repository/com/alibaba/transmittable-thread-local/2.12.1/transmittable-thread-local-2.12.1.jar -jar hello-1.0.0.jar`命令启动jar包也遇到了类似的循环依赖的问题；变更transmittable-thread-local版本为2.10.2，便不会再命令行遇到这个错误；在idea中配置2.12.1版本或者2.10.2的上述同样的vm options，也没有遇到循环依

[2021-12-16 02:01] chen-shu-hao commented on #333
1.是第一种,holder是我们项目里的context,不是您说的TransmittableThreadLocal.holder
2.确实我使用的是hashmap,没有使用线程安全的map,在主线程中给holder中的map赋完值后,去子线程中给map put了新值（这个值是我想往下传递的值,但是每个线程里生成的value不一致,所以我给一个固定的key值前面加了当前线程名称作为前缀,企图在接下来的流程中,每个线程取到自己的value值,然而在每个线程中put了多次这个key值后,map中原有的key值就出现了value为null的情况）
3.现在我解决了这个问题,重新定义了一个新的TransmittableThreadLocal,没有使用主线程的TransmittableThreadLocal

[2021-12-16 04:58] oldratlee commented on #333
@chen-shu-hao 解决了问题就好。❤️

这个 Issue 先 Close 了。如果问题可以继续讨论。

[2021-12-16 04:58] #333 closed

[2021-12-18 13:45] oldratlee commented on #234
@kun1988 发布了`v2.12.3`
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3

包含这个问题的修复；可以试试对于你的情况，是不是解决了？ ❤️

[2021-12-18 13:46] oldratlee commented on #278
@linfan 发布了`v2.12.3`
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3

包含这个问题的修复；可以试试是不是解决问题了？ ❤️

[2021-12-19 13:24] oldratlee commented on #330
发布了 `v2.12.3` @outh0527

https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.3

[2021-12-19 13:24] #330 closed

[2021-12-20 02:43] xyc0123456789 commented on #278
刚刚验证了一下，2.12.3没有再出现前面的循环依赖的问题了。
我注意到在之前的环境下，cmd中使用
`java -Dfile.encoding=utf-8 -Xbootclasspath/a:C:/mvn_repository/com/alibaba/transmittable-thread-local/2.12.1 -javaagent:C:/mvn_repository/com/alibaba/transmittable-thread-local/2.12.1/transmittable-thread-local-2.12.1.jar -jar mdc-ttl-server-1.0-SNAPSHOT.jar`命令启动会出现循环依赖，而`java -Dfile.encoding=utf-8  -javaagent:C:/mvn_repository/com/alibaba/transm

[2021-12-20 04:30] oldratlee commented on #278
@xyc0123456789 谢谢你的验证。👍

[2021-12-20 14:13] #278 closed

[2021-12-21 03:38] ocean-wll commented on #169
我们是做压测产品，需要使用ttl对线程池中的数据进行传标。
我们想把我们的产品封装成一个jar包，可以像arthas-boot那样去动态attach agent。
对ttl的处理方式是通过手动调用 TtlAgent.premain() ，但是发现不会对已经创建了的Runnable进行增强了。
所以对这一块的处理有什么好的建议吗

[2021-12-21 03:52] Gary2Luke opened #335 "使用Java Agent，可否支持下 netty的线程池增强"
代码：

[code]

[2021-12-22 08:49] Eat-Sleep-HitBean commented on #286
你用的线程池是文档指定的线程池么？没看到你修饰线程池的代码，官方文档：[修饰线程池](https://github.com/alibaba/transmittable-thread-local#22-%E4%BF%AE%E9%A5%B0%E7%BA%BF%E7%A8%8B%E6%B1%A0)

[2021-12-23 18:38] happyomg commented on #293
我今天也遇到了这个报错。我这边的case是能够稳定复现。

先说最后排查结论：**业务方在二方包里实现了TTL的 beforeExecute 和 afterExecute 方法，并在该方法里触发了addValue()和removeValue()，最终导致了ConcurrentModificationException异常的发生。**

以下是我的排查过程：

1. 观察错误堆栈，完全看不出来哪里触发的，具体错误堆栈如下：

[code]

2. 研读TTL代码，反复确认，发现在ttl内部是没有泄露 `hold` 持有的 `WeakHashMap` 对象，基本确认TTL不应该出现线程不安全的问题
3. 出现该类报错几乎只应该在 `beforeExecute()`、`afterExecute()` 内，且调用到了 `addValue()`和`removeValue()` 两个方法（因为除了反射

[2021-12-24 05:35] happyomg commented on #293
跟 @zavakid 讨论了一种可能的检测方式：
在调用 `beforeExecute` 和 `afterExecute`  之前，将对应`TTL实例`标记一个`in iterator` 的状态；然后在 `addValue` 和 `removeValue` 这类可能触发 `ConcurrentModificationException` 的方法里判断当时是否处于 `in iterator` 状态，如果是，则抛异常出来，这样会比文档的约束效果更强，而且也能记录到调用堆栈的信息，方便用户直观找到问题所在。

[2021-12-25 03:19] aeroyu opened #338 "使用jrebel -javaagent方式启动，在stream().parallel()无法正确获取内容"
如题

[2021-12-28 01:47] simake2017 opened #340 "如果 用户重写阻塞队列 offer方法，这种情况能够兼容么"
![image](https://user-images.githubusercontent.com/31234273/147518765-3cdc28ad-91de-4114-bfa0-e6609801eb65.png)

这里用户重写了一个阻塞队列，然后重写了put和offer方法，里面进行了强制转换，这种现在能兼容么

[2021-12-28 03:12] oldratlee commented on #340
@simake2017 给一个可以说明/复现问题的、极简可运行的Demo工程：❤️

- 作为一个`github`工程，方便大家了解问题与排查解决
- 推荐 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的工程 [`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)

----------------

类似的类型问题，在`PriorityBlockingQueue`中解决过：

- https://github.com/alibaba/transmittable-thread-local/issues/330
- 发布在版本 v2.12.3：
ht

[2021-12-28 03:42] chenqiaole opened #341 "v2.12.2 Already TtlCallable异常"
![image](https://user-images.githubusercontent.com/48151459/147525191-8e7a4875-ae28-4481-90d5-c7069895d8fa.png)
版本号v2.12.2
使用方式
![image](https://user-images.githubusercontent.com/48151459/147525632-89516c4f-aaa4-417d-a633-00d7c5f719be.png)
![image](https://user-images.githubusercontent.com/48151459/147525654-16f511bc-94f8-413b-ad11-c1e32bc3a00e.png)
会一直报 Already TtlCallable异常  能不能帮忙看看这个是什么问题 看了下

[2021-12-28 03:42] simake2017 commented on #340
是这样的，用户自己写了一个阻塞队列，然后在创建 ThreadPoolExecutor 的时候，使用了自己的阻塞队列，阻塞队列中，又重写了 put以及offer方法，方法内容如上图，里面会进行强转，也就是将TtlRunnable 转为自己的Runnable子类，就会爆出 ClassCastException , 可运行demo，稍后给出，问题应该比较清楚地。

[2021-12-28 04:53] oldratlee commented on #341
@chenqiaole 给一个可以说明/复现问题的、极简可运行的Demo工程；推荐 ❤️

- 作为提交成一个`github repo`，方便大家运行以了解、重现问题与排查解决
- 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的工程 [`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)

[2021-12-28 05:44] oldratlee commented on #340
编码的解决方法，已经有的：

先对`Runnable`参数做`TtlRunnable.unwrap(runnable)`。

写了一个说明问题的、极简可运行的Demo：

https://github.com/alibaba/transmittable-thread-local/blob/0f9bff4e53c3c9463e1a5514b3ee21433139ca74/src/test/java/com/alibaba/demo/ttl/CustomizedBlockingQueueWithTtl.java#L45-L75

[2021-12-28 06:17] oldratlee commented on #338
首先，配置`TTL Agent`在最前的位置，可以避免与其它其它`Agent`配合使用时，`TTL Agent`可能的不生效问题。  @aeroyu

-------------

另外，给一个可以说明/复现问题的、极简可运行的Demo工程 ❤️；推荐：

- 提交成一个`github repo`，方便大家运行以了解、重现问题与排查解决
- 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的工程 [`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)

有一个可以说明/复现问题的、极简可运行的Demo工程，也可以排除可能的使用问题，

[2021-12-28 11:34] chenqiaole commented on #341
后面我看看能不能提个复现的demo出来   但是抛这个异常可能是什么原因导致的呢   TtlExecutors.getTtlExecutor我看idempotent幂等的默认值都是true
![image](https://user-images.githubusercontent.com/48151459/147562084-5b7a0791-2b40-410b-ba43-3734443e88b9.png)
这个值可能是哪里被改了吗

[2021-12-28 11:39] xuyikai1 commented on #341
我前阵子也碰到了，大佬有思路嘛，这几天瞅瞅能不能复现

[2021-12-28 13:58] oldratlee commented on #341
可以看代码。

代码是没有 直接改的地方的。   @chenqiaole
（非直接改的方式，是指 比如 反射）

[2021-12-28 13:59] xuyikai1 commented on #341
这是一封自动回复邮件。已经收到您的来信，我会尽快回复。

[2021-12-28 14:01] oldratlee commented on #341
@xuyikai1 @chenqiaole

个人觉得，如果是`TTL Agent`的使用方式，一个比较可能的原因是：

生效的`TTL`的版本

- 是由`-javaagent:path/to/transmittable-thread-local-2.x.y.jar` 指定`TTL Jar`的版本
- 而不是应用中使用`TTL Jar`的版本

[2021-12-29 17:50] oldratlee commented on #293
@happyomg

『doc上加上一些明显的提示』

赞成！
容易出问题的地方 值得说明出来。

『掩盖用户错误实现( `ConcurrentModificationException`本身就是为了`fail-fast`，帮助用户发现bug )，并且还可能跟用户的预期不符（比如导致某些TTL丢失或者多传了）』

赞成！
有问题不能`fail-fast`/掩盖问题 是不好的设计！
`v2.12.2`中对于这个`ConcurrentModificationException`问题修复方式，过于 Quick 这些问题没有想得清楚。

-------------

@happyomg @zavakid

在`addValue`、`removeValue`这样方法中，检测并提示有问题或风险的业务使用做法，
包含了业务调用栈，能直接定位于业务使用的问题点，非常方便了问题的排查～ 非常COOL～

[2021-12-30 09:48] liudaolunboluo opened #343 "TTL在ForkJoinPool线程池中失效"
[code]
以上代码里，在子线程中TTL 只有一个子线程能在ttl中拿到值，其他的为null。

[2021-12-30 11:03] liudaolunboluo commented on #343
[code]
以上代码我在main方法里可以取出ttl里的内容，但是放在我的service方法里就不行了

[2021-12-31 02:57] zavakid commented on #293
cool！ 确实要做这个决定的前提是要确定清楚 TTL **本身支不支持**在 回调的方法(beforeExecute和afterExecute)中调整增减TTL实例，更进一步是，站在用户角度上，**在用户需求上，**是否有这个需要，值得好好分析。

我也还不确定用户在这个场景做了这样的事情，他的初始预期是什么？现在还缺少这样的信息。也需要 @wmq930626 @Markkkkks @happyomg 提供一下场景的使用初衷，虽然并不能代表全部用户，但还是能提供一下输入，也能一起帮助对设计做出更好的判断。

同时，我认为还有一点需要注意，TTL 一般都是被底层中间件或者作为很基础的横向组件在使用，在修改时必须要考虑向前的兼容性，既然 `v2.12.2` 中已经修复（或者说已经不让这个异常发生），现在突然直接 fastfail，这会让跑在 `v2.12.2` 的应用场景中可能突然故障。所以

[2021-12-31 06:34] liudaolunboluo commented on #343
抱歉，前面的说的有点乱。以下代码：
[code]

[2021-12-31 08:08] oldratlee commented on #343
`Parallel Stream`（`Stream.parallel()`）的支持 需要 [2.3 使用Java Agent来修饰JDK线程池实现类](https://github.com/alibaba/transmittable-thread-local/blob/2aa5228a49b998f843f51ba61b77a9dc00d87dd3/README.md#23-%E4%BD%BF%E7%94%A8java-agent%E6%9D%A5%E4%BF%AE%E9%A5%B0jdk%E7%BA%BF%E7%A8%8B%E6%B1%A0%E5%AE%9E%E7%8E%B0%E7%B1%BB)。

文档上，只是 **`2.3`节** 说到了`Stream`的支持。  @liudaolunboluo

[2021-12-31 08:24] oldratlee commented on #343
整理了可运行并复现问题的代码。 @liudaolunboluo

- 复现问题：第一次运行就不对。
- 代码缩进/换行也调整好了，方便阅读。

[code]

[2021-12-31 08:26] #343 closed

[2021-12-31 08:57] liudaolunboluo commented on #343
感谢大哥，这个是原来项目的老代码，这个代码目前线上运行没有问题，然后最近突然在测试环节报错了，就很疑惑，我现在跟代码发现的是parallel会用到ForkJoinPool.commonPool里的线程即使我显式的指定了线程池，ForkJoinPool.commonPool里的线程貌似不会被TtlRunnable包裹去执行复制threadlocal里的代码，所以导致了没有值，这个不会走TtlRunnable里的代码所以要用java agent才能实现，那为啥ForkJoinPool.commonPool里的线程不会走TtlRunnable里的代码呢

[2021-12-31 09:08] oldratlee commented on #343
不是`ForkJoinPool.commonPool`，而是`Parallel Stream`即`Stream.parallel()`不会走`TtlRunnable`里的代码。

简单地说，没有写Wrap `TtlRunnable`的逻辑，
`Stream`的`API`没有设置入口，所以`API`没有办法做。

具体你看看代码吧。 @liudaolunboluo

[2021-12-31 09:13] liudaolunboluo commented on #343
谢谢大哥，我自己后面再研究一下。

[2022-01-03 15:02] oldratlee commented on #340
@simake2017 这个 Issue 先 close。如果还有问题，可以继续讨论。

[2022-01-03 15:02] #340 closed

[2022-01-03 15:04] oldratlee commented on #341
@xuyikai1 @chenqiaole 这个 Issue 先 close。如果有了复现的 demo，随时 reopen 继续讨论。

[2022-01-03 15:04] #341 closed

[2022-01-03 15:07] oldratlee commented on #338
@aeroyu
这个 Issue 先 close；如果有了复现的 demo，随时 reopen 继续讨论。

[2022-01-03 15:07] #338 closed

[2022-01-04 12:17] wangfengchao opened #346 "MDC操作出现ConcurrentModificationException"
在程序里把父线程的MDC内容赋值给子线程过程中，出现java.util.ConcurrentModificationException ，各位大佬看下是否因为HashMap操作存在并发问题。
![image](https://user-images.githubusercontent.com/10843363/148057828-7f4eec4c-726c-4b14-9b90-18098fa0055f.png)

![image](https://user-images.githubusercontent.com/10843363/148057547-8fe84797-f3bb-4892-9d3f-85fdbccfd272.png)

[2022-01-04 13:21] oldratlee commented on #346
@wangfengchao 这个`MDC`看起来是，你应用中使用`TTL`的功能实现逻辑。

对于并发逻辑的实现，往往需要有完整的信息，才能对不同的路径分析，
进而确定并发设计是否合理。

[2022-01-04 13:23] oldratlee commented on #346
@wangfengchao  给一个可以说明/复现问题的、极简可运行的Demo工程 ❤️；推荐：

- 提交成一个`github repo`，方便大家运行以了解、重现问题与排查解决
- 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的工程 [`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)

有一个可以说明/复现问题的、极简可运行的Demo工程，也可以排除可能的使用上的问题。

[2022-01-06 03:27] oldratlee commented on #173
目前看来`Spring的ThreadPoolTaskExecutor`可以不用额外的支持：

- `API`方式 可以用有的`TTL ExecutorService Wrapper`方法
- `Agent`方式 可以正常工作。

这个 Issue 先 close 了。

[2022-01-06 03:27] #173 closed

[2022-01-06 10:07] liuyq913 commented on #333
private static TransmittableThreadLocal<Map<String, String>> transmittableThreadLocal = new TransmittableThreadLocal();
子线程修改了transmittableThreadLocal里面某个值， 会透传到主线程里面

[2022-01-06 10:19] oldratlee commented on #333
是的。缺省传递引用。

可以定制传递方式，参见文档。 @liuyq913

[2022-01-08 02:25] HuangDayu opened #349 "线程池中出现数据丢失或数据重用的情况"
你好，使用场景是这样的。业务上存在一个或者多个线程池，每一个线程池的任务会创建新的线程任务，任务可能是跨线程池的，也可能是在同一个线程池中。问题是出现了数据丢失或者旧数据重用的情况，在任务多的情况下出现的更加频繁。
[code]
这个输出结果：
[code]

可以看到，第0次和第1次的数据被重用了，而第8次和第9次的数据则丢失了。

[code]

这一次结果也可以看到，第0次和第1次的数据交叉重用，而第8次和第9次的数据也丢失了。

这似乎是一个必现的问题，是不是我没有手动remove的问题，还是使用的方式存在问题，请赐教，谢谢。

[2022-01-08 02:47] HuangDayu commented on #349
找到了问题的原因，在于没有使用装饰后的线程池对象，而是使用了旧的对象。

[code]

建议在文档中显著表明一下。:wink:

[2022-01-08 10:41] #349 closed

[2022-01-10 18:30] #207 closed

[2022-01-10 18:34] oldratlee commented on #346
@wangfengchao

这个 Issue 先 close；如果有了复现的 demo，随时 reopen 继续讨论。

[2022-01-16 15:49] oldratlee commented on #45
因为有持续集成的测试覆盖，TTL的功能是正确的；
（再加上这个分析比较困难费力）

这个 Issue close 了。

[2022-01-16 15:49] #45 closed

[2022-01-16 15:55] oldratlee commented on #40
对于线程池不同的使用方式，通过在业务`Runnable/Callable`的debug/打印异常的调用栈，可以确认 有没有多次冗余的TTL的修饰。

[2022-01-28 07:31] wangkang09 opened #354 "问下 最新版 agent 支持 jdk17 吗"

[2022-01-28 07:35] oldratlee commented on #354
支持的。

`jdk17`一直包含在持续集成中，且是成功的。 @wangkang09

[2022-01-28 07:37] #354 closed

[2022-03-03 10:20] HuangDayu commented on #282
[code]
@oldratlee 你好，我将`TTL`作为一个公共静态常量使用，应用全局使用该常量，然后也将线程池的ThreadFactory 设置为了`TtlExecutors.getDefaultDisableInheritableThreadFactory()`，但是依然存在线程安全问题。

问题表现为，在Spring EventBus的使用中，高并情况下，事件发布者（A线程池）设置TTL的值，事件消费者（B线程池）消费新事件时，常出现TTL获取到了旧事件的值，事件并发越高，问题越严重，如果不是高并发则不出现该问题。尝试过-javaagent装饰线程池的方式，也与手动装饰的方式一同使用，但是依然存在该问题。

问题是否跟`static`和`final`的线程安全性有关？ConcurrentMap应该是安全的。

由于业务相对复杂，但是我尝试用测试用例复现，缺没能复现出来   😭 ，

[2022-03-03 17:32] oldratlee commented on #282
@HuangDayu 独立的问题，请开个独立的 issue。

------------------

上面你列的这些前提，如

- 将`TTL`作为一个公共静态常量使用
- 将线程池的ThreadFactory 设置为了`TtlExecutors.getDefaultDisableInheritableThreadFactory()`
- `-javaagent`装饰线程池的方式 or 手动装饰的方式
- `ConcurrentMap` 是安全的
- ...

并不能保证，你在业务中取得独立在业务中你认为 新值或旧值。

『并不能保证』的 其中一个简单示例说明 就是，

- `TTL`值被一段不在你意料中的逻辑 改写了。
- 如果不能排除『`TTL`值会被一段不在你意料中的逻辑改写』，因为逻辑不完整，不能得到结论。 @HuangDayu

[2022-03-04 03:52] HuangDayu commented on #282
@oldratlee 你好，我已参照[TtlMDCAdapter](https://github.com/ofpay/logback-mdc-ttl/blob/master/src/main/java/org/slf4j/TtlMDCAdapter.java) 解决了该问题，非常感谢你的解答，谢谢。

[2022-03-08 02:04] fzdwx opened #361 "TTL Agent的使用方式下，PriorityBlockingQueue（非PriorityBlockingQueue<Runnable>）抛出ClassCastException"
就是powerjob worker（应用）启动的时候会初始化一个h2数据库

![image](https://user-images.githubusercontent.com/65269574/157151363-da404c7b-fbbc-4084-add9-969313f5a47d.png)
![image](https://user-images.githubusercontent.com/65269574/157151466-a2c6c4a6-45ef-4557-8769-f92e1c4064be.png)
![image](https://user-images.githubusercontent.com/65269574/157151482-524ef689-62ba-4f30-9807-37bafb93adc6.png)

### 具体报错

[code]

请问有没有办

[2022-03-08 03:03] fzdwx commented on #361
2.就为什么我再主线程中remove了，但是其他的线程还是能获取到值？并且这个线程还是一个早就启动了的线程，比如说rocketmq中的RocketmqRemoting
![8CFF200C-24FC-4d0f-BF62-868C4FD98660(1)](https://user-images.githubusercontent.com/65269574/157158108-88d81654-8a1e-4d82-b73f-f3022c84902f.png)

[2022-03-08 03:03] fzdwx commented on #361
用了agent包装还是这样...

[2022-03-08 03:47] fzdwx commented on #361
就是存入一次context后，其他任意线程都能获取到，然后`remove`之后，`set`的线程获取不到，其他线程还是能获取到
![image](https://user-images.githubusercontent.com/65269574/157162211-56053959-d888-4b52-80af-984af6816592.png)

![image](https://user-images.githubusercontent.com/65269574/157162461-d6cb309a-cf92-414e-82d5-ca8cbb6a759d.png)

[2022-03-08 03:48] fzdwx commented on #361
我是不是哪里用的姿势不对 😭

[2022-03-08 14:10] oldratlee commented on #361
@fzdwx `PriorityBlockingQueue`相关的问题。

给一个可以说明/复现问题的、极简可运行的Demo工程 ❤️；推荐：

- 提交成一个`github repo`，方便大家运行以了解、重现问题与排查解决
- 就像这个Issue https://github.com/alibaba/transmittable-thread-local/issues/226#issuecomment-739314037 给的工程 [`liauraljl/ttl-agent-demo`](https://github.com/liauraljl/ttl-agent-demo)

有一个可以说明/复现问题的、极简可运行的Demo工程，也可以排除可能的使用上的问题。

### 相关 Issue

- #330
- #178

[2022-03-08 16:06] oldratlee commented on #361
@fzdwx 问题已经确定了，正在修改中。

发一个版本出来后，你可以用新版本测试一下。

[2022-03-08 17:08] oldratlee commented on #361
发布了 `v2.12.5` @fzdwx
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.12.5

试一下 看看解决你的问题

[2022-03-08 17:58] oldratlee commented on #361
对于第二问题，和 使用方式与逻辑流程相关，可能涉及很多组件。
不能简单看看给你反馈。

你提供了 一个可以复现问题的、极简可运行的Demo工程 后，
可以开一下独立Issue 跟进。 @fzdwx

[2022-03-09 01:38] fzdwx commented on #361
ok,收到，我测试一下第一个问题，稍后给您答复。

[2022-03-09 01:53] #361 closed

[2022-03-09 03:46] fzdwx commented on #361
复现了。。我马上提一个新的issue @oldratlee

[2022-03-09 03:56] fzdwx opened #363 "ttl remove之后其他线程仍然能获取到值"
前期提要#361

可以看demo https://github.com/fzdwx/ttl-demo

@oldratlee

[2022-03-09 05:45] oldratlee commented on #363
![image](https://user-images.githubusercontent.com/1063891/157379727-8dcfec3c-0cc0-4e2a-89b4-74885701eb9d.png)

[code]

上面的实现，`Context.traceId`通过`TransmittableThreadLocal`（`TransmittableThreadLocal.copy()`）传递了`Context`的引用。

`Context.clear()`当前线程的`Context`的引用，并不会影响已经传递了`Context`引用的其它线程。

`InheritableThreadLocal`的传递也是这样的。

这是正常的功能，
可以熟悉了解一下`ThreadLocal`与`InheritableThreadLocal`，即`ThreadLocal`这个主题。 @

[2022-03-09 05:57] fzdwx commented on #363
我之前试验过，确实用`ThreadLocal`不会出现，用`InheritableThreadLocal`以及`ttl`都是这样，原来是这样，谢谢。

---
😘

[2022-03-09 05:57] #363 closed

[2022-03-09 06:40] oldratlee commented on #363
要想要效果，可以这样实现`clear`：  @fzdwx
（注意相应的线程安全问题，这样不演示）

[code]

但这样做，业务逻辑上几乎一定错的（即是 Bug）。 @fzdwx

[2022-03-09 06:42] fzdwx commented on #363
...

[2022-03-10 07:57] ocean-wll opened #364 "ttl attach咨询"
我们是做压测产品，需要使用ttl对线程池中的数据进行传标。

我们想把我们的产品封装成一个jar包，可以像arthas-boot那样去动态attach agent。

对ttl的处理方式是通过手动调用 TtlAgent.premain() ，但是发现不会对已经创建了的Runnable进行增强了。

所以对这一块的处理有什么好的建议吗？

[2022-03-16 06:49] DreamLettuce commented on #133
![image](https://user-images.githubusercontent.com/7601244/158528478-c8b3330d-50e0-462e-a198-92171c0fba2f.png)

看代码是根据`TtlAttachments.KEY_IS_AUTO_WRAPPER` 标记判断是否为`Auto Wrapper`，但是上方增强代码是直接调用的setAutoWrapperAttachment方法，并未判断是否被agent真正的增强成功。

如果用户调用线程池execute/submit时传参类型为TtlRunnable，则实际未被agent增强（因为TtlRunnable.get中有重复增强判断），却在beforeExecute/afterExecute中执行了unwarap逻辑（因为TtlRunnable本身实现了TtlAttachments）。

这

[2022-03-19 12:10] oldratlee commented on #133
@DreamLettuce  问题收到。

独立的问题，请开个新的 issue。 🙏

[2022-03-19 13:55] oldratlee commented on #133
@DreamLettuce

## 问题复现

在单元测试中，添加了复现的`Test Case`

https://github.com/alibaba/transmittable-thread-local/blob/32adad1138dd6b7c01483c83495cd8545d80cd4a/src/test/java/com/alibaba/ttl/threadpool/BeforeAndAfterExecuteMethodOfExecutorSubclassTest.kt#L58-L76

集成测试失败并复现问题：

[code]

https://ci.appveyor.com/project/oldratlee/transmittable-thread-local/builds/42950727/job/cwwfxds3f0mx0d93#L555

## 问题修复

- 修复

[2022-03-19 16:43] oldratlee commented on #314
上面一条评论给了说明。这个 Issue 先 Close 了。

[2022-03-19 16:43] #314 closed

[2022-03-21 02:47] DreamLettuce commented on #133
目前没有实际的业务场景，只是我们目前使用TTL(2.10.*版本)时遇到当前issue netty线程池强转的bug，查看社区fix代码时发现的这个小问题。

我也觉得一般情况下业务使用了agent不会再直接调用TtlRunnable对象，但是也有可能先使用了Java SDK，后续如果改为使用agent可能会暴露这个问题。

[2022-03-21 04:59] oldratlee commented on #133
推荐跟进升级，避免踩老版本的Bug。@DreamLettuce

具体看各版本release note中的说明：

https://github.com/alibaba/transmittable-thread-local/releases

[2022-03-30 17:09] 1000-7 opened #369 "replay 在遍历holder的过程中，什么情况下会出现 !captured.containsKey(threadLocal)为true"
我理解holder是维护父线程传递给子线程的threadLocal的值，
而captured快照中的ttl2Value也是将父线程传递给子线程的threadLocal的值保存起来
只是holder比较隐性，captured是显式的保存，但是他们俩的keySet应该是一致的，那什么情况下代码 `!captured.containsKey(threadLocal)`会为true呢

[2022-03-31 13:51] 1000-7 commented on #369
自己给自己答一波，
!captured.containsKey(threadLocal)为true
=> 子线程默认会得到将父线程传递过来的值放到holder里，
=> captured默认快照来源是父线程的holder
=> 此时run的时候立刻replay(captured)肯定是一致的，毫无疑问
=> 因此像TtlRunnable、TtlCallable的run方法实现，永远都是一致的。

but
=> holder中多了一些父线程快照中没有的ttl变量；
=> holder在子线程增加了一些或者capture变少了
=> 那就是你不用TtlRunnable那种标准的使用方式（继承改写或者直接调用ttl的方法），自己capture之后，子线程replay之前，又增加了一个ttl变量，这时会加到holder

这应该是算一种防御性设计，毕竟你用标准的TtlRunnable、TtlCal

[2022-03-31 18:09] oldratlee commented on #369
在子线程中的回放之前，业务也可能改了已有`TTL`的值，这是很常见的业务使用方式。

毕竟，如果能保证`TTL`实例且其值都是一致（没有变化），就没必要用`TTL`。@1000-7

[2022-03-31 18:09] #369 closed

[2022-04-06 07:15] heixiaoma opened #372 "对netty的EventExecutor进行修饰"
![image](https://user-images.githubusercontent.com/10923974/161916720-d65374ce-0274-440e-80f2-4b40b4172675.png)
目前这段代码可以完美的使用，但是性能不是很高，有没有办法直接获取ctx.executor()的就是TTL修饰过的，我尝试多次，貌似没有办法处理这个问题，前来和各位大哥交流学习下

[2022-04-06 07:16] heixiaoma commented on #372
这代码每次的请求都会修饰，还有一种就是缓存修饰的对象，但是我认为这是对low的做法，应该可以直接在源头上处理

[2022-04-06 07:30] oldratlee commented on #372
赞成 +1 ！

因为 执行框架/执行器有很多，所以在`TTL`库不能都实现好。

尤其是对于比较比较大的库的`TTL`集成，了解并实现稳定需要实际的线上验证机会。

你可以实现一个， @heixiaoma

- 先解决自己的问题，也有实践使用。
- 放出来给大家用

--------------

[2022-04-06 07:40] heixiaoma commented on #372
感谢老哥的建议，我多尝试尝试这个问题，或许通过javassist来修改netty的代码来实现或许是一种方法

[2022-04-07 08:03] heixiaoma commented on #372
[code]

[code]

写了一个demo，看上去也很丑

[2022-04-24 08:41] wuaping opened #377 "建议afterExecute()扩展点添加Runable和Throwable参数"
由于`replay`和`restore`都是在`run`方法里，所以`ThreadPoolExecutor`里的`afterExecute()`扩展点就无法继承`TTL`
<img width="623" alt="image" src="https://user-images.githubusercontent.com/27723280/164967913-470bb1ed-0cb5-404f-be0d-b445a2fbfbb4.png">

[2022-04-24 12:06] oldratlee commented on #377
看起来挺好。

你有什么实际的需求场景吗？ @wuaping

PS：

这个扩展点，用的很少。
自己几个之前碰到的使用场景，有更好的设计实现方式。
即我认为这个扩展点有些过度设计了，所以不想更复杂化了。
（现在因为兼容性也不能删除了）

[2022-04-24 12:23] wuaping commented on #377
我现在遇到的场景：
我在打印日志时会有个traceId，使用TTL保存。
当在线程池里出现exception时，我实现了ThreadPoolExecutor里的afterExecute()方法来打印异常日志。但是发现此时的TTL已经被restore了。
我发现了TTL也有afterExecute()的扩展点，但是没有入参，所以这个扩展点无法实现相关业务。

我现在的解决方案是：只能是实现spi里的

[2022-04-24 12:33] oldratlee commented on #377
线程池执行的看起来，应该在线程池的扩展方法中解决。

`TTL`与执行的任务 是 多对一 的关系，生命周期/职责也不对。

[2022-04-24 12:43] wuaping commented on #377
谢谢指导🙏，不过这个场景与我的不太一样，我的目的是为了监控线程池的异常，线程池异常如果不进行异常打印的话，堆栈信息无法被ELK收集

[2022-04-24 12:51] wuaping commented on #377
我理解并认同您说的职责，我在思考因为TTL是在Runnable上实现数据的复制和restore，但是在数据方面牺牲了线程池的afterExecute()扩展点，是否考虑在TtlRunnable上新增afterExecute()扩展点

[2022-04-24 12:55] oldratlee commented on #377
为什么『在Runnable上实现数据的复制和restore，在数据方面，会牺牲了 线程池的afterExecute()扩展点』？ @wuaping

线程池的`afterExecute()`扩展点 与 `Runnable` 应该是正交的。

在线程池看来，都是 普通的`Runnable`。
（不关心具体的实现是什么，`TtlRunnable` or 其它）

[2022-04-24 13:12] wuaping commented on #377
『在TtlRunnable上实现数据的复制和restore，在数据方面，会牺牲了 线程池的afterExecute()扩展点』
--- 从使用者角度觉得，在使用TTL后，线程池的afterExecute()里无法使用TTL的数据业务，而且还是同一个线程

我能理解您想表达TTL的职责边界就是Runnable，所以我才会想在Runnable去添加一些扩展点来弥补这种使用场景

[2022-04-24 17:10] oldratlee commented on #377
明白你说的了 😅

---------

- 对于`TTL Agent`的使用方式
    - 线程池的`afterExecute()`回调收到的`Runnable`是 没有`TtlRunnable Wrap`过的。
    （即业务的`Runnable`）。
- 如果使用`TTL API`（如`TtlExecutors#getTtlExecutorService()`，

[code]

[2022-04-25 01:41] wuaping commented on #377
👍十分感谢

[2022-04-25 01:42] #377 closed

[2022-04-30 07:15] SZMOFEI commented on #111
niubi

[2022-05-20 01:56] lylylyly opened #379 "SheduledExecutorService遭遇releaseTtlValueReferenceAfterCall时，似乎不太正常"
注意到`TtlCallable`上有一个参数`releaseTtlValueReferenceAfterCall`，请问这个参数的设计意图是要解决：

某些意料之外情况下复用线程时，旧的`TransmittableThreadLocal`有可能未被正常清除，导致引用到错误的上下文吗？
我在issue里似乎没找到有关于`ScheduledExecutorService`的提问。

我这里有一个使用场景遇到一个问题，不知道用法对不对，或者有是否有其他最佳实践可用：

[code]

这段定时调度的代码只会执行一次，第二次执行会在`TtlCallable`处抛异常终止。

解释下`releaseTtlValueReferenceAfterCall`我设置为`true`的原因：

线上大规模使用`TransmittableThreadLocal`时确实时不时遇到没清理上下文，引用到错误的上下文的问

[2022-05-20 10:12] DockerFan opened #380 "已经加载到jvm的ForkJoinTask如何做ttl增强？"
目前在基于阿里开源的sandbox-repeater做录制回放，录制的业务本身使用了ForkJoinPool，业务本身使用的时候并没有继承TtlRecursiveTask重写compute方法，没开启ttl。

但是sandbox-repeter需要对这块进行开启跟踪，不然会影响上下文信息的拷贝，
并且sandbox-repeter本身是基于before、return等event事件的又没法通过反射增加新的继承类和重写方法。

这种有什么思路可以解决吗？期待回复。

[2022-05-20 10:19] oldratlee commented on #380
目前没有支持。 @DockerFan

相关Issue

- #169
- #364

[2022-05-20 10:22] oldratlee commented on #32
duplicated with #169, closed

[2022-05-20 10:22] #32 closed

[2022-05-20 10:25] #73 closed

[2022-05-20 11:17] oldratlee commented on #379
对于要执行多次的任务，不能releaseTtlValueReferenceAfterCall为true，否则功能不正确了。

[2022-05-20 11:37] #379 closed

[2022-05-20 11:41] oldratlee commented on #364
目前没有支持『对已加载的类做增强』。 @ocean-wll

相关Issue

- #169
- #380

-------------

attach的功能 讨论与进展 在下面 issue 中跟进

- #169

[2022-05-20 11:41] #364 closed

[2022-05-20 11:41] #380 closed

[2022-05-20 12:23] lylylyly commented on #379
好吧也就是说这个场景不能这么用了……

[2022-05-20 13:41] oldratlee commented on #379
是的。

------

我在`releaseTtlValueReferenceAfterCall`的 JavaDoc 上，加上面向业务场景的具体使用说明，会方便用户使用快速理解。

[2022-05-22 13:03] oldratlee commented on #379
@lylylyly 上面的回复中，补了一些说明与资料，可以再看一下 ❤️

[2022-05-24 14:33] DockerFan commented on #380
debug看业务代码ForkJoinPool的execute方法里的传参是个runnable类型，那可以把一个ForkJoinTask的任务强转成一个runnable，然后处理成ttlRunnable类型这样来开启ttl吗？

[2022-05-25 16:50] #116 closed

[2022-05-26 15:53] #268 closed

[2022-05-27 06:11] fengzidk opened #383 "如何实现完成线程传递后的初始化操作"
根据业务场景,在线程传递完成后需要进行一些默认的初始化操作
例如: 根据传递的ThreadLocal值 初始化子线程的数据源信息

目前`TransmittableThreadLocal.set()`方法不允许被重写,如何在不修改源码的前提下实现?

[2022-05-27 08:08] oldratlee commented on #383
`ThreadLocal`（`TransmittableThreadLocal`是`Thread`，子类）的初始化

- 通过直接语义对应的扩展`protected`方法 [`initialValue`](https://docs.oracle.com/javase/10/docs/api/java/lang/ThreadLocal.html#initialValue())（不需要用户使用时来调用）
- 而不是通过 要用户调用 语义不对应的 `set`方法。

@fengzidk

[2022-05-27 08:11] #383 closed

[2022-05-30 10:41] #128 closed

[2022-05-30 10:41] oldratlee commented on #128
欢迎大家继续讨论 ❤️

[2022-05-30 10:42] shenjianeng commented on #128
这是来自邮箱的自动回复邮件，我已收到邮件。-------------------------------------------------                                                          

[2022-05-30 10:42] #123 closed

[2022-05-30 10:43] oldratlee commented on #123
欢迎大家继续贡献文章等资料 ❤️

[2022-06-01 01:15] DockerFan opened #384 "ForkJoinPool提交的任务是一个runnable类型的，请问这种可以直接把runnable转成ttlRunnable来达到开启ttl的目的吗？"
debug看业务代码ForkJoinPool的execute方法里的传参是个runnable类型，那可以把一个ForkJoinTask的任务强转成一个runnable，然后处理成ttlRunnable类型这样来开启ttl吗？

[2022-06-01 06:07] oldratlee commented on #384
@DockerFan

1. 你可以测试一下，验证效果。
1. 要给一下完整的代码（以确认具体的使用方式） 并 说明你的运行效果期望。

[2022-06-02 01:24] DockerFan commented on #384
目前解决方案：一.将ttl-agent绑定到被测服务，这样对于ForkJoinPool所有线程池方法都进行了增强，理论上是不是就可以通过sandbox-repeater从TransmittableThreadLocal拿到正确的上下文拷贝结果呢？
二.通过反射机制，将ForkJoinPool 的execute(Runnable task) 如下方法的runnable转成ttlRunnable
`public void execute(Runnable task) {
        if (task == null)
            throw new NullPointerException();
        ForkJoinTask<?> job;
        if (task instanceof ForkJoinTask<?>) // avoid re-wrap

[2022-06-03 21:28] oldratlee commented on #384
@DockerFan 目前`TTL`没有支持 Attach方式『对已加载的类做增强』。 更多说明参见 已有的 issue：

- #380

[2022-06-03 22:37] oldratlee commented on #384
https://zhuanlan.zhihu.com/p/503149395

这篇提到：解决了 `TTL`运行时生效增强 的问题；并给了代码实现库。

具体解决的情况，你可以看看。 @DockerFan

[2022-06-10 07:28] fliaping opened #386 "开启Agent后TransmittableThreadLocal初始化报错"
版本：2.12.6
agent配置：
[code]
报错信息：
[code]

[2022-06-10 07:55] oldratlee commented on #386
@fliaping 报错信息/栈信息 给完整了吗？

另外，可以整理一个极简可运行复现问题的demo 代码repo

[2022-06-11 03:36] fliaping commented on #386
@oldratlee 我试了一下和pandora容器有关，纯spring boot没问题，不过我看你已经从阿里离职了，不知道集团内还有没有负责这个工具的同学，我可以把代码转给他看看

[2022-06-11 10:20] oldratlee commented on #386
@fliaping 这个 issue 先 close 了；如果与`TTL`可以 reopen。

[2022-06-11 10:20] #386 closed

[2022-06-12 11:37] #384 closed

[2022-06-12 11:38] oldratlee commented on #384
先 close 了；有进一步问题可以继续讨论。

[2022-06-12 11:41] oldratlee commented on #372
先 close 了；有进一步信息或问题可以继续讨论。

[2022-06-12 11:41] #372 closed

[2022-06-12 11:42] oldratlee commented on #335
参见

- #372

先 close 了；有进一步信息或问题可以继续讨论。

[2022-06-12 11:42] #335 closed

[2022-06-15 09:43] howardliu-cn opened #388 "通过agent方式做字节码增强引起ClassLoader.loadClass加载Narhon引擎时报错Nest-host class_info_index 21 has bad constant type"
启动参数：-javaagent:transmittable-thread-local-2.12.1.jar

运行时报错：Caused by: java.lang.ClassFormatError: Nest-host class_info_index 21 has bad constant type in class file jdk/nashorn/internal/codegen/OptimisticTypesPersistence$5

代码：
[code]

异常栈:
[code]

删除这个agent就能够表现正常。

[2022-06-16 07:16] oldratlee commented on #388
搜索了一下，应该要升级`javassist`。

@howardliu-cn 你可以

- 升级`java`到 8
- 升级`javassist`到最新版本

打个`TTL`包试一下能不能解决问题，

如果 OK，我发布个`TTL`新版本出来。

[2022-06-16 20:07] oldratlee commented on #388
@howardliu-cn 发布了`v2.13.0`，试一下

[code]

Release Note:
https://github.com/alibaba/transmittable-thread-local/releases/tag/v2.13.0

[2022-06-22 11:35] gowherefindp commented on #132
能请教一下吗,为什么这个场景下new Thread()后 holder中没有"hello"了

[2022-06-23 05:13] oldratlee commented on #388
@howardliu-cn 先 close 了。有问题继续讨论 ❤️

[2022-06-23 05:13] #388 closed

[2022-06-23 06:29] howardliu-cn commented on #388
多谢，线下环境已验证可行，今晚线上环境验证一下。

[2022-06-23 08:03] oldratlee commented on #123
@qiujunlin 收到，我改一下，谢谢 ❤️

[2022-06-25 08:54] whaceyou commented on #173
如果ThreadPoolTaskExecutor  不支持的话   下面的这个配置   在spring注入的时候 如果使用  ThreadPoolTaskExecutor  来引用启动就会报类型不匹配
![image](https://user-images.githubusercontent.com/59213102/175766054-25ccb5f2-d08c-4d82-8ad2-1cf788e8c019.png)